main {
  padding: 0 1rem 1rem 1rem;
}

main .button {
  font-size: var(--font-size-4);
}

main h2 {
  margin-top: 0;
  margin-bottom: 1rem;
}

main h3 {
  margin-bottom: 1rem;
  font-weight: 900;
}

#content {
  display: grid;
  gap: 2rem;
}
#collapsing-content {
  margin-top: 5rem;
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10rem;
  max-width: 60rem;
  width: 100%;
  text-align: center;
}

#hero {
  display: grid;
  height: 750px;
  justify-self: center;
  width: 100vw;
  margin-left: -2rem;
  margin-right: -2rem;
}

#hero > * {
  grid-area: 1 / -1;
}

#surface-content {
  z-index: 2;
  padding: 2rem;
  display: grid;
  place-content: center;
  gap: 3rem;
}

#link-block {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

#link-block button:nth-of-type(1) {
  background: var(--button-background);
}

#hero-images {
  filter: brightness(0.8);
}

#hero-images > * {
  grid-area: 1 / -1;
}

.hero-image {
  object-fit: cover;
  width: 100%;
  height: 750px;
  filter: brightness(0.7);
  background: var(--image-background);
}

#hero-text {
  align-self: start;
}

#hero-text h1 {
  color: #eee;
  font-weight: 900;
}

#hero-text .subtitle {
  background: #eee;
  display: inline-block;
  color: var(--accent-color);
  border-radius: 8px;
  padding: 4px 8px;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

#hero .button {
  color: #eee;
  border-color: #eee;
  text-align: left;
}

.split-section {
  border-radius: 8px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3rem;
  align-items: center;
  justify-items: end;
  width: 100%;
}

.split-section img {
  max-height: 300px;
  max-width: 750px;
  object-fit: cover;
  border-radius: 8px;
  justify-self: center;
}

.split-section video {
  justify-self: center;
}

.split-section-text {
  justify-self: start;
}

.split-section video {
  max-width: 750px;
}
.banner-section {
  display: grid;
  width: 100%;
  border-radius: 8px;
}
.banner-section-inner {
  margin: auto;
  text-align: center;
  display: grid;
  grid-gap: 3rem;
}

.banner-section-inner .button {
  justify-self: center;
  border-color: var(--border-color);
}

.split-section,
.banner-section {
  justify-self: center;
  max-width: 60rem;
  max-height: 40rem;
  height: 100%;
  width: 100%;
}

@media (hover: hover) and (pointer: fine) {
  div#hero .button:hover {
    background: #111;
    border-color: #111;
    color: #eee;
  }
}

@media (min-width: 650px) {
  footer {
    padding-bottom: 2rem;
  }
}
