#login-overlay {
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: var(--primary-background);
  transition: all 0.5s;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-gap: 3rem;
  padding: 1rem;
  overflow-y: auto;
}

#login-inner {
  max-width: 50rem;
  place-self: center;
}

#login-form-container {
  background: var(--secondary-background);
  border-radius: 8px;
  padding: 2rem;
}

#close-login {
  cursor: pointer;
  border-color: var(--primary-text);
  align-self: center;
  justify-self: end;
}

#login-form {
  visibility: visible;
  margin-bottom: 2rem;
}

.form-inputs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

#login-form label {
  /* text-transform: uppercase; */
  margin-bottom: 1rem;
  font-size: var(--font-size-3);
}

#login-form input[type="email"] {
  cursor: text;
  border-color: var(--primary-text);
  width: 100%;
  max-width: 300px;
}

#login-message {
  visibility: hidden;
  display: none;
}

#return-message {
  /* text-transform: uppercase; */
  font-weight: 700;
  margin: 2rem 0;
}

#log-out {
  visibility: hidden;
  display: none;
  margin-top: 2rem;
}

#log-out,
#log-in {
  border-color: var(--primary-text);
  background: none;
}

@media (hover: hover) and (pointer: fine) {
  button#log-out:hover,
  input#log-in:hover,
  button#close-login:hover {
    background: var(--primary-text);
    color: var(--secondary-background);
  }
  #log-in:hover:disabled {
    background: none;
    color: var(--primary-text);
    cursor: default;
  }
}

body.loggedIn #log-out {
  visibility: visible;
  display: block;
}

body.loggedIn #login-message {
  visibility: visible;
  display: block;
}

body.loggedIn #login-form {
  visibility: hidden;
  display: none;
}
