@font-face {
  font-display: block;
  font-family: Inter;
  font-style: normal;
  font-weight: 1 999;
  src: url(/public/assets/fonts/Inter-roman.woff2)
      format("woff2 supports variations"),
    url(/public/assets/fonts/Inter-roman.woff2) format("woff2-variations");
}

@font-face {
  font-display: block;
  font-family: Inter;
  font-style: italic;
  font-weight: 1 999;
  src: url(/public/assets/fonts/Inter-italic.woff2)
      format("woff2 supports variations"),
    url(/public/assets/fonts/Inter-italic.woff2) format("woff2-variations");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

/* html,
body {
  height: 100%;
} */

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video {
  display: block;
  width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

:root {
  --global-font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
    "Helvetica Neue", Arial, sans-serif;

  --accent-color: hsl(128, 80%, 33%);

  --brand-color: hsl(128, 80%, 33%);

  --text-color: #eee;

  --invert-text-color: #111;

  --background-color: #111;

  --invert-background-color: #eee;

  --image-background-color: #eee;

  --border-color: #eee;

  --invert-border-color: #111;

  --button-background-color-hover: #eee;

  --button-text-color-hover: #111;

  --font-size-1: clamp(0.7rem, 0.66rem + 0.2vw, 0.8rem);
  --font-size-2: clamp(0.85rem, 0.83rem + 0.24vw, 1rem);
  --font-size-3: clamp(1rem, 1rem + 0.5vw, 1.25rem);
  --font-size-4: clamp(1.25rem, 1rem + 1vw, 1.5rem);
  --font-size-5: clamp(1.25rem, 1rem + 1.5vw, 2.5rem);
  --font-size-6: clamp(1rem, 1rem + 2vw, 3.5rem);
  --font-size-7: clamp(1.75rem, 1rem + 3vw, 4.5rem);
}

.accent-color {
  color: var(--brand-color);
}

input,
select,
textarea {
  border: none;
  border-radius: 8px;
  font-weight: 700;
}

textarea {
  padding: 8px;
}

input[type="number"],
input[type="text"],
input[type="tel"],
input[type="email"] {
  padding: 0.4rem;
}

input[type="text"]::placeholder {
  text-transform: none;
}

input[type="checkbox"] {
  appearance: checkbox;
  -webkit-appearance: checkbox;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: var(--global-font-family);
  min-height: 100vh;
  color: var(--text-color);
  background: var(--background-color);
  word-break: break-word;
}

body > footer {
  position: sticky;
  top: 100vh;
}

main {
  padding: 1rem;
  display: grid;
}

p.paragraph-title {
  font-weight: 600;
  text-transform: none;
}

main p a {
  text-decoration: underline;
}

.lowercase {
  text-transform: lowercase;
}

:focus {
  outline: none;
}

i {
  font-synthesis: none;
  font-variation-settings: "ital" 1;
}

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.2;
}

h1 {
  font-size: var(--font-size-7);
  font-weight: 900;
}

h2 {
  font-size: var(--font-size-6);
}

h3 {
  font-size: var(--font-size-5);
}

main h3 {
  font-weight: 900;
}

p,
a {
  font-size: var(--font-size-3);
}

p.bold-up {
  font-weight: 700;
}

button,
.button {
  font-size: var(--font-size-2);
}

input,
select {
  font-size: var(--font-size-2);
}

input,
textarea {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

iframe {
  border: none;
  border-radius: 8px;
  background: var(--image-background-color);
}

button,
.button,
input[type="submit"] {
  border: 2px solid var(--text-color);
  font-weight: 700;
  padding: 0.3rem 0.6rem;
  text-transform: uppercase;
  background: none;
  cursor: pointer;
  border-radius: 8px;
  opacity: 1;
  color: var(--text-color);
}

input[type="search"] {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1rem;
  width: 1rem;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 150 150'><path style='fill:none;stroke:%23111;stroke-width:20px' d='m5 5 140 140m0-140L5 145'/></svg>");
  background-repeat: no-repeat;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

button:disabled,
input:disabled,
select:disabled {
  opacity: 0.7;
  cursor: default;
}

video {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

video[poster] {
  object-fit: cover;
}

ul {
  list-style: none;
}

select {
  border-radius: 8px;
  font-weight: 700;
  padding: 0.3rem;
}

button,
select,
input {
  font-family: var(--global-font-family);
}

details > summary {
  list-style: none;
}

details > summary::-webkit-details-marker {
  display: none;
}

#content {
  opacity: 1;
  height: 100%;
}

label {
  display: block;
  font-weight: 700;
}

header {
  width: 100%;
  height: auto;
  z-index: 3;
  position: sticky;
  top: 0;
  background: var(--background-color);
  display: grid;
  padding: 1rem;
}

#header {
  display: grid;
  align-items: center;
  gap: 1rem;
  opacity: 1;
  max-width: 80rem;
  width: 100%;
  justify-self: center;
  grid-template-columns: 1fr;
}

#header-buttons {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-self: start;
}

.logo {
  height: 50px;
  width: auto;
}

footer {
  margin-top: 10rem;
  max-width: 80rem;
  width: 100%;
  display: grid;
  justify-self: center;
}
footer p {
  font-weight: 700;
}

#footer-grid {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-gap: 5rem;
}

#footer-grid p a {
  text-decoration: none;
  font-size: var(--font-size-3);
}

#subscribe-form {
  width: 100%;
  display: flex;
  gap: 3rem;
  border-radius: 8px;
  flex-wrap: wrap;
}

#email-signup .paragraph-title {
  font-weight: 700;
}

#email-signup input[type="text"],
#email-signup input[type="email"] {
  width: 150px;
}

#email-signup p {
  align-self: end;
  justify-self: center;
}

#signup-form-inner {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-self: center;
}

#subscribe-form label {
  margin-bottom: 0.5rem;
}

#subscribe-form input {
  border: none;
}

#subscribe-form input[type="submit"] {
  border: 2px solid var(--text-color);
  border-radius: 8px;
  align-self: end;
}

#footer-links {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

#footer-links p {
  text-align: center;
  font-size: var(--font-size-3);
}

#page-content {
  display: grid;
  grid-template-rows: 1fr auto;
}

#top-buttons-block {
  display: flex;
  gap: 1rem;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  max-width: 80rem;
  justify-self: center;
}

#top-buttons-block p {
  font-weight: 700;
  line-height: 1;
  font-size: var(--font-size-4);
  flex-grow: 2;
}

body.login-open #login-overlay,
body.order-open #order-overlay,
body.order-sent-open #order-sent-overlay,
body.submit-order-open #submit-order-overlay,
body.main-menu-open #main-menu-overlay,
body.filter-open #filter-overlay {
  opacity: 1;
  z-index: 8;
  visibility: visible;
}

body.login-open,
body.order-open,
body.order-sent-open,
body.submit-order-open,
body.main-menu-open,
body.stock-table-open,
body.lightbox-open,
body.filter-open {
  overflow-y: hidden;
}

.utility-button {
  border: none;
  font-size: var(--font-size-3);
  cursor: pointer;
}

.wholesale-price {
  display: none;
}

.retail-price {
  display: inline-block;
}

body.loggedIn .wholesale-price {
  display: inline-block;
}
body.loggedIn .retail-price {
  display: none;
}

@media (hover: hover) and (pointer: fine) {
  button:hover:enabled,
  .button:hover,
  input[type="submit"]:hover {
    cursor: pointer;
    background: var(--button-background-color-hover);
    color: var(--button-text-color-hover);
  }

  #header-buttons button:hover {
    background: var(--text-color);
    color: var(--background-color);
    border-color: var(--border-color);
  }
  a:hover {
    color: var(--accent-color);
  }

  #desktop-menu button:hover {
    background: var(--background-color);
    color: var(--accent-color);
  }

  #content-inner .button:hover,
  #content-grid .button:hover {
    cursor: pointer;
    background-color: var(--text-color);
    color: var(--background-color);
  }

  #subscribe-form input[type="submit"]:hover {
    color: var(--background-color);
    background: var(--text-color);
  }

  input[type="checkbox"]:hover {
    cursor: pointer;
  }
}

@media (min-width: 650px) {
  #email-signup input[type="text"],
  #email-signup input[type="email"] {
    width: 100%;
  }

  #header {
    grid-template-columns: auto 1fr;
  }

  #header-buttons {
    justify-self: start;
  }
  #search-section {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .logo {
    height: 75px;
  }
}

@media (min-width: 900px) {
  #header {
    grid-template-columns: auto auto 1fr;
    gap: 2rem;
  }
  #search-section {
    grid-row-start: 1;
    grid-column-start: 3;
  }
  #header-buttons {
    justify-self: center;
  }
}

@media (min-width: 1050px) {
  div#footer-links {
    grid-template-columns: repeat(3, auto);
  }

  #footer-links p:first-child {
    text-align: left;
  }

  #footer-links p:last-child {
    text-align: right;
  }
  #header {
    gap: 4rem;
  }
}

@media (min-width: 1200px) {
  #header {
    gap: 7rem;
  }
}

@media (min-width: 1350px) {
  div#email-signup {
    grid-template-columns: auto 1fr;
  }
  #subscribe-form {
    justify-self: end;
  }
}
