@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  font-weight: 1 999;
  src: url(/public/assets/fonts/Inter-roman.woff2)
      format("woff2 supports variations"),
    url(/public/assets/fonts/Inter-roman.woff2) format("woff2-variations");
}

@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: italic;
  font-weight: 1 999;
  src: url(/public/assets/fonts/Inter-italic.woff2)
      format("woff2 supports variations"),
    url(/public/assets/fonts/Inter-italic.woff2) format("woff2-variations");
}

/* RESET */

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
/* p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  word-break: break-word;
} */

/**********************/

:root {
  --global-font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
    "Helvetica Neue", Arial, sans-serif;

  --accent-color: lch(55%, 74, 139);
  --accent-color: hsl(128, 80%, 33%);

  --brand-color: lch(55%, 74, 139);
  --brand-color: hsl(128, 80%, 33%);

  --primary-text: lch(15%, 29, 142);
  --primary-text: hsl(128, 80%, 10%);

  --primary-background: lch(88%, 9, 148);
  --primary-background: hsl(128, 20%, 85%);

  --secondary-background: lch(99%, 1, 149);
  --secondary-background: hsl(128, 20%, 99%);

  --image-background: lch(88%, 9, 148);
  --image-background: hsl(128, 20%, 85%);

  --border-color: lch(88%, 9, 148);
  --border-color: hsl(128, 20%, 85%);

  --button-background: lch(99%, 1, 149);
  --button-background: hsl(128, 20%, 99%);

  --button-background-hover: lch(88%, 9, 148);
  --button-background-hover: hsl(128, 20%, 85%);

  --default-animation-easing: cubic-bezier(0.31, 0.87, 0.32, 1);

  --font-size-1: clamp(0.7rem, 0.66rem + 0.2vw, 0.8rem);
  --font-size-2: clamp(0.85rem, 0.83rem + 0.24vw, 1rem);
  --font-size-3: clamp(1rem, 1rem + 0.5vw, 1.25rem);
  --font-size-4: clamp(1.25rem, 1rem + 1vw, 1.5rem);
  --font-size-5: clamp(1.25rem, 1rem + 1.5vw, 2.5rem);
  --font-size-6: clamp(1rem, 1rem + 2vw, 3.5rem);
  --font-size-7: clamp(1.75rem, 1rem + 3vw, 4.5rem);
  /* --font-size-8: clamp(1.5rem, 1rem + 5vw, 5.5rem); */
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    transform: scale(1) translate3d(0, 75%, 0);
    opacity: 0;
  }
  to {
    transform: scale(1) translate3d(0, 0, 0);
    opacity: 1;
  }
}

.accent-color {
  color: var(--brand-color);
}

input,
select,
textarea {
  color: var(--primary-text);
  border: 2px solid var(--primary-text);
  border-radius: 8px;
  /* font-size: 1rem; */
  font-weight: 700;
  background: var(--secondary-background);
}

textarea {
  padding: 8px;
}

input[type="number"],
input[type="text"],
input[type="tel"],
input[type="email"] {
  padding: 0.4rem;
}

input[type="checkbox"] {
  appearance: checkbox;
  -webkit-appearance: checkbox;
  accent-color: var(--primary-text);
}

html {
  scrollbar-color: var(--primary-text) var(--secondary-background);
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--secondary-background);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-text);
}

/* MAIN PAGE SECTIONS */
body {
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: var(--global-font-family);
  min-height: 100vh;
  color: var(--primary-text);
  background: var(--primary-background);
  word-break: break-word;
}

body > footer {
  position: sticky;
  top: 100vh;
}

main {
  padding: 1rem;
  overflow-x: hidden;
  display: grid;
  /* justify-content: center; */
}

p.paragraph-title {
  font-weight: 700;
  text-transform: uppercase;
}

main p a {
  text-decoration: underline;
}

.lowercase {
  text-transform: lowercase;
}

:focus {
  outline: none;
}

i {
  font-synthesis: none;
  font-variation-settings: "ital" 1;
}

h1,
h2,
h3 {
  /* text-transform: uppercase; */
  font-weight: 700;
  line-height: 1.2;
  transition: all 0.25s cubic-bezier(0.31, 0.87, 0.32, 1);
}

h1 {
  font-size: var(--font-size-7);
  font-weight: 900;
}

h2 {
  font-size: var(--font-size-6);
}

h3 {
  font-size: var(--font-size-5);
}

main h3 {
  font-weight: 900;
}

p,
a {
  font-size: var(--font-size-3);
}

p.bold-up {
  /* text-transform: uppercase; */
  font-weight: 900;
}

button,
.button {
  font-size: var(--font-size-2);
}

input,
select {
  font-size: var(--font-size-2);
}

input,
textarea {
  -webkit-user-select: text; /* Chrome, Opera, Safari */
  -moz-user-select: text; /* Firefox 2+ */
  -ms-user-select: text; /* IE 10+ */
  user-select: text; /* Standard syntax */
}

iframe {
  border: none;
  border-radius: 8px;
}

button,
.button,
input[type="submit"] {
  border: 2px solid var(--primary-text);
  font-weight: 900;
  padding: 0.3rem 0.6rem;
  text-transform: uppercase;
  background: none;
  transition: all 0.4s cubic-bezier(0.31, 0.87, 0.32, 1);
  cursor: pointer;
  border-radius: 8px;
  opacity: 1;
  color: var(--primary-text);
}

a {
  text-decoration: none;
  color: var(--primary-text);
  transition: all 0.25s cubic-bezier(0.31, 0.87, 0.32, 1);
}

h1 {
  margin-bottom: 1rem;
}

button:disabled,
input:disabled,
select:disabled {
  opacity: 0.7;
  cursor: default;
}

video {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

video[poster] {
  object-fit: cover;
}

ul {
  list-style: none;
}

select {
  border-radius: 8px;
  font-weight: 700;
  padding: 0.3rem;
}

button,
select,
input {
  font-family: var(--global-font-family);
}

#content {
  opacity: 1;
  overflow-y: hidden;
}

/*********************************/

label {
  display: block;
  /* text-transform: uppercase; */
  font-weight: 900;
}

/* HEADER AND MENUS */

header {
  width: 100%;
  height: auto;
  z-index: 3;
  background: var(--secondary-background);
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  opacity: 1;
}

#header-buttons {
  display: flex;
  justify-self: end;
  gap: 1rem;
  /* margin-right: 2rem; */
  flex-wrap: wrap;
}

.logo {
  height: 75px;
  width: auto;
}
/* FOOTER */
footer {
  margin-top: 10rem;
  max-width: 80rem;
  width: 100%;
  display: grid;
  justify-self: center;
  /* padding: 1rem; */
}
footer p {
  font-weight: 900;
  text-transform: uppercase;
}

#footer-grid {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-gap: 5rem;
}

#footer-grid p a {
  text-decoration: none;
  font-size: var(--font-size-3);
}

#email-signup {
  width: 100%;
  display: grid;
  grid-gap: 3rem 5rem;
  background: var(--secondary-background);
  padding: 2rem;
  border-radius: 8px;
}

#email-signup input {
  width: 150px;
}

#email-signup p {
  align-self: center;
  justify-self: center;
}

#subscribe-form {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-self: center;
}

#subscribe-form label {
  margin-bottom: 0.5rem;
}

#subscribe-form input {
  border: 2px solid var(--primary-text);
}

#subscribe-form button[type="submit"] {
  border: 2px solid var(--primary-text);
  border-radius: 8px;
  align-self: end;
}

#footer-links {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

#footer-links p {
  text-align: center;
  font-size: var(--font-size-3);
}
/*************************************/

#page-content {
  display: grid;
  grid-template-rows: 1fr auto;
}

body.search-open #search-overlay,
body.login-open #login-overlay,
body.order-open #order-overlay,
body.main-menu-open #main-menu-overlay {
  opacity: 1;
  z-index: 8;
  visibility: visible;
}

body.search-open,
body.login-open,
body.order-open,
body.main-menu-open {
  position: fixed;
  overflow-y: scroll;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@media (hover: hover) and (pointer: fine) {
  button:hover:enabled,
  .button:hover,
  input[type="submit"]:hover {
    cursor: pointer;
    background: var(--button-background-hover);
  }

  #header-buttons button:hover {
    background: var(--primary-text);
    color: var(--secondary-background);
    border-color: var(--primary-text);
  }
  a:hover:not(header a) {
    color: var(--brand-color);
  }

  #content-inner .button:hover,
  #content-grid .button:hover {
    cursor: pointer;
    background-color: var(--primary-text);
    color: var(--secondary-background);
  }

  #subscribe-form button[type="submit"]:hover {
    color: var(--secondary-background);
    background: var(--primary-text);
  }

  input[type="checkbox"]:hover {
    cursor: pointer;
  }
}

@media (min-width: 650px) {
  main,
  nav#header {
    padding: 2rem;
  }

  #email-signup input {
    width: 100%;
  }

  /* #email-signup {
    padding: 2rem;
  } */
}

@media (min-width: 1050px) {
  div#footer-links {
    grid-template-columns: repeat(3, auto);
  }

  #footer-links p:first-child {
    text-align: left;
  }

  #footer-links p:last-child {
    text-align: right;
  }
}

@media (min-width: 1350px) {
  div#email-signup {
    grid-template-columns: auto 1fr;
  }
  #subscribe-form {
    justify-self: end;
  }
}
