#main-menu-overlay {
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: var(--background-color);
  display: grid;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 1rem;
  grid-template-rows: auto 1fr;
  gap: 2rem;
}

#main-menu-inner {
  display: grid;
}

#main-menu-items {
  display: grid;
  width: 100%;
  align-self: center;
}

.main-menu-list {
  padding: 0;
  gap: 2rem;
  width: 100%;
  align-content: start;
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr;
}

.main-menu-list-item-link {
  display: grid;
  width: 100%;
  text-transform: none;
}

.main-menu-list-item-link p {
  font-size: var(--font-size-6);
  font-weight: 700;
}

#header-buttons button {
  font-size: var(--font-size-3);
  border: none;
}

@media (hover: hover) and (pointer: fine) {
  .main-menu-list-item-link:hover {
    color: var(--brand-color);
    background: none;
  }
}

@media (min-width: 800px) {
  .main-menu-list {
    grid-template-columns: 1fr 1fr;
  }
}
