#main-menu-overlay {
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: var(--primary-background);
  /* transition: all 0.5s var(--default-animation-easing); */
  display: grid;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 1rem;
}
/* 
#main-menu {
  opacity: 1;
  z-index: 9;
} */

#main-menu-inner {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-gap: 2rem;
}

#main-menu-items {
  display: grid;
}

#main-menu-items > * {
  grid-area: 1 / -1;
}

.main-menu-list {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 500px));
  grid-gap: 3rem;
  justify-content: center;
  align-content: start;
}

.main-menu-list-item {
  /* background: var(--secondary-background); */
  border-radius: 8px;
  border: 2px solid var(--primary-text);
  max-height: 400px;
  height: 100%;
}

.main-menu-list-item-link,
.sub-menu-button button {
  display: grid;
  width: 100%;
  padding: 1rem;
  text-transform: none;
}

#main-menu-inner .button {
  border: none;
}

#desktop-menu {
  display: none;
  position: relative;
  grid-auto-flow: column;
  align-items: center;
  grid-gap: 2rem;
  padding: 0;
}

#desktop-menu li a,
#desktop-menu li button {
  text-transform: none;
  font-weight: 700;
}

#desktop-menu .button,
#desktop-menu button,
#main-menu .button {
  border: none;
  font-size: var(--font-size-3);
}

#header-buttons button {
  font-size: var(--font-size-2);
}

.dropdown-sub-menu {
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  transition: 300ms all 150ms;
  display: grid;
  grid-gap: 1rem;
  position: absolute;
  top: 110%;
  left: 0;
  background: var(--primary-background);
  color: var(--primary-text);
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  border: 2px solid var(--primary-text);
}

.dropdown-sub-menu a {
  font-size: var(--font-size-2);
}

.dropdown-menu-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.dropdown-menu-button svg {
  height: 1.2rem;
  width: 1.2rem;
}

.dropdown-menu {
  position: relative;
}

#desktop-menu .dropdown-sub-menu .button {
  font-size: var(--font-size-2);
}

#back-button,
#close-menu {
  cursor: pointer;
  border-color: var(--border-color);
}

#back-button {
  place-self: center;
}

#close-menu {
  align-self: start;
  justify-self: end;
}

/* #resources-sub-menu,
#top-trees-sub-menu, */
#back-button {
  opacity: 0;
  z-index: 0;
  transition: none;
}

.menu-closed .main-menu-list-item {
  grid-row-start: 1;
  grid-row-end: 1;
  width: 1px;
}

.menu-open .main-menu-list-item {
  grid-row-start: auto;
  grid-row-end: auto;
  width: 100%;
}

.menu-closed {
  opacity: 0;
  z-index: -1;
  grid-template-columns: 1fr;
  grid-gap: 0;
}

.menu-open {
  opacity: 1;
  z-index: 9;
}

#top-trees-sub-menu-button,
#resources-sub-menu-button {
  border: none;
}

li.sub-menu-button button div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  align-self: center;
}

li.sub-menu-button button div svg {
  height: 22px;
  width: 22px;
}

.right-icon,
.down-icon {
  width: 25px;
  height: 25px;
}

@media (hover: hover) and (pointer: fine) {
  .main-menu-list .button:hover,
  .main-menu-list button:hover:not(.back-button) {
    color: var(--brand-color);
    background: none;
  }

  #back-button:hover,
  #close-menu:hover {
    background: var(--button-background-hover);
    color: var(--button-color-hover);
  }

  .dropdown-menu-button:hover + .dropdown-sub-menu,
  .dropdown-sub-menu:hover {
    opacity: 1;
    visibility: visible;
    z-index: 5;
  }

  .dropdown-menu:hover > .dropdown-menu-button {
    color: var(--accent-color);
  }

  #desktop-menu .button:hover {
    color: var(--accent-color);
  }
}

@media (min-width: 600px) {
  .main-menu-list-item-link,
  .sub-menu-button button {
    padding: 2rem;
  }
}

@media (min-width: 1600px) {
  button#open-menu {
    display: none;
  }

  #desktop-menu {
    display: grid;
  }
}
