#order-sent-overlay {
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: var(--primary-background);
  /* transition: all 0.5s var(--default-animation-easing); */
  display: grid;
  grid-template-rows: auto 1fr;
  grid-gap: 3rem;
  padding: 1rem;
  overflow-y: auto;
}

#order-sent-inner {
  height: 100%;
  display: grid;
  /* grid-template-rows: 1fr auto auto; */
  grid-gap: 3rem;
  margin: auto;
  /* text-transform: uppercase; */
  width: 100%;
  max-width: 80rem;
  grid-template-rows: auto 1fr;
}

#close-order-sent {
  cursor: pointer;
  border-color: var(--primary-text);
  align-self: center;
  justify-self: end;
}

@media (hover: hover) and (pointer: fine) {
  #close-order-sent:hover {
    background: var(--primary-text);
    color: var(--secondary-background);
  }
}
