main {
  margin-top: 5rem;
}

/* h1,h3{
  text-transform: uppercase;
} */

#content {
  max-width: 80rem;
  display: grid;
  justify-self: center;
  width: 100%;
}

h3 {
  margin-top: 5rem;
  margin-bottom: 3rem;
}
main img {
  width: 100%;
  margin: auto;
  max-width: 750px;
  display: block;
  border-radius: 8px;
}

#content-inner {
  margin-top: 5rem;
  padding-bottom: 1rem;
}

#content-inner p {
  margin-bottom: 2rem;
}

#content-inner b {
  text-transform: uppercase;
}

#content-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3rem;
  padding-bottom: 1rem;
}

#content-grid p {
  margin-bottom: 1rem;
}

#content-inner p,
#content-grid p {
  margin-bottom: 2rem;
}

@media (min-width: 1200px) {
  div#content-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
