main {
  margin-top: 2rem;
}

#content {
  max-width: 80rem;
  display: grid;
  justify-self: center;
  gap: 7rem;
}

.tree-item {
  display: grid;
  justify-items: start;
  gap: 2rem;
}

.image-div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 300px));
  width: 100%;
  gap: 3rem;
}

.tree-item img {
  border-radius: 8px;
}

.image-group {
  display: grid;
  gap: 0.5rem;
}

.image-group-text {
  font-weight: 700;
}

.tree-item h2 {
  text-align: left;
  font-weight: 700;
}

.tree-item h3 {
  text-align: left;
  float: left;
  margin-top: 0.4rem;
  font-weight: 500;
}

#tree-wrapper {
  display: grid;
  grid-gap: 5rem;
  grid-template-columns: 1fr;
}

.bold {
  font-weight: 700;
}

@media (hover: hover) and (pointer: fine) {
}

@media (min-width: 800px) {
}

@media (min-width: 1200px) {
}
