main {
  margin-top: 5rem;
}

main h1 {
  margin-bottom: 1rem;
}

#content {
  max-width: 80rem;
  display: grid;
  justify-self: center;
  gap: 5rem;
}

#top-bar {
  padding: 1rem;
  text-align: center;
  background: var(--background-color);
  color: var(--text-color);
  font-weight: 700;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.tree-botanical-name {
  font-size: var(--font-size-7);
  font-weight: 900;
}

.tree-common-name {
  font-size: var(--font-size-4);
  display: inline-block;
  font-weight: 700;
}

#tree-info-description-icons {
  gap: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#tree-info-tree-shape {
  align-self: center;
  justify-self: center;
  width: 100%;
  max-width: 400px;
}

#grid-content-right {
  overflow-x: hidden;
  height: max-content;
}

#grid-content {
  display: grid;
  gap: 5rem 2rem;
  grid-template-columns: 1fr;
}

#grid-content-middle {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
  margin-top: 2rem;
}

.reproduction {
  grid-column-start: 1;
  grid-column-end: 2;
}

.reproduction span {
  font-weight: 700;
}

#grid-content-left {
  display: grid;
  grid-template-rows: auto 1fr;
}

#main-image {
  width: 100%;
  height: 400px;
  cursor: pointer;
  background: var(--image-background-color);
  border-radius: 8px;
  position: relative;
  display: grid;
}

#main-image > button {
  display: flex;
  flex-direction: column;
  z-index: 1;
  justify-content: space-around;
  border: none;
  padding: 0;
  height: 40px;
  align-self: center;
}

#main-image > button > span {
  height: 40px;
  width: 40px;
  background: #eee;
  color: #111;
  border-radius: 8px;
  display: grid;
  align-items: center;
  font-size: var(--font-size-4);
}

#main-image > * {
  grid-area: 1 / -1;
}

#image-left-button {
  margin-left: 1rem;
  justify-self: start;
}

#image-right-button {
  margin-right: 1rem;
  justify-self: end;
}

#main-image-inner {
  width: 100%;
  height: 400px;
}

#main-image-inner img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 8px;
}

.images {
  margin-top: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, 50px);
  grid-template-rows: repeat(auto-fit, 50px);
}

.image {
  background: var(--image-background-color);
  border-radius: 8px;
  width: 50px;
  height: 50px;
}

.images .image img {
  object-fit: cover;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 8px;
}

.icon-div {
  display: grid;
  grid-template-columns: 1fr auto;
}

.tooltip {
  opacity: 0;
  position: absolute;
  top: -50px;
  left: 0;
  z-index: -1;
  display: inline-block;
  border-radius: 4px;
  font-weight: 700;
  white-space: nowrap;
}

.tooltip::first-letter {
  text-transform: uppercase;
}

.tree-icon:hover + .tooltip {
  opacity: 1;
  z-index: 1;
}

.tree-icon {
  border: none;
  width: 2.5rem;
  height: 2.5rem;
}

#tree-icons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-content: start;
  position: relative;
  margin-top: 3rem;
}

#color-section {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.color-div {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.tree-color {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 1px solid var(--border-color);
  display: inline-block;
}

.color-spans {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.blue {
  background: #2196f3;
}
.grey {
  background: #808080;
}
.red {
  background: #e22525;
}
.orange {
  background: #ff9800;
}
.yellow {
  background: #ffeb3b;
}
.purple {
  background: #9c27b0;
}
.pink {
  background: #ffbdbd;
}
.green {
  background: #3ebb49;
}
.white {
  background: #ffffff;
}
.brown {
  background: #5c4f1f;
}
.black {
  background: #000000;
}

.season-div {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}

.tree-icons {
  grid-row-start: 2;
}

#tree-attributes .tree-icon {
  width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
}

#image-lightbox {
  opacity: 0;
  position: fixed;
  z-index: -1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  visibility: hidden;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-gap: 2rem;
  padding: 1rem;
}

body.lightbox-open #image-lightbox {
  opacity: 1;
  z-index: 8;
  visibility: visible;
}

#image-lightbox-div {
  display: grid;
  width: 100%;
  height: 100%;
  place-content: center;
  overflow: hidden;
}

#image-lightbox-div img {
  background: var(--image-background-color);
  max-height: 85vh;
  max-width: 85vw;
  border-radius: 8px;
}

#image-lightbox-close {
  cursor: pointer;
  border-color: var(--border-color);
  align-self: center;
  justify-self: end;
}

#tree-info {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: start;
  grid-gap: 5rem;
  height: 100%;
}

#tree-shape {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr auto;
  grid-gap: 1rem;
  align-items: center;
  justify-items: center;
  justify-self: center;
}

#tree-shape .paragraph-title {
  font-weight: 700;
  font-size: var(--font-size-2);
}

#tree-shape p {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 3;
  align-self: baseline;
}

#tree-shape-image {
  border: none;
  max-height: 15rem;
  grid-column-start: 1;
  grid-row-start: 2;
}

#height-div {
  grid-column-start: 2;
  grid-row-start: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  max-height: 300px;
  align-items: center;
}

#width-div {
  grid-column-start: 1;
  grid-row-start: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 300px;
}

#width-span,
#height-span {
  font-weight: 700;
  font-size: var(--font-size-2);
}

.arrow {
  font-size: 1rem;
  font-weight: 700;
}

.wholesale-price {
  display: none;
}

.retail-price {
  display: block;
}

body.loggedIn .wholesale-price {
  display: block;
}
body.loggedIn .retail-price {
  display: none;
}

.tree-image {
  width: 100%;
  height: 100%;
}

.tree-image img {
  object-fit: cover;
  width: 100%;
  height: 300px;
  border-radius: 8px;
  filter: brightness(0.5);
  background: var(--image-background-color);
}

.add-product {
  border-color: var(--border-color);
}

#tree-information-inner {
  display: grid;
  gap: 1rem;
}

#features-table {
  overflow: auto;
  width: 100%;
}

#features-table table {
  border-spacing: 0;
  width: 100%;
}

#features-table th {
  text-align: left;
  word-break: normal;
  font-weight: 700;
}

#features-table td {
  min-width: 10rem;
}

#features-table tr:not(tr:first-child) {
  height: 4rem;
}

#features-table th {
  padding: 0.5rem 1rem;
}

#features-table td {
  padding-left: 1rem;
}

#features-table tr:not(tr:nth-child(1)) th {
  position: sticky;
  top: 0;
  left: 0;
  background: var(--background-color);
}

.color-list {
  padding-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#heading-buttons {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

#heading-buttons a {
  display: flex;
  align-items: center;
  padding: 0.4rem 0.8rem;
  max-width: max-content;
}

.add-to-order-div {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 1rem;
  align-content: center;
}

#taxonomy-section {
  display: grid;
  gap: 4rem;
  grid-template-columns: 1fr;
}

#taxonomy-inner {
  display: grid;
  gap: 3rem;
  grid-template-columns: 1fr;
}

.taxonomy-section {
  display: grid;
  gap: 1rem;
  height: 100%;
  width: 100%;
  grid-template-rows: auto 1fr;
}

.taxonomy-section h3 {
  font-size: var(--font-size-4);
  font-weight: 700;
}

.taxonomy-section p span {
  font-weight: 600;
}

@media (min-width: 300px) {
  #tree-shape {
    grid-gap: 2rem;
  }
}

@media (min-width: 500px) {
  #add-product-div {
    grid-template-columns: auto 1fr;
  }
}

@media (min-width: 650px) {
  #color-section {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

@media (min-width: 800px) {
  div#related-trees {
    grid-template-columns: repeat(2, 1fr);
  }
  #taxonomy-inner {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  div#stock-information {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  div#grid-content {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  #grid-content-middle {
    grid-template-columns: 1fr 300px;
  }

  .reproduction {
    grid-column-end: 3;
  }
}

@media (min-width: 1350px) {
  div#related-trees {
    grid-template-columns: repeat(3, 1fr);
  }
}
