#search {
  padding: 8px 16px;
  font-size: var(--font-size-5);
  width: 100%;
}

#search:disabled {
  opacity: 0.7;
  cursor: default;
}

#search::placeholder {
  color: var(--primary-background);
  text-transform: uppercase;
}

#search-results-inner {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

#search-results {
  justify-self: center;
  width: 100%;
  height: 90%;
  opacity: 0;
  transition: opacity 0.5s var(--default-animation-easing);
}

body.search-loaded #search-results {
  opacity: 1;
}

#search-results > a {
  border-radius: 8px;
  height: 300px;
  display: grid;
  align-items: center;
}

#search-results > a > * {
  grid-area: 1 / -1;
}

#search-results p.empty-message {
  background: none;
  padding: 0;
  justify-self: start;
  text-transform: uppercase;
  font-weight: bold;
}

#search-results img {
  width: auto;
  border-radius: 8px;
  width: 100%;
  height: 300px;
  object-fit: cover;
  filter: brightness(0.5);
  background: var(--secondary-background);
}

.search-result {
  height: 300px;
  display: grid;
  opacity: 0;
}

.search-result-loaded {
  animation: fadeInUp 0.75s forwards calc(var(--animation-order) * 100ms)
    var(--default-animation-easing);
}

.search-result > * {
  grid-area: 1 / -1;
}

.surface-content {
  z-index: 1;
  display: grid;
  grid-gap: 2rem;
  grid-template-rows: 1fr auto;
  align-items: center;
  padding: 1rem;
}

.surface-content a {
  place-self: start;
}

#close-search {
  cursor: pointer;
  border-color: var(--primary-text);
  align-self: center;
  justify-self: end;
}

#search-overlay {
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: var(--primary-background);
  transition: all 0.5s var(--default-animation-easing);
  display: grid;
  grid-template-rows: auto 1fr;
  grid-gap: 3rem;
  padding: 1rem;
  overflow-y: auto;
}

#search-inner {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-row-gap: 3rem;
  height: 100%;
  width:100%;
  max-width:80rem;
  justify-self: center;
}

#search-inner .button {
  color: var(--secondary-background);
  border-color: var(--secondary-background);
}

.result-botanical-name {
  text-transform: uppercase;

  font-weight: bold;
  color: var(--secondary-background);
}

.result-common-name {
  color: var(--primary-text);
  background: var(--secondary-background);
  border-radius: 8px;
  padding: 0.3rem 0.6rem;
  display: inline-block;
  font-size: var(--font-size-2);
  font-weight: bold;
  text-transform: uppercase;

  margin-top: 0.5rem;
}

#search-section {
  width: 100%;
  align-self: end;
}

#search-load-more-div {
  display: grid;
  place-content: center;
  margin-top: 5rem;
  grid-template-columns: repeat(2, auto);
  grid-gap: 3rem;
}

#search-load-more-div button {
  border-color: var(--primary-text);
  visibility: hidden;
}

#search-load-more-div button:disabled {
  opacity: 0.7;
  cursor: default;
}

@media (hover: hover) and (pointer: fine) {
  input#search:hover {
    cursor: text;
  }

  #search-inner .button:hover {
    color: var(--primary-text);
    background: var(--secondary-background);
  }

  #search-load-more-div button:hover:enabled,
  #close-search:hover {
    background: var(--primary-text);
    color: var(--secondary-background);
  }
}

@media (min-width: 650px) {
  .surface-content {
    padding: 2rem;
  }
}

@media (min-width: 700px) {
  div#search-results-inner {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  div#search-results-inner {
    grid-template-columns: repeat(3, 1fr);
  }
}
