#stock-table {
  opacity: 0;
  position: fixed;
  z-index: -1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  visibility: hidden;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  overflow-y: auto;
}

#stock-table-inner {
  max-width: 80rem;
  display: grid;
  gap: 5rem;
  margin: 0 auto 0 auto;
  width: 100%;
}

body.stock-table-open #stock-table {
  opacity: 1;
  z-index: 8;
  visibility: visible;
}

#stock-table-close {
  cursor: pointer;
  border-color: var(--border-color);
}

#open-stock-table {
  border-color: var(--border-color);
  max-width: max-content;
  font-size: var(--font-size-3);
}

#info-section {
  display: grid;
  gap: 1rem;
}

#info-section p {
  font-size: var(--font-size-1);
}

#grade-sizes {
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
  grid-gap: 2rem;
}

#grade-select {
  display: grid;
  gap: 4rem;
}

#grade-select input {
  width: 100px;
}

p.title {
  font-weight: 700;
  font-size: var(--font-size-4);
}

.selection-grid {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.selection-box {
  border-radius: 8px;
  border: 2px solid var(--text-color);
  padding: 1rem;
  font-weight: 700;
  display: grid;
  grid-gap: 0.5rem;
  height: 100%;
}

.selection-box p {
  font-size: var(--font-size-2);
  font-weight: 700;
}

.selection-box .button {
  margin-top: 1rem;
}

#grade-size-selection,
#in-production-selection {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(100px, max-content));
  margin-top: 2rem;
}

#grade-size-selection button,
#in-production-selection button {
  height: 50px;
  width: max-content;
}

#add-product-div {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
}

#in-production-grades .button {
  width: max-content;
}

.order-button-active,
.preorder-button-active {
  background: var(--button-background-color-hover);
  color: var(--button-text-color-hover);
}

#grade-size-image-div {
  display: none;
  gap: 2rem;
}

#grade-size-images {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, max-content));
}

.grade-size-image {
  height: 150px;
  width: 150px;
  border-radius: 8px;
  object-fit: cover;
  filter: brightness(0.6);
}

.grade-size-div {
  display: grid;
}

.grade-size-div > * {
  grid-area: 1 / -1;
}

.grade-size-grade {
  z-index: 2;
  padding: 0.5rem;
  display: grid;
  align-items: end;
  font-weight: 600;
}

@media (hover: hover) and (pointer: fine) {
  .grade-size-div:hover {
    cursor: pointer;
  }
}
