main {
  margin-top: 5rem;
}

#content {
  max-width: 80rem;
  display: grid;
  justify-self: center;
  width: 100%;
  gap: 3rem;
}

#stock-data {
  overflow: auto;
  height: 30rem;
  width: 100%;
}

table {
  border-spacing: 0px;
  width: 100%;
  text-align: left;
}

th {
  white-space: break-spaces;
  word-break: keep-all;
  font-weight: 700;
  padding-right: 2rem;
}

tr:first-child {
  position: sticky;
  top: 0;
  background: var(--background-color);
}

tr:not(tr:first-child) {
  height: 4rem;
}

th:nth-child(1),
th:nth-child(2) {
  min-width: 15rem;
}

td {
  min-width: 5rem;
  max-width: 5rem;
  padding-right: 2rem;
}

.message {
  font-weight: 700;
}

.search-section {
  display: grid;
  gap: 1rem;
}

input[type="text"].search {
  width: 100%;
  min-height: 30px;
  padding: 0.5rem 0.75rem;
  font-weight: 700;
}

#pagination #prev {
  float: left;
}
#pagination #next {
  float: right;
}

#content .button {
  margin-top: 1rem;
}

#pagination #next,
#pagination #prev,
#content .button {
  border-color: var(--border-color);
}

#pagination #next:disabled,
#pagination #prev:disabled {
  opacity: 0.7;
  cursor: default;
}

#result-totals {
  font-weight: 700;
}

#filter-section {
  display: flex;
  align-items: center;
  gap: 1rem 3rem;
  flex-wrap: wrap;
}

#filter-section div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#info-section {
  display: grid;
  gap: 1rem;
}

#info-section p {
  font-size: var(--font-size-2);
}

#bottom-div {
  display: grid;
  gap: 2rem;
}

#stock-data a {
  font-size: var(--font-size-2);
  text-decoration: underline;
}

#download-stock-list {
  width: max-content;
}

@media (hover: hover) and (pointer: fine) {
  input[type="checkbox"]:hover,
  label {
    cursor: pointer;
  }

  input[type="checkbox"]:disabled:hover,
  input[type="checkbox"]:disabled + label:hover {
    cursor: default;
  }
}
