main {
  margin-top: 5rem;
}

#content {
  max-width: 80rem;
  display: grid;
  justify-self: center;
}

main input[type="text"],
main input[type="tel"],
main input[type="email"],
main select,
main textarea {
  width: 100%;
  border-color: var(--primary-text);
}

#grid-content {
  display: grid;
  gap: 5rem;
  margin-top: 5rem;
  grid-template-columns: 1fr;
  justify-items: center;
}

#grid-content-right,
#grid-content-left {
  width: 100%;
}

#grid-content-left-inner {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}

#grid-content-left p {
  margin-bottom: 3rem;
}

#form-trees {
  font-weight: bold;
  text-transform: uppercase;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr;
}

main h3 {
  margin-bottom: 2rem;
}

#empty-message {
  display: none;
  margin-top: 2rem;
}

.form-tree {
  background: var(--secondary-background);
  padding: 2rem;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}

.form-tree-left {
  display: grid;
  grid-gap: 2rem;
  grid-template-rows: auto 1fr;
  grid-row-start: 2;
}

.form-tree-right {
  justify-self: start;
  grid-row-start: 3;
}

.form-tree img {
  border-radius: 8px;
  background: var(--image-background);
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.form-tree p {
  display: inline-block;
  font-weight: bold;
}

.form-tree h3 {
  margin-bottom: 0;
}

.common-name {
  text-align: left;
  font-size: var(--font-size-2);
  color: var(--accent-color);
  display: inline-block;
  /* padding: 0.3rem 0.6rem; */
  /* border-radius: 8px; */
  /* border: 2px solid var(--primary-text); */
  font-weight: 700;
  /* transition: all .4s cubic-bezier(.31,.87,.32,1); */
}

.botanical-name {
  font-size: var(--font-size-4);
  line-height: 1.2;
}

.tree-info {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  text-transform: uppercase;
}

.tree-info p {
  font-size: var(--font-size-2);
  display: flex;
  gap: 0.5rem;
  align-items: center;
  flex-wrap: wrap;
}

main label {
  margin-bottom: 1rem;
}

.checkbox-field {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center;
  margin-top: 3rem;
}

.checkbox-field label {
  margin-bottom: 0;
}

#order-totals {
  background: var(--secondary-background);
  padding: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 8px;
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 2rem;
}

#order-totals p {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
}

#order-totals p .info-pill {
  font-size: var(--font-size-3);
  white-space: normal;
}

.region-select {
  margin-top: 3rem;
}

.region-select select {
  max-width: 20rem;
  width: 100%;
}

.region-select,
.checkbox-field {
  margin-bottom: 3rem;
}

.region-select label,
.checkbox-field label,
.checkbox-field label a,
.freight-message {
  font-size: var(--font-size-3);
}

.send-order {
  border-color: var(--primary-text);
  background: none;
}

.tree-name {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  gap: 0.25rem;
  flex-direction: column;
}

details > summary:focus {
  outline: none;
}

details > summary::-webkit-details-marker {
  display: none;
}

details > summary {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  max-width: 300px;
}

details > div {
  background: var(--secondary-background);
  border-radius: 8px;
  margin-top: 1rem;
  padding: 2rem;
}

summary > span {
  font-size: var(--font-size-3);
}

#grid-content-right .right-icon {
  display: block;
  transition: transform 0.3s var(--default-animation-easing);
  width: 25px;
  height: 25px;
}

#grid-content-right .down-icon {
  display: none;
  width: 25px;
  height: 25px;
}

details[open] > summary .right-icon {
  transform: rotate(90deg);
}

details p {
  font-size: var(--font-size-2);
}

details p:not(:last-child) {
  margin-bottom: 2rem;
}

details b {
  text-transform: uppercase;
}

@media (hover: hover) and (pointer: fine) {
  button.send-order:hover {
    background: var(--primary-text);
    color: var(--secondary-background);
  }

  .common-name:hover {
    color: var(--primary-text);
  }

  details > summary:hover {
    cursor: pointer;
  }
}

@media (min-width: 550px) {
  .form-tree {
    grid-template-columns: repeat(2, auto);
  }

  .form-tree-right {
    align-self: center;
    justify-self: end;
    grid-row-start: 2;
    grid-column-start: 2;
  }
}

@media (min-width: 1000px) {
  div#grid-content-left-inner {
    grid-template-columns: repeat(2, 1fr);
  }

  #grid-content-left-inner p:last-child {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

@media (min-width: 1100px) {
  div#form-trees {
    grid-template-columns: repeat(2, 1fr);
  }
}
