#close-submit-order,
#submit-order-back {
  cursor: pointer;
  border-color: var(--border-color);
  align-self: center;
}

#submit-order-overlay {
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: var(--background-color);
  display: grid;
  grid-template-rows: auto 1fr;
  grid-gap: 3rem;
  padding: 1rem;
  overflow-y: auto;
}

#submit-order-inner {
  height: 100%;
  display: grid;
  grid-gap: 2rem;
  margin: auto;
  width: 100%;
  max-width: 80rem;
}

#submit-order-overlay input[type="text"],
#submit-order-overlay input[type="tel"],
#submit-order-overlay input[type="email"],
#submit-order-overlay select,
#submit-order-overlay textarea {
  width: 100%;
  border-color: var(--border-color);
}

#submit-grid-content {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  justify-items: center;
}

#submit-grid-content-right,
#submit-grid-content-left {
  width: 100%;
}

#submit-grid-content-left-inner {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}

#submit-grid-content-left-inner p:last-child {
  grid-column-start: 1;
  grid-column-end: 1;
}

#submit-grid-content-left-inner label {
  margin-bottom: 0.5rem;
}

#form-trees {
  font-weight: 700;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr;
}

#submit-order-overlay h3 {
  margin-bottom: 2rem;
  font-weight: 900;
}

#empty-message {
  display: none;
  margin-top: 2rem;
}

#submit-order-overlay .form-tree {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}

#submit-order-overlay .form-tree-left {
  display: grid;
  grid-gap: 2rem;
}

#submit-order-overlay .form-tree-right {
  grid-row-start: 1;
  grid-column-start: 1;
}

#submit-order-overlay .form-tree img {
  border-radius: 8px;
  background: var(--image-background-color);
  height: 250px;
  object-fit: cover;
}

#submit-order-overlay .form-tree p {
  display: inline-block;
  font-weight: 700;
}

#submit-order-overlay .form-tree h3 {
  margin-bottom: 0;
}

#submit-order-overlay .common-name {
  text-align: left;
  font-size: var(--font-size-2);
  color: var(--text-color);
  display: inline-block;
  font-weight: 700;
}

#submit-order-overlay .form-tree p.botanical-name {
  line-height: 1.2;
  font-weight: 900;
}

#submit-order-overlay .form-tree p.botanical-name a {
  font-size: var(--font-size-4);
}

#submit-order-overlay .tree-info {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

#submit-order-overlay .tree-info p {
  font-size: var(--font-size-2);
  display: flex;
  gap: 0.5rem;
  align-items: center;
  flex-wrap: wrap;
}

.checkbox-field {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center;
}

.checkbox-field label {
  margin-bottom: 0;
}

#order-totals {
  font-weight: 700;
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 2rem;
}

#order-totals p {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  font-weight: 700;
}

#order-totals p .info-pill {
  font-size: var(--font-size-3);
  white-space: normal;
}

#order-totals .accent-color {
  font-weight: 700;
}

.region-select {
  margin-top: 3rem;
}

.region-select label {
  font-weight: 600;
}

.region-select select {
  max-width: 20rem;
  width: 100%;
  font-weight: 700;
  margin-top: 1rem;
}

.region-select {
  margin-bottom: 3rem;
}

.region-select label,
.checkbox-field label,
.checkbox-field label a {
  font-size: var(--font-size-3);
}

.send-order {
  border-color: var(--border-color);
  background: none;
}

#submit-order-overlay .tree-name {
  grid-column-start: 1;
  grid-column-end: 2;
  display: flex;
  gap: 0.25rem;
  flex-direction: column;
}

#submit-order-overlay .tree-name p a {
  text-decoration: none;
}

#submit-order-overlay details > summary:focus {
  outline: none;
}

#submit-order-overlay details > summary::-webkit-details-marker {
  display: none;
}

#submit-order-overlay details > summary {
  font-weight: 700;
}

#submit-order-overlay details > div {
  margin-top: 1rem;
}

#submit-order-overlay summary > span {
  font-size: var(--font-size-3);
}

#submit-order-overlay .minus {
  display: none;
}

#submit-order-overlay details[open] > summary .plus {
  display: none;
}

#submit-order-overlay details[open] > summary .minus {
  display: inline-block;
}

#submit-order-overlay details[closed] > summary .plus {
  display: inline-block;
}

#submit-order-overlay details[closed] > summary .minus {
  display: none;
}

#submit-order-overlay details p {
  font-size: var(--font-size-2);
}

#submit-order-overlay details summary p {
  font-size: var(--font-size-3);
}

#submit-order-overlay details p:not(:last-child) {
  margin-bottom: 2rem;
}

#terms-of-trade-block {
  margin-bottom: 3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

#top-buttons-block {
  justify-content: end;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

@media (hover: hover) and (pointer: fine) {
  #submit-order-overlay .common-name:hover {
    color: var(--accent-color);
  }

  #submit-order-overlay details > summary:hover {
    cursor: pointer;
    color: var(--accent-color);
  }

  .checkbox-field label {
    cursor: pointer;
  }
}

@media (min-width: 600px) {
  #submit-order-overlay div#form-trees {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1100px) {
  #submit-order-overlay div#form-trees {
    grid-template-columns: repeat(3, 1fr);
  }

  #submit-grid-content-left-inner {
    grid-template-columns: repeat(2, 1fr);
  }

  #submit-grid-content-left-inner p:last-child {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
