main {
  max-width: 80rem;
}

main input[type="text"],
main input[type="tel"],
main input[type="email"],
main select,
main textarea {
  min-width: 300px;
  width: 100%;
  border-color: var(--primary-text);
}

#grid-content {
  display: grid;
  gap: 5rem;
  margin-top: 5rem;
  grid-template-columns: 1fr;
  justify-items: center;
  padding: 0.5rem;
}

#grid-content-right,
#grid-content-left {
  width: 100%;
}

#grid-content-left-inner {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}

#grid-content-left p {
  margin-bottom: 3rem;
}

#grid-content-left p:last-child {
}

#form-trees {
  font-weight: bold;
  text-transform: uppercase;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr;
}

main h3 {
  margin-bottom: 2rem;
}

#empty-message {
  margin-top: 2rem;
}

.form-tree {
  background: var(--secondary-background);
  padding: 2rem;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}

.form-tree-left {
  display: grid;
  grid-gap: 2rem;
}

.form-tree-right {
  justify-self: start;
}

.form-tree img {
  border-radius: 8px;
  background: var(--image-background);
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.form-tree p {
  display: inline-block;
  font-weight: bold;
}

.form-tree h3 {
  margin-bottom: 0;
}

.common-name {
  text-align: left;
  font-size: var(--font-size-2);
  background: var(--primary-background);
  display: inline-block;
  padding: 0.3rem 0.6rem;
  border-radius: 8px;
}

.botanical-name {
  font-size: var(--font-size-4);
  line-height: 1.2;
}

.tree-info {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  text-transform: uppercase;
}

.tree-info p {
  font-size: var(--font-size-2);
}

main label {
  margin-bottom: 1rem;
}

.checkbox-field {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center;
  margin-top: 3rem;
}

.checkbox-field label {
  margin-bottom: 0;
}

#order-totals {
  background: var(--secondary-background);
  padding: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 8px;
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1rem;
}

#order-totals p {
}

.region-select,
.checkbox-field {
  margin-bottom: 3rem;
}

.region-select label,
.checkbox-field label,
.checkbox-field label a,
.freight-message {
  font-size: var(--font-size-3);
}

.send-order {
  border-color: var(--primary-text);
  background: none;
}

.tree-name {
  display: flex;
  flex-direction: column;
}

@media (hover: hover) and (pointer: fine) {
  #grid-content-right .send-order:hover {
    background: var(--primary-text);
    color: var(--secondary-background);
  }

  .tree-name a .botanical-name:hover {
    color: var(--brand-color);
  }

  .tree-name a .common-name:hover {
    color: var(--primary-text);
  }
}

@media (min-width: 550px) {
  .form-tree {
    grid-template-columns: repeat(2, auto);
  }

  .form-tree-right {
    align-self: center;
    justify-self: end;
  }
}

@media (min-width: 1000px) {
  #grid-content-left-inner {
    grid-template-columns: repeat(2, 1fr);
  }

  #grid-content-left-inner p:last-child {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

@media (min-width: 1100px) {
  #form-trees {
    grid-template-columns: repeat(2, 1fr);
  }
}
