main {
  margin-top: 5rem;
}

/* h1 {
  text-transform: uppercase;
} */

#content {
  max-width: 80rem;
  display: grid;
  justify-self: center;
  width: 100%;
}

#grid-content-right {
  min-height: 1500px;
}

.tree-item {
  text-align: center;
  /* text-transform: uppercase; */
  display: grid;
  justify-items: start;
  border-radius: 8px;
  height: 300px;
  opacity: 0;
  visibility: hidden;
}

.tree-item-loaded {
  animation: fadeInUp 0.75s forwards calc(var(--animation-order) * 100ms)
    var(--default-animation-easing);
  visibility: visible;
}

.tree-item > * {
  grid-area: 1 / -1;
}

.tree-image {
  width: 100%;
  height: 100%;
}
.tree-image img {
  object-fit: cover;
  width: 100%;
  height: 300px;
  border-radius: 8px;
  filter: brightness(0.5);
  background: var(--secondary-background);
}

.title-link-box {
  z-index: 2;
  display: grid;
  grid-gap: 2rem;
  grid-template-rows: 1fr auto;
  padding: 1rem;
}

.title-link-box h2 {
  color: var(--secondary-background);
  text-align: left;
  font-size: var(--font-size-4);
  font-weight: 900;
}

.title-link-box h3 {
  color: var(--secondary-background);
  /* background: var(--secondary-background); */
  text-align: left;
  /* border-radius: 8px;
  padding: 0.3rem 0.6rem; */
  float: left;
  margin-top: 0.4rem;
  font-size: var(--font-size-2);
  font-weight: 700;
}

.title-link-box a {
  place-self: start;
  margin-bottom: 1rem;
  border: 2px solid var(--secondary-background);
  color: var(--secondary-background);
  background: none;
  transition: all 0.3s var(--default-animation-easing);
  font-size: var(--font-size-2);
}

.title-container {
  place-self: center;
}

main h1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

#tree-wrapper {
  margin-top: 3rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr;
  opacity: 1;
}

#button-div {
  display: grid;
  place-content: center;
  margin-top: 5rem;
  grid-template-columns: repeat(2, auto);
  grid-gap: 3rem;
}

#button-div button {
  border-color: var(--primary-text);
}

#button-div button:disabled {
  opacity: 0.7;
  cursor: default;
}

#filter {
  display: none;
  gap: 2rem;
}

select[multiple] {
  display: block;
  margin-bottom: 3rem;
  padding: 1rem;
  border-radius: 8px;
}

#clear-select-filter {
  display: block;
  margin: 2rem 0;
  border-color: var(--primary-text);
}

#clear-checkbox-filter {
  display: none;
  margin: 2rem 0;
  border-color: var(--primary-text);
}

#clear-checkbox-filter:disabled,
#clear-select-filter:disabled {
  opacity: 0.7;
  cursor: default;
}

main label {
  display: inline-block;
  text-transform: none;
  font-weight: 700;
}

footer label {
  display: block;
  text-transform: uppercase;
}

details > summary:focus {
  outline: none;
}

details > summary::-webkit-details-marker {
  display: none;
}

details > summary {
  margin-bottom: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  font-weight: 900;
  text-transform: uppercase;
  background: var(--secondary-background);
  padding: 1rem;
  border-radius: 8px;
}

/* summary .info-pill {
  margin-left: 0.5rem;
  padding: 0.2rem 0.4rem;
} */

#filter svg {
  height: 20px;
  width: 20px;
}

#filter .right-icon {
  display: block;
  transition: transform 0.3s var(--default-animation-easing);
  width: 25px;
  height: 25px;
}

#filter .down-icon {
  display: none;
  width: 25px;
  height: 25px;
}

#filter details[open] > summary .right-icon {
  transform: rotate(90deg);
}

.filter-icon {
  width: 30px;
  height: 30px;
}

.tree-color {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--border-color);
  display: inline-block;
}

.blue {
  background: #2196f3;
}
.grey {
  background: #808080;
}
.red {
  background: #e22525;
}
.orange {
  background: #ff9800;
}
.yellow {
  background: #ffeb3b;
}
.purple {
  background: #9c27b0;
}
.pink {
  background: #ffbdbd;
}
.green {
  background: #8bc34a;
}
.white {
  background: #ffffff;
}
.brown {
  background: #443730;
}

@media (min-width: 650px) {
  .title-link-box {
    padding: 2rem;
  }
}

@media (min-width: 1000px) {
  div#tree-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* @media (min-width: 1500px) {
  div#tree-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
} */

@media (hover: hover) and (pointer: fine) {
  p#no-products {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  select[multiple],
  #clear-select-filter {
    display: none;
  }
  #filter {
    display: grid;
  }

  #filter .options-group {
    display: grid;
    grid-gap: 1rem;
    padding: 1rem;
    background: var(--secondary-background);
    border-radius: 8px;
    margin-top: 20px;
  }

  #filter .options-group > div {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  #filter-container,
  #clear-checkbox-filter {
    display: block;
  }
  #finder-content {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto auto 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 3rem;
  }

  #grid-content-left,
  #grid-content-right {
    grid-row-start: 3;
  }

  #tree-wrapper {
    margin-top: 0;
  }

  #button-div button:hover:enabled {
    background: var(--primary-text);
    color: var(--secondary-background);
  }

  .title-link-box a:hover {
    color: var(--primary-text);
    background: var(--secondary-background);
  }

  main input:hover,
  main label:hover,
  details > summary:hover {
    cursor: pointer;
  }

  #clear-checkbox-filter:hover:enabled {
    background: var(--primary-text);
    color: var(--secondary-background);
  }
}
