main {
  margin-top: 5rem;
}

#content {
  max-width: 80rem;
  display: grid;
  justify-self: center;
  width: 100%;
}

#open-filter {
  height: max-content;
  width: max-content;
  font-size: var(--font-size-3);
}

#clear-filter-buttons {
  grid-row-start: 3;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

#clear-filter-buttons button {
  font-size: var(--font-size-1);
  border: none;
  background: var(--invert-background-color);
  text-align: left;
  color: var(--invert-text-color);
  display: grid;
  grid-template-rows: 1fr;
  gap: 0.5rem;
  align-items: center;
}

.clear-button {
  height: 0.65rem;
  width: 0.65rem;
  grid-row-start: 1;
  display: inline-block;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 150 150'><path style='fill:none;stroke:%23111;stroke-width:20px' d='m5 5 140 140m0-140L5 145'/></svg>");
  background-repeat: no-repeat;
}

.clear-text {
  grid-row-start: 1;
}

.tree-item {
  text-align: center;
  display: grid;
  justify-items: start;
  align-items: center;
  border-radius: 8px;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  padding: 1rem;
  border-radius: 8px;
}

.tree-item img {
  object-fit: cover;
  width: 50px;
  height: 50px;
  border-radius: 8px;
  background: var(--image-background-color);
}

.tree-item h2 {
  text-align: left;
  font-size: var(--font-size-3);
  font-weight: 700;
}

.tree-item h3 {
  text-align: left;
  float: left;
  margin-top: 0.4rem;
  font-size: var(--font-size-1);
  font-weight: 500;
}

main h1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

#tree-wrapper {
  margin-top: 3rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  opacity: 1;
}

#button-div {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
}

#button-div button {
  border-color: var(--border-color);
}

#button-div button:disabled {
  opacity: 0.7;
  cursor: default;
}

#filter {
  display: none;
  gap: 1rem;
}

#filter-overlay input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  opacity: 0;
  grid-column-start: 3;
  grid-row-start: 1;
}

footer label {
  display: block;
}

p#no-products {
  font-weight: 900;
  font-size: var(--font-size-4);
}

#filter-overlay {
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: var(--background-color);
  display: grid;
  grid-template-rows: auto 1fr;
  grid-gap: 3rem;
  padding: 1rem;
  overflow-y: auto;
}

#filter-inner {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr auto auto;
  grid-gap: 3rem;
  margin: auto;
  width: 100%;
  max-width: 80rem;
}

p#no-products {
  grid-column-start: 1;
  grid-column-end: 3;
}

#filter {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 250px));
  gap: 3rem;
  height: max-content;
}

#filter details > summary:focus {
  outline: none;
}

#filter details > summary::-webkit-details-marker {
  display: none;
}

#filter details > summary {
  margin-bottom: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  font-weight: 700;
  font-size: var(--font-size-4);
  border-radius: 8px;
  padding: 1rem;
}

.filter-icon {
  width: 1.5rem;
  height: 1.5rem;
}

#filter label {
  display: inline-block;
  text-transform: none;
  font-weight: 700;
}

.tree-color {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  display: inline-block;
}

.blue {
  background: #2196f3;
}
.grey {
  background: #808080;
}
.red {
  background: #e22525;
}
.orange {
  background: #ff9800;
}
.yellow {
  background: #ffeb3b;
}
.purple {
  background: #9c27b0;
}
.pink {
  background: #ffbdbd;
}
.green {
  background: #8bc34a;
}
.white {
  background: #ffffff;
}
.brown {
  background: #443730;
}

#filter .options-group {
  display: grid;
  grid-gap: 1rem;
  margin-top: 20px;
}

#filter .options-group > div {
  display: grid;
  align-items: center;
  gap: 1rem;
  border-radius: 8px;
  grid-template-columns: auto 1fr auto;
  padding: 1rem;
}

.option-selected {
  background: var(--invert-background-color);
  color: var(--invert-text-color);
}

#filter details[open] > summary {
  background: var(--invert-background-color);
  color: var(--invert-text-color);
}

#filter-container {
  display: block;
}

#finder-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto 1fr;
  grid-row-gap: 3rem;
}

#grid-content {
  grid-row-start: 4;
}

#tree-wrapper {
  margin-top: 0;
}

@media (min-width: 650px) {
  .title-link-box {
    padding: 2rem;
  }
}

@media (min-width: 800px) {
  div#tree-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .tree-item img {
    width: 75px;
    height: 75px;
  }
}

@media (min-width: 1200px) {
  div#tree-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
  .tree-item img {
    width: 100px;
    height: 100px;
  }
}

@media (hover: hover) and (pointer: fine) {
  #filter label:hover {
    cursor: pointer;
  }

  #filter .options-group > div:hover {
    background: var(--invert-background-color);
    color: var(--invert-text-color);
    cursor: pointer;
  }

  #filter details > summary:hover {
    background: var(--invert-background-color);
    color: var(--invert-text-color);
    cursor: pointer;
  }

  .title-link-box a:hover {
    background: var(--text-color);
    color: #111;
  }

  main input:hover,
  main label:hover,
  #filter details > summary:hover {
    cursor: pointer;
  }
  .tree-item:hover {
    background: var(--invert-background-color);
    color: var(--invert-text-color);
  }
}
