<footer>

    <div id="footer-grid">

            <div id="email-signup">

                <p class="paragraph-title">Subscribe for updates and weekly inspiration!</p>

                <form id="subscribe-form">

                    <div>
                        <label for="subscriberFirstName">First Name</label>
                        <input type="text" name="subscriberFirstName" required />
                    </div>

                    <div>
                        <label for="subscriberLastName">Last Name</label>
                        <input type="text" name="subscriberLastName" required />
                    </div>

                    <div>
                        <label for="subscriberEmail">Email</label>
                        <input type="email" name="subscriberEmail" required />
                    </div>


                    <button type="submit" id="subscribe">Subscribe</button>
                </form>

            </div>

            <div id="footer-links">

                <p><a href="mailto:sales@leafland.co.nz">sales@leafland.co.nz</a></p>
                <p><a href="tel:0800532352">0800 532 352</a></p>
                <p>© Copyright Leafland Limited</p>

            </div>

    </div>

</footer>