<footer>

    <div id="footer-grid">

            <p><a href="mailto:sales@leafland.co.nz">sales@leafland.co.nz</a></p>
            <p><a href="tel:0800532352">0800 532 352</a></p>
            <p>Copyright © 2021 Leafland Limited</p>

    </div>

</footer>