<footer>

    <div id="footer-grid">

            <div id="email-signup">

                <form id="subscribe-form">
                    <p class="paragraph-title">Subscribe for weekly inspiration and product lists!</p>

                    <div id="signup-form-inner">

                        <div>
                            <label for="firstName">First Name</label>
                            <input type="text" id="firstName" name="firstName" value="">
                        </div>

                        <div>
                            <label for="email">Email Address</label>
                            <input type="email" id="email" name="email" value="">
                        </div>


                        {% comment %} <div style="display: none;" aria-hidden="true">
                            <label for="website">Website</label>
                            <input type="text" id="website" name="website" tabindex="-1" autocomplete="false" value="">
                        </div>
                        <input type="hidden" name="tags[]" id="tags_" value="weekly-product-list" tabindex="-1"> {% endcomment %}

                        <input type="submit" value="Subscribe" id="subscribe">

                    </div>
                </form>


            </div>

            <div id="footer-links">

                <p><a href="mailto:sales@leafland.co.nz">sales@leafland.co.nz</a></p>
                <p><a href="tel:0800532352">0800 532 352</a></p>
                <p><a href="https://wa.me/message/LQJCKF5RQGBTD1">Whatsapp</a></p>
                <p>© Copyright Leafland Limited</p>

            </div>

    </div>

</footer>