<header>

    <nav id="header">

        <a href="/">
        
            <img class="logo" src="/public/assets/logo/leafland-logo.svg" width="200" height="100" alt="leafland logo">
        
        </a>

        <div id="header-buttons">
            <button id="open-menu">Menu</button>
            <button id="open-order">Order</button>
            <button id="open-login">Login</button>
        </div>

        <div id="search-section">

            <input type="search" id="search" autocomplete="off" inputmode="search" placeholder="Search trees..." />

            <div id="search-results">
        
                <div id="search-results-inner"></div>
            
            </div>

        </div>

    </nav>

</header>