<header>

    <div id="top-bar" style="display:none">
    
        <p id='top-bar-inner'></p>
    
    </div>

    <nav id="header">

        <a href="/">
        
            <img class="logo" src="/public/assets/logo/leafland-logo.svg" width="200" height="100" alt="leafland logo">
        
        </a>

        <ul id="desktop-menu">

            <li><a href="/trees/">Tree Finder</a></li>

            <li>

                <a href=""  id="header-stock-link">Stock List</a>
            
            </li>

            <li class="dropdown-menu">

                <button class="dropdown-menu-button">
                
                    <span>Resources +</span>
                
                </button>

                <ul class="dropdown-sub-menu">
                    <li><a href="/catalogue/">Catalogue</a></li>
                    <li><a href="/publications/">Publications</a></li>
                    <li><a href="/credit-application/">Credit Application</a></li>
                    <li><a href="/pro-pots/">Pro-Pots</a></li>
                    <li><a href="/terms-of-trade/">Terms of Trade</a></li>
                    <li><a href="/tree-planting-guide/">Tree Planting Guide</a></li>
                </ul>

            </li>

            <li class="dropdown-menu">
                <button class="dropdown-menu-button">
                
                    <span>Top Trees +</span>

                </button>

                <ul class="dropdown-sub-menu">
                    <li><a href="/top-trees/autumn-colour/">Autumn Colour</a></li>
                    <li><a href="/top-trees/beautiful-flowers/">Beautiful Flowers</a></li>
                    <li><a href="/top-trees/driveways-avenues/">Driveways and Avenues</a></li>
                    <li><a href="/top-trees/hedging-screening/">Hedging and Screening</a></li>
                    <li><a href="/top-trees/narrow-sites/">Narrow Sites</a></li>
                    <li><a href="/top-trees/paddocks/">Paddocks</a></li>
                    <li><a href="/top-trees/pleaching/">Pleaching</a></li>
                    <li><a href="/top-trees/small-gardens/">Small Gardens</a></li>
                    <li><a href="/top-trees/shade/">Shade</a></li>
                    <li><a href="/top-trees/topiary/">Topiary</a></li>
                </ul>

            </li>

            <li><a href="/about-us/">About Us</a></li>

            <li><a href="/contact-us/">Contact Us</a></li>

        </ul>



        <div id="header-buttons">
            <button id="open-menu">Menu</button>
            <button id="open-login">Login</button>
            <button id="open-search">Search</button>
            <button id="open-order">Order</button>
        </div>

    </nav>

</header>