<header>

    <div id="top-bar" style="display:none">
    
        <p id='top-bar-inner'></p>
    
    </div>

    <nav id="header">

        <a href="/">
        
            <img class="logo" src="/public/assets/logo/leafland-logo.svg" width="200" height="100" alt="leafland logo">
        
        </a>

        <div id="header-buttons">
            <button id="open-menu">Menu</button>
            <button id="open-order">Order</button>
            <button id="open-login">Login</button>

            <div id="search-section">

                <input type="text" id="search" placeholder="Search trees..." />

                <div id="search-results">
                
                    <div id="search-load-more-div">

                        <button id='close-search'>Close</button>

                    </div>
            
                    <div id="search-results-inner"></div>
                
                </div>

            </div>
        </div>

    </nav>

</header>