<header>

    <nav id="header">

        <a href="/"><img
        class="logo"
        src="/public/assets/logo/leafland-logo.svg"
        width="200"
        height="100" alt="leafland logo"></a>

        <ul id="desktop-menu">

            {% comment %} <li><a href="/" class="button">Home</a></li> {% endcomment %}

            <li><a href="/trees/" class="button">Tree Finder</a></li>

            <li>

                <a href="" class="button"  id="header-stock-link">Stock List</a>
            
            </li>

            <li class="dropdown-menu">

                <button class="dropdown-menu-button">
                
                    <span>Resources</span>
                    
                    <img src="https://leafland.imgix.net/images/icons/interface/down.svg" class="down-icon" width="25" height="25">
                
                </button>

                <ul class="dropdown-sub-menu">
                    <li><a href="/catalogue/" class="button">Catalogue</a></li>
                    <li><a href="/publications/" class="button">Publications</a></li>
                    <li><a href="/credit-application/" class="button">Credit Application</a></li>
                    <li><a href="/pro-pots/" class="button">Pro-Pots</a></li>
                    <li><a href="/terms-of-trade/" class="button">Terms of Trade</a></li>
                    <li><a href="/tree-planting-guide/" class="button">Tree Planting Guide</a></li>
                </ul>

            </li>

            <li class="dropdown-menu">
                <button class="dropdown-menu-button">
                
                    <span>Top Trees</span>
                    
                    <img src="https://leafland.imgix.net/images/icons/interface/down.svg" class="down-icon" width="25" height="25">

                </button>

                <ul class="dropdown-sub-menu">
                    <li><a href="/top-trees/autumn-colour/" class="button">Autumn Colour</a></li>
                    <li><a href="/top-trees/beautiful-flowers/" class="button">Beautiful Flowers</a></li>
                    <li><a href="/top-trees/driveways-avenues/" class="button">Driveways and Avenues</a></li>
                    <li><a href="/top-trees/hedging-screening/" class="button">Hedging and Screening</a></li>
                    <li><a href="/top-trees/narrow-sites/" class="button">Narrow Sites</a></li>
                    <li><a href="/top-trees/paddocks/" class="button">Paddocks</a></li>
                    <li><a href="/top-trees/pleaching/" class="button">Pleaching</a></li>
                    <li><a href="/top-trees/small-gardens/" class="button">Small Gardens</a></li>
                    <li><a href="/top-trees/shade/" class="button">Shade</a></li>
                    <li><a href="/top-trees/topiary/" class="button">Topiary</a></li>
                </ul>

            </li>

            <li><a href="/about-us/" class="button">About Us</a></li>

            <li><a href="/contact-us/" class="button">Contact Us</a></li>

        </ul>



        <div id="header-buttons">
            <button id="open-menu">Menu</button>
            <button id="open-login">Login</button>
            <button id="open-search">Search</button>
            <button id="open-order">Order</button>
        </div>

    </nav>

</header>