<div id="image-lightbox">

    <div style="display:grid">
        <div id="date-taken-div" style="display:none;grid-row-start:1;"></div>

        <button id="image-lightbox-close" style="grid-row-start:1;">Close</button>
    </div>

    <div id="image-lightbox-div"></div>

</div>