<div id="image-lightbox">

    <div id="top-buttons-block" style="display:grid;align-items:center">

        <div id="date-taken-div" style="display:none;grid-row-start:1;"></div>

        <div id='next-prev' style="grid-row-start:1;display:none">
            <button id="image-lightbox-prev" class="utility-button">Prev</button>
            <button id="image-lightbox-next" class="utility-button">Next</button>
        </div>

        <button id="image-lightbox-close" class="utility-button" style="grid-row-start:1;">Close</button>
      
    </div>

    <div id="image-lightbox-div">
        <img src='' height="2000" width="2000" alt="" id="lightbox-image-low">
        <img src='' height="2000" width="2000" alt="" data-position='' id="lightbox-image" style="display:none" onload="document.querySelector('#lightbox-image-low').style.setProperty('display','none');this.style.setProperty('display','inline-block')">
    </div>

</div>