<div id="login-overlay">

      <div id="top-buttons-block">

        <p>Login</p>

        <button id="close-login" class="utility-button">Close</button>

      </div>

      <div id='login-inner'>

        <div id="login-form-container">

          <h3 id="login-message">You are logged in.</h3>

          <button id="log-out">Log out</button>

          <form id='login-form'>

          <label>Email</label>
          
          <div class="form-inputs">
            <input type='email' name='email' required/>
            <input type='submit' value="Log in" id="log-in">
          </div>
          
          </form>

          <p id="return-message"></p>

          <p>This login is for wholesale customers only. If you have an account, submit your email above and you will be automatically logged in. If you are a wholesale customer and do not have an acccount please get in touch with us.</p>

        </div>

      </div>

</div>