<div id="main-menu-overlay">

  <svg fill="#000000" viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg" class="close-icon" id="close-menu"><path d="M37.304 11.282l1.414 1.414-26.022 26.02-1.414-1.413z"/><path d="M12.696 11.282l26.022 26.02-1.414 1.415-26.022-26.02z"/></svg>

  <div id="main-menu-inner">

    <ul id="main-menu">

      {# <li><h2>Menu</h2></li> #}

      <li>
          <a href="/" class="button">Home</a>
      </li>

      <li>
          <a href="/trees/" class="button">Tree Finder</a>
      </li>

      <li class="sub-menu-button">
        <button id="top-trees-sub-menu-button">

          <span>Top Trees</span>

          <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="right-icon"><g data-name="Layer 2"><g data-name="arrow-ios-forward"><rect width="24" height="24" transform="rotate(-90 12 12)" opacity="0"/><path d="M10 19a1 1 0 0 1-.64-.23 1 1 0 0 1-.13-1.41L13.71 12 9.39 6.63a1 1 0 0 1 .15-1.41 1 1 0 0 1 1.46.15l4.83 6a1 1 0 0 1 0 1.27l-5 6A1 1 0 0 1 10 19z"/></g></g></svg>

        </button>
      </li>

      <li>
          <a href="/about-us/" class="button">About Us</a>
      </li>

      <li>
          <a href="/contact-us/" class="button">Contact Us</a>
      </li>
        
      <li class="sub-menu-button">
        <button id="resources-sub-menu-button">
        
          <span>Resources</span>

          <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="right-icon"><g data-name="Layer 2"><g data-name="arrow-ios-forward"><rect width="24" height="24" transform="rotate(-90 12 12)" opacity="0"/><path d="M10 19a1 1 0 0 1-.64-.23 1 1 0 0 1-.13-1.41L13.71 12 9.39 6.63a1 1 0 0 1 .15-1.41 1 1 0 0 1 1.46.15l4.83 6a1 1 0 0 1 0 1.27l-5 6A1 1 0 0 1 10 19z"/></g></g></svg>
        
        </button>
      </li>

    </ul>

    <ul id="top-trees-sub-menu" class="sub-menu">
      {# <li><h2>Top Trees</h2></li> #}
      <li><a href="/top-trees/autumn-colour/" class="button">Autumn Colour</a></li>
      <li><a href="/top-trees/beautiful-flowers/" class="button">Beautiful Flowers</a></li>
      <li><a href="/top-trees/driveways-avenues/" class="button">Driveways/Avenues</a></li>
      <li><a href="/top-trees/hedging-screening/" class="button">Hedging/Screening</a></li>
      <li><a href="/top-trees/narrow-spaces/" class="button">Narrow Spaces</a></li>
      <li><a href="/top-trees/paddocks-shade/" class="button">Paddocks/Shade</a></li>
      <li><a href="/top-trees/pleaching/" class="button">Pleaching</a></li>
      <li><a href="/top-trees/small-gardens/" class="button">Small Gardens</a></li>
      <li><a href="/top-trees/topiary/" class="button">Topiary</a></li>

      <button id="top-trees-back-button" class="back-button">Back</button>

    </ul>

    <ul id="resources-sub-menu">
      {# <li><h2>Resources</h2></li> #}
      <li class="stock-link"></li>
      <li><a href="/publications/" class="button">Publications</a></li>
      <li><a href="/credit-application/" class="button">Credit Application</a></li>
      <li><a href="/pro-pots/" class="button">Pro-Pots</a></li>
      <li><a href="/terms-of-trade/" class="button">Terms of Trade</a></li>
      <li><a href="/tree-planting-guide/" class="button">Tree Planting Guide</a></li>

      <button id="resources-back-button" class="back-button">Back</button>
    
    </ul>

  </div>

</div>