<div id="main-menu-overlay">

  <div id="main-menu-inner">

    <button id="close-menu">Close</button>

    <div id="main-menu-items">

      <ul class="main-menu-list menu-open" id="main-menu">

        <li class="main-menu-list-item">
            <a class="button main-menu-list-item-link" href="/">
            
              <p>Home</p>
            
            </a>
        </li>

        <li class="main-menu-list-item">
            <a class="button main-menu-list-item-link" href="/trees/">
            
              <p>Tree Finder</p>

            </a>
        </li>

        <li class="main-menu-list-item sub-menu-button">
          <button id="top-trees-sub-menu-button">

            <div>
              <p>Top Trees</p>

              <img src="https://images.leafland.co.nz/images/icons/interface/right.svg" class="right-icon" width="25" height="25">

            </div>

          </button>

        </li>

        <li class="main-menu-list-item">
            <a class="button main-menu-list-item-link" href="/about-us/">
            
              <p>About Us</p>
            
            </a>
        </li>

        <li class="main-menu-list-item">
            <a class="button main-menu-list-item-link" href="/contact-us/">
            
              <p>Contact Us</p>
            
            </a>
        </li>

        <li class="main-menu-list-item" id="menu-stock-link"></li>
          
        <li class="main-menu-list-item sub-menu-button">
          <button id="resources-sub-menu-button">

            <div>
              <p>Resources</p>

              <img src="https://images.leafland.co.nz/images/icons/interface/right.svg" class="right-icon" width="25" height="25">

            </div>
          
          </button>
        </li>

      </ul>

      <ul id="top-trees-sub-menu" class="menu-closed main-menu-list">

        <li class="main-menu-list-item">
          <a class="button main-menu-list-item-link" href="/top-trees/autumn-colour/">

            <p>Autumn Colour</p>
          
          </a>
        </li>

        <li class="main-menu-list-item">
          <a class="button main-menu-list-item-link" href="/top-trees/beautiful-flowers/">

            <p>Beautiful Flowers</p>
          
          </a>
        </li>

        <li class="main-menu-list-item">
          <a class="button main-menu-list-item-link" href="/top-trees/driveways-avenues/">

            <p>Driveways and Avenues</p>
          
          </a>
        </li>

        <li class="main-menu-list-item">
          <a class="button main-menu-list-item-link" href="/top-trees/hedging-screening/">
          
            <p>Hedging and Screening</p>
          
          </a>
        </li>

        <li class="main-menu-list-item">
          <a class="button main-menu-list-item-link" href="/top-trees/narrow-sites/">
          
            <p>Narrow Sites</p>
          
          </a>
        </li>

        <li class="main-menu-list-item">
          <a class="button main-menu-list-item-link" href="/top-trees/paddocks/">
          
            <p>Paddocks</p>

          </a>
        </li>

        <li class="main-menu-list-item">
          <a class="button main-menu-list-item-link" href="/top-trees/pleaching/">
          
            <p>Pleaching</p>
          
          </a>
        </li>

        <li class="main-menu-list-item">
          <a class="button main-menu-list-item-link" href="/top-trees/small-gardens/">
          
            <p>Small Gardens</p>
          
          </a>
        </li>

        <li class="main-menu-list-item">
          <a class="button main-menu-list-item-link" href="/top-trees/shade/">
          
            <p>Shade</p>

          </a>
        </li>

        <li class="main-menu-list-item">
          <a class="button main-menu-list-item-link" href="/top-trees/topiary/">
          
            <p>Topiary</p>
          
          </a>
        </li>

      </ul>

      <ul class="main-menu-list menu-closed" id="resources-sub-menu">

        <li class="main-menu-list-item">
          <a class="button main-menu-list-item-link" href="/catalogue/">
          
            <p>Catalogue</p>
          
          </a>
        </li>

        <li class="main-menu-list-item">
          <a class="button main-menu-list-item-link" href="/publications/">
          
            <p>Publications</p>
          
          </a>
        </li>

        <li class="main-menu-list-item">
        <a class="button main-menu-list-item-link" href="/credit-application/">
        
            <p>Credit Application</p>
        
        </a>
        </li>

        <li class="main-menu-list-item">
          <a class="button main-menu-list-item-link" href="/pro-pots/">
          
            <p>Pro-Pots</p>
          
          </a>
        </li>

        <li class="main-menu-list-item">
        <a class="button main-menu-list-item-link" href="/terms-of-trade/">
        
            <p>Terms of Trade</p>
        
        </a>
        </li>

        <li class="main-menu-list-item">
          <a class="button main-menu-list-item-link" href="/tree-planting-guide/">
          
            <p>Tree Planting Guide</p>
          
          </a>
        </li>
      
      </ul>

    </div>

    <button id="back-button">Back</button>

  </div>

</div>