<div id="main-menu-overlay">

  <div id="main-menu-inner">

    <button id="close-menu">Close</button>

    <div id="main-menu-items">

      <ul id="main-menu">

        <li>
            <a href="/" class="button">
            
              <p>Home</p>
              <img class="menu-image" src="https://images.leafland.co.nz/images/home/leafland-truck-south-island.jpg?tr=w-300,q-75,pr-true,f-auto" loading="lazy" width="200" height="200">
            
            </a>
        </li>

        <li>
            <a href="/trees/" class="button">
            
              <p>Tree Finder</p>
              <img class="menu-image" src="https://images.leafland.co.nz/images/trees/prunus-accolade-flowering-cherry/prunus-accolade-flowering-cherry-garden.jpg?tr=w-300,q-75,pr-true,f-auto" loading="lazy" width="200" height="200">

            </a>
        </li>

        <li class="sub-menu-button">
          <button id="top-trees-sub-menu-button">

            <div>
              <p>Top Trees</p>

              <img src="https://images.leafland.co.nz/images/icons/interface/right.svg" class="right-icon" width="25" height="25">

            </div>

            <img class="menu-image" src="https://images.leafland.co.nz/images/trees/liquidambar-styraciflua-american-sweetgum/liquidambar-styraciflua-american-sweetgum-street.jpg?tr=w-300,q-75,pr-true,f-auto" loading="lazy" width="200" height="200">

          </button>

        </li>

        <li>
            <a href="/about-us/" class="button">
            
              <p>About Us</p>
              <img class="menu-image" src="https://images.leafland.co.nz/images/home/aerial-view-of-leafland-nursery-full.jpg?tr=w-300,q-75,pr-true,f-auto" loading="lazy" width="200" height="200">
            
            </a>
        </li>

        <li>
            <a href="/contact-us/" class="button">
            
              <p>Contact Us</p>
              <img class="menu-image" src="https://images.leafland.co.nz/images/leafland-nurseries-google-map.jpg?tr=w-300,q-75,pr-true,f-auto" loading="lazy" width="200" height="200">
            
            </a>
        </li>

        <li id="menu-stock-link"></li>
          
        <li class="sub-menu-button">
          <button id="resources-sub-menu-button">

            <div>
              <p>Resources</p>

              <img src="https://images.leafland.co.nz/images/icons/interface/right.svg" class="right-icon" width="25" height="25">

            </div>

            <img class="menu-image" src="https://images.leafland.co.nz/images/publications/leaflands-street-tree-book.jpg?tr=w-300,q-75,pr-true,f-auto" loading="lazy" width="200" height="200">
          
          </button>
        </li>

      </ul>

      <ul id="top-trees-sub-menu" class="sub-menu">

        <li>
          <a href="/top-trees/autumn-colour/" class="button">

            <p>Autumn Colour</p>
            <img class="menu-image" src="https://images.leafland.co.nz/images/trees/liquidambar-styraciflua-gumball-american-sweetgum/liquidambar-styraciflua-gumball-american-sweetgum.jpeg?tr=w-300,q-75,pr-true,f-auto" loading="lazy" width="200" height="200">
          
          </a>
        </li>

        <li>
          <a href="/top-trees/beautiful-flowers/" class="button">

            <p>Beautiful Flowers</p>
            <img class="menu-image" src="https://images.leafland.co.nz/images/trees/camellia-high-fragrance-hybrid-camellia/camellia-high-fragrance-hybrid-camellia.jpeg?tr=w-300,q-75,pr-true,f-auto" loading="lazy" width="200" height="200">
          
          </a>
        </li>

        <li>
          <a href="/top-trees/driveways-avenues/" class="button">

            <p>Driveways and Avenues</p>
            <img class="menu-image" src="https://images.leafland.co.nz/images/trees/cupressus-sempervirens-stricta-italian-cypress/cupressus-sempervirens-stricta-italian-cypress.jpg?tr=w-300,q-75,pr-true,f-auto" loading="lazy" width="200" height="200">
          
          </a>
        </li>

        <li>
          <a href="/top-trees/hedging-screening/" class="button">
          
            <p>Hedging and Screening</p>
            <img class="menu-image" src="https://images.leafland.co.nz/images/trees/thuja-plicata-western-red-cedar/thuja-plicata-western-red-cedar.jpg?tr=w-300,q-75,pr-true,f-auto" loading="lazy" width="200" height="200">
          
          </a>
        </li>

        <li>
          <a href="/top-trees/narrow-sites/" class="button">
          
            <p>Narrow Sites</p>
            <img class="menu-image" src="https://images.leafland.co.nz/images/trees/ulmus-x-hollandica-wredei-golden-elm/ulmus-x-hollandica-wredei-golden-elm.jpg?tr=w-300,q-75,pr-true,f-auto" loading="lazy" width="200" height="200">
          
          </a>
        </li>

        <li>
          <a href="/top-trees/paddocks/" class="button">
          
            <p>Paddocks</p>
            <img class="menu-image" src="https://images.leafland.co.nz/images/trees/quercus-robur-english-oak/quercus-robur-english-oak-field.jpg?tr=w-300,q-75,pr-true,f-auto" loading="lazy" width="200" height="200">

          </a>
        </li>

        <li>
          <a href="/top-trees/pleaching/" class="button">
          
            <p>Pleaching</p>
            <img class="menu-image" src="https://images.leafland.co.nz/images/trees/carpinus-betulus-european-hornbeam/carpinus-betulus-european-hornbeam-pleached.jpg?tr=w-300,q-75,pr-true,f-auto" loading="lazy" width="200" height="200">
          
          </a>
        </li>

        <li>
          <a href="/top-trees/small-gardens/" class="button">
          
            <p>Small Gardens</p>
            <img class="menu-image" src="https://images.leafland.co.nz/images/trees/acer-palmatum-dissectum-tamukeyama-japanese-maple/acer-palmatum-dissectum-tamukeyama-japanese-maple.jpg?tr=w-300,q-75,pr-true,f-auto" loading="lazy" width="200" height="200">
          
          </a>
        </li>

        <li>
          <a href="/top-trees/shade/" class="button">
          
            <p>Shade</p>
            <img class="menu-image" src="https://images.leafland.co.nz/images/trees/ulmus-glabra-horizontalis-horizontal-elm-wych-elm/ulmus-glabra-horizontalis-horizontal-elm-wych-elm.jpg?tr=w-300,q-75,pr-true,f-auto" loading="lazy" width="200" height="200">

          </a>
        </li>

        <li>
          <a href="/top-trees/topiary/" class="button">
          
            <p>Topiary</p>
            <img class="menu-image" src="https://images.leafland.co.nz/images/trees/alectryon-excelsus-titoki-new-zealand-oak/alectryon-excelsus-titoki-new-zealand-oak.jpg?tr=w-300,q-75,pr-true,f-auto" loading="lazy" width="200" height="200">
          
          </a>
        </li>

      </ul>

      <ul id="resources-sub-menu">

        <li>
          <a href="/catalogue/" class="button">
          
            <p>Catalogue</p>
            <img class="menu-image" src="https://images.leafland.co.nz/images/publications/leafland-2021-catalogue.jpg?tr=w-300,q-75,pr-true,f-auto" loading="lazy" width="200" height="200">
          
          </a>
        </li>

        <li>
          <a href="/publications/" class="button">
          
            <p>Publications</p>
            <img class="menu-image" src="https://images.leafland.co.nz/images/publications/leaflands-street-tree-book.jpg?tr=w-300,q-75,pr-true,f-auto" loading="lazy" width="200" height="200">
          
          </a>
        </li>

        <li>
        <a href="/credit-application/" class="button">
        
            <p>Credit Application</p>
            <img class="menu-image" src="https://images.leafland.co.nz/images/leafland-credit-application-form.jpg?tr=w-300,q-75,pr-true,f-auto" loading="lazy" width="200" height="200">
        
        </a>
        </li>

        <li>
          <a href="/pro-pots/" class="button">
          
            <p>Pro-Pots</p>
            <img class="menu-image" src="https://images.leafland.co.nz/images/pro-pots/line-of-pro-pots-in-nursery.jpg?tr=w-300,q-75,pr-true,f-auto" loading="lazy" width="200" height="200">
          
          </a>
        </li>

        <li>
        <a href="/terms-of-trade/" class="button">
        
            <p>Terms of Trade</p>
            <img class="menu-image" src="https://images.leafland.co.nz/images/leafland-terms-of-trade.jpg?tr=w-300,q-75,pr-true,f-auto" loading="lazy" width="200" height="200">
        
        </a>
        </li>

        <li>
          <a href="/tree-planting-guide/" class="button">
          
            <p>Tree Planting Guide</p>
            <img class="menu-image" src="https://images.leafland.co.nz/images/tree-planting-guide/tree-planting-guide-diagram.jpg?tr=w-300,q-75,pr-true,f-auto" loading="lazy" width="200" height="200">
          
          </a>
        </li>
      
      </ul>

    </div>

    <button id="back-button">Back</button>

  </div>

</div>