<div id="main-menu-overlay">

  <div id="main-menu-inner">

    <button id="close-menu">Close</button>

    <div id="main-menu-items">

      <ul id="main-menu">

        <li>
            <a href="/" class="button">
            
              <p>Home</p>
            
            </a>
        </li>

        <li>
            <a href="/trees/" class="button">
            
              <p>Tree Finder</p>

            </a>
        </li>

        <li class="sub-menu-button">
          <button id="top-trees-sub-menu-button">

            <div>
              <p>Top Trees</p>

              <img src="https://images.leafland.co.nz/images/icons/interface/right.svg" class="right-icon" width="25" height="25">

            </div>

          </button>

        </li>

        <li>
            <a href="/about-us/" class="button">
            
              <p>About Us</p>
            
            </a>
        </li>

        <li>
            <a href="/contact-us/" class="button">
            
              <p>Contact Us</p>
            
            </a>
        </li>

        <li id="menu-stock-link"></li>
          
        <li class="sub-menu-button">
          <button id="resources-sub-menu-button">

            <div>
              <p>Resources</p>

              <img src="https://images.leafland.co.nz/images/icons/interface/right.svg" class="right-icon" width="25" height="25">

            </div>
          
          </button>
        </li>

      </ul>

      <ul id="top-trees-sub-menu" class="sub-menu">

        <li>
          <a href="/top-trees/autumn-colour/" class="button">

            <p>Autumn Colour</p>
          
          </a>
        </li>

        <li>
          <a href="/top-trees/beautiful-flowers/" class="button">

            <p>Beautiful Flowers</p>
          
          </a>
        </li>

        <li>
          <a href="/top-trees/driveways-avenues/" class="button">

            <p>Driveways and Avenues</p>
          
          </a>
        </li>

        <li>
          <a href="/top-trees/hedging-screening/" class="button">
          
            <p>Hedging and Screening</p>
          
          </a>
        </li>

        <li>
          <a href="/top-trees/narrow-sites/" class="button">
          
            <p>Narrow Sites</p>
          
          </a>
        </li>

        <li>
          <a href="/top-trees/paddocks/" class="button">
          
            <p>Paddocks</p>

          </a>
        </li>

        <li>
          <a href="/top-trees/pleaching/" class="button">
          
            <p>Pleaching</p>
          
          </a>
        </li>

        <li>
          <a href="/top-trees/small-gardens/" class="button">
          
            <p>Small Gardens</p>
          
          </a>
        </li>

        <li>
          <a href="/top-trees/shade/" class="button">
          
            <p>Shade</p>

          </a>
        </li>

        <li>
          <a href="/top-trees/topiary/" class="button">
          
            <p>Topiary</p>
          
          </a>
        </li>

      </ul>

      <ul id="resources-sub-menu">

        <li>
          <a href="/catalogue/" class="button">
          
            <p>Catalogue</p>
          
          </a>
        </li>

        <li>
          <a href="/publications/" class="button">
          
            <p>Publications</p>
          
          </a>
        </li>

        <li>
        <a href="/credit-application/" class="button">
        
            <p>Credit Application</p>
        
        </a>
        </li>

        <li>
          <a href="/pro-pots/" class="button">
          
            <p>Pro-Pots</p>
          
          </a>
        </li>

        <li>
        <a href="/terms-of-trade/" class="button">
        
            <p>Terms of Trade</p>
        
        </a>
        </li>

        <li>
          <a href="/tree-planting-guide/" class="button">
          
            <p>Tree Planting Guide</p>
          
          </a>
        </li>
      
      </ul>

    </div>

    <button id="back-button">Back</button>

  </div>

</div>