<div id="order-overlay">

    <div id="top-buttons-block">

        <p>Order</p>

        <button id="stock-table-back" style="display:none">Back</button>

        <button id="close-order">Close</button>

    </div>

    <div id="order-inner">

        <div id="order-content"></div>

        <p class="order-region-select">
            <label for="region">Choose region/city to calculate freight. Freight for Northland, Manawatū, and Gisborne will be quoted separately. As Leafland have our own trucks, we are able to offer bulk truckload deals for large orders to save on freight. We will quote the freight price for large orders once you have submitted the order.</label>
            <select type="text" name="order-region" id="order-region" required>
            <option value="Pickup">PICKUP</option>
            <option value="Northland">Northland</option>
            <option value="Auckland">Auckland</option>
            <option value="Hamilton">Waikato</option>
            <option value="Tauranga">Tauranga</option>
            <option value="Whakatane">Whakatāne</option>
            <option value="Taupo/Rotorua">Taupō/Rotorua</option>
            <option value="Taranaki">Taranaki</option>
            <option value="Gisborne">Gisborne</option>
            <option value="Hawkes Bay">Hawke's Bay</option>
            <option value="Whanganui">Whanganui</option>
            <option value="Manawatu">Manawatū</option>
            <option value="Wairarapa">Wairarapa</option>
            <option value="Wellington/Lower North Island">Wellington</option>
            <option value="Blenheim/Nelson">Blenheim/Nelson</option>
            <option value="Christchurch">Christchurch</option>
            <option value="Ashburton/Timaru/Oamaru">Ashburton/Timaru/Oamaru</option>
            <option value="Dunedin/West Coast">Dunedin/West Coast</option>
            <option value="Balclutha/Gore">Balclutha/Gore</option>
            <option value="Invercargill/Central Otago">Invercargill/Central Otago</option>
            </select>
        </p>

        <div id='order-sticky'>
        
            <p id="order-overlay-total"></p>

            <button id="submit-order">Proceed to Submit Order</button>

        </div>

    </div>

</div>