<div id="order-sent-overlay">

    <button id="close-order-sent" class="utility-button">Close</button>

    <div id="order-sent-inner">

        <h3>Thanks for your order!</h3>

        <p>We are currently processing your order and will be in touch regarding payment and delivery. You will receive email confirmation of your order.</p>
    
    </div>

</div>