<div id="order-overlay">

    <button id="close-order">Close</button>

    <div id="order-inner">

        {# <h2>Your Order</h2> #}

        <div id="order-content"></div>

        <p id="order-overlay-total"></p>

        <a href="/submit-order/" id="submit-order" class="button">Submit order</a>

    </div>

</div>