<div id="search-overlay">

    <div id="top-buttons-block">

        <p>Search</p>

        <button id="close-search">Close</button>

    </div>

    <div id="search-inner">

    <div id="search-section">

        <input type="text" id="search" placeholder="Search trees..." />

    </div>

    <div id="search-results">
    
        <div id="search-results-inner"></div>

        <div id="search-load-more-div">

        <button id='search-load-more'>Load more</button>
        <button id='search-return-to-top'>Return to top</button>

        </div>
    
    </div>
    
    </div>

</div>