<div id="stock-table">

    <button id="stock-table-close">Close</button>

    <div><p id="stock-table-tree-name">Pricing and stock numbers for <span id="tree-name-content" class="accent-color"></span></p></div>

    <p>All prices exclude GST.</p>

    <div id="stock-table-div"></div>

</div>