<div id="stock-table">

    <div id="top-buttons-block">

        <button id="stock-table-open-order">Open Order</button>

        <button id="stock-table-close">Close</button>

    </div>

    <div id='stock-table-inner'>

        {% comment %} <div><p id="stock-table-tree-name">Pricing and available stock for <span id="tree-name-content"></span></p></div> {% endcomment %}

        <div id="info-section">

            <p>You can place a pre-order for a 50% deposit and we will hold the stock until it is ready. Prices subject to change without notice. Actual stock quantity may differ. Every care is taken to accurately record heights but due to slightly different growth rates and other natural variables that can occur within and to a species, variety, or cultivar, the actual height of the final product may differ from what is stated.</p>

        </div>

        <div id="grade-sizes">

            <div id="grade-select">
                    
                    <div id="in-stock-grades">
                        <p class='title'>To order, select a grade size:</p>

                        <div id="grade-size-selection"></div>

                        <div id="order-grades" class='selection-grid'></div>
                    </div>

                    <div id="in-production-div">
                        <p class='title'>Pre-order grades:</p>

                        <div id="in-production-grades" class="selection-grid"></div>
                    </div>

            </div>

        </div>

    </div>

</div>