<div id="submit-order-overlay">

    <div id="top-buttons-block">

        <button id="submit-order-back">Back to Order</button>

        <button id="close-submit-order">Close</button>

    </div>

    <div id="submit-order-inner">

        <p style="font-weight:600">Once you have submitted your order, if we cannot supply the grades or quantities specified, we will confirm alternatives with you. We will also double-check the freight and if there will be any extra costs (like a surcharge for rural addresses) we will let you know before sending the order. We will send you an invoice that will have our bank details on for payment. We do not take payment via any sort of card. Once payment is received, the trees will be sent. Please note that truck drivers will only unload trees within 5m of truck access.</p>

        <p id="empty-message" class="paragraph-title">Order is empty, please add products before submitting order.</p>

        <form id="submit-grid-content" class="submit-form">

            <div id="submit-grid-content-left">
            
                <h3>Contact and Delivery Details:</h3>

                <div id="submit-grid-content-left-inner">

                    <p>
                        <label for="name">Full Name</label>
                        <input type="text" name="name" required />
                    </p>

                    <p>
                        <label for="email">Email</label>
                        <input type="email" name="email" required />
                    </p>

                    <p>
                        <label for="phone">Phone</label>
                        <input type="tel" name="phone" required />
                    </p>

                    <p>
                        <label for="streetAddress">Street Address</label>
                        <input type="text" id="street-address" name="streetAddress" required />
                    </p>

                    <p>
                        <label for="townCity">Town/City</label>
                        <input type="text" id="town-city" name="townCity" required />
                    </p>

                    <p>
                        <label for="returningCustomer">Returning Customer?</label>
                        <select type="text" name="returningCustomer" required>
                        <option value="No">No</option>
                        <option value="Yes">Yes</option>
                        </select>
                    </p>

                    <p>
                        <label for="notes">Notes and Delivery Instructions (Optional)</label>
                        <textarea id="notes" name="notes" cols="35" rows="10"></textarea>
                    </p>

                </div>

                <p>
                    <label for="trees" style="visibility:hidden">Trees</label>
                    <textarea id="trees" name="trees" style="visibility:hidden" cols="50"></textarea>
                </p>
                
            </div>

            <div id="submit-grid-content-right">

                <h3>Trees:</h3>

                <div id="form-trees"></div>

                <p class="region-select">
                    <label for="region">Choose region/city to calculate freight. Freight for Northland, Manawatū, and Gisborne will be quoted separately. As Leafland have our own trucks, we are able to offer bulk truckload deals for large orders to save on freight. We will quote the freight price for large orders once you have submitted the order.</label>
                    <select type="text" name="region" id="region" required>
                    <option value="Pickup">PICKUP</option>
                    <option value="Northland">Northland</option>
                    <option value="Auckland">Auckland</option>
                    <option value="Hamilton">Waikato</option>
                    <option value="Tauranga">Tauranga</option>
                    <option value="Whakatane">Whakatāne</option>
                    <option value="Taupo/Rotorua">Taupō/Rotorua</option>
                    <option value="Taranaki">Taranaki</option>
                    <option value="Gisborne">Gisborne</option>
                    <option value="Hawkes Bay">Hawke's Bay</option>
                    <option value="Whanganui">Whanganui</option>
                    <option value="Manawatu">Manawatū</option>
                    <option value="Wairarapa">Wairarapa</option>
                    <option value="Wellington/Lower North Island">Wellington</option>
                    <option value="Blenheim/Nelson">Blenheim/Nelson</option>
                    <option value="Christchurch">Christchurch</option>
                    <option value="Ashburton/Timaru/Oamaru">Ashburton/Timaru/Oamaru</option>
                    <option value="Dunedin/West Coast">Dunedin/West Coast</option>
                    <option value="Balclutha/Gore">Balclutha/Gore</option>
                    <option value="Invercargill/Central Otago">Invercargill/Central Otago</option>
                    </select>
                </p>

                <div id="order-totals">

                    <p id="freight-total"></p>
                    <p id="tree-total"></p>
                    <p id="order-total"></p>

                </div>

                
                <div id="terms-of-trade-block">

                    <details>

                        <summary>
                        
                            <span class='plus'>Terms of Trade +</span><span class='minus'>Terms of Trade -</span>

                            {% comment %} <img src="https://leafland.imgix.net/images/icons/interface/right.svg" class="right-icon" width="25" height="25">
                            <img src="https://leafland.imgix.net/images/icons/interface/down.svg" class="down-icon" width="25" height="25"> {% endcomment %}
                            
                        </summary>

                        <div>

                            <p>This is the most up-to-date version of our terms of trade and cancels all previous printed and digital versions. Prices quoted exclude GST. GST will be shown separately on each invoice. Prices shown are net at nursery and are subject to change without notice.</p>

                            <p><b>Freighting:</b> Leafland has a great network of freighting companies who deliver trees New Zealand wide. Remote/rural addresses usually incur a surcharge, but this is set at the trucking company's discretion. Delivery times and freight charges are subject to change without notice. Trees will be delivered in a large curtain-side truck approximately 4.2m high x 9m long. Truck drivers will deliver trees within 5m of access, where access is determined at the driver's discretion. Drivers are not responsible for moving trees around a customer's property. Customers are responsible for organising unloading to and transporting around their property of large and/or bulky trees as required.</p>

                            <p><b>Claims and Replacements:</b> All trees are dispatched uninsured and at the buyer's risk. Claims for damages must be made within a week of receiving the trees. Once Leafland has verified the claim, we will seek to replace or refund the damaged trees. After a week of receiving the trees, Leafland will not be liable for any damage or death that occurs to the trees.</p>

                            <p><b>Returns:</b> Once an order is completed and dispatched, if a customer then changes their mind, the trees must be returned to Leafland, and the customer will pay the cost of transport in both directions. Refunds for the trees will only be paid once Leafland have received the trees and verified they are in good condition. A return to stock charge may be added at Leafland's discretion.</p>

                            <p><b>Credit Application:</b> Please complete our credit application form and scan and email it back.</p>

                            <p><b>Payment:</b> For customers who have completed a credit application with Leafland, payment is due on the 20th of the month following dispatch. For non-account customers payment is to be made either when the order is collected or before the order is freighted.</p>

                            <p><b>Quotes:</b> All quotes expire after one month. If the quoted prices have changed after the quote was issued, the new prices apply after the quote expiry date.</p>

                            <p><b>Deposits to Secure Stock:</b> Leafland encourage forward orders to ensure you get the stock you require. A 50% deposit may be required to hold trees for a month or longer. If the trees are not collected by the agreed date, Leafland reserves the right to charge a holding fee at our discretion. Any cancellations of orders will result in a 20% cancellation fee, with the remainder of the deposit being refunded.</p>

                            <p><b>Ownership:</b> Goods remain the property of Leafland until paid for in full.</p>

                            <p><b>Overdue Accounts:</b> Interest at 2% per month may be charged on overdue accounts. Leafland may, at its discretion, forward details of any amounts outstanding and overdue for payment, to a recovery agent for the purpose of effecting collection of any monies owing. Should Leafland utilize the service of a recovery agent, you, the customer, undertake to make payment of all debt collection costs in regard to any monies owed by you.</p>

                            <p><b>Information:</b> All information about the trees on our website and printed media is given in good faith, but we give no guarantee as to the outcome of the final product as it is subject to natural variables beyond our control.</p>

                            <p><b>Tree Suitability:</b> It is the customer's responsibility to thoroughly and fully research the desired trees before purchasing from Leafland. The customer takes full responsibility to ensure the desired trees are suitable for their site (including, but not limited to, wind tolerance, livestock protection, moisture tolerance, height clearance, and drought tolerance).</p>

                            <p>Leafland take the greatest care to have all trees dispatched true to name but will give no warranty as to growth or description. As we have no control over the environment the trees are planted in, the way they are planted, or the way they are cared for, we do not undertake to replace any failures that occur from incorrect planting, planting in an unsuitable environment, or the trees not being cared for properly.</p>

                            <p><b>Placing an order with Leafland constitutes full acceptance of the above terms of trade.</b></p>

                        </div>

                    </details>

                    <p class="checkbox-field">
                        <input type="checkbox" id="terms-of-trade" name="terms-of-trade" required>
                        <label for="terms-of-trade">I agree to Leafland's Terms of Trade</label>
                    </p>


                </div>

                <p>
                    <button type="submit" class="send-order">Submit order</button>
                </p>

            </div>

        </form>


    </div>

</div>