<style>
#loaded-content{
  opacity:0
}
body.loaded #loaded-content{
  opacity: 1
}
</style>

<script defer src="/public/assets/js/product.min.js"></script>
<link rel="stylesheet" href="/public/assets/css/product.min.css"/>