      <script defer src="/public/assets/js/top-trees.min.js"></script>
            <style>
      #loaded-content {
  opacity: 0;

}
body.loaded #loaded-content {
  opacity: 1;
}
      </style>
      <link rel="stylesheet" href="/public/assets/css/top-trees.min.css"/>