---
layout: layouts/base.njk
type: product
---

<div id="content">

    <div id="tree-name-block">
        <h1 class="tree-botanical-name">{{ botanicalName }}</h1>
        <h2 class="tree-common-name accent-color">{{ commonName }}</h2>
    </div>

    <div id="grid-content">

        <div id="grid-content-left">

            <div id="main-image">

                <button id="image-left-button">

                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="left-icon"><g data-name="Layer 2"><g data-name="arrow-ios-back"><rect width="24" height="24" transform="rotate(90 12 12)" opacity="0"/><path d="M13.83 19a1 1 0 0 1-.78-.37l-4.83-6a1 1 0 0 1 0-1.27l5-6a1 1 0 0 1 1.54 1.28L10.29 12l4.32 5.36a1 1 0 0 1-.78 1.64z"/></g></g></svg>

                </button>

                <button id="image-right-button">

                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="right-icon"><g data-name="Layer 2"><g data-name="arrow-ios-forward"><rect width="24" height="24" transform="rotate(-90 12 12)" opacity="0"/><path d="M10 19a1 1 0 0 1-.64-.23 1 1 0 0 1-.13-1.41L13.71 12 9.39 6.63a1 1 0 0 1 .15-1.41 1 1 0 0 1 1.46.15l4.83 6a1 1 0 0 1 0 1.27l-5 6A1 1 0 0 1 10 19z"/></g></g></svg>

                </button>
            
                <div id="main-image-inner"></div>
            
            </div>

            <div class="images"></div>

        </div>

        <div id="grid-content-right">

            <div id="tree-info">

                <div id="tree-info-left">

                    <p class="tree-description">{{ description | safe}}</p>

                </div>

                <div id="tree-info-right">

                    <div id="color-section">

                        {% if foliageColor !== "" and foliageColor.length > 0 %}

                            <div class="color-div">

                                <p class="bold-up">Foliage Colour</p>

                                <div class="color-spans">

                                    {% for color in foliageColor.split(", ") %}

                                        <span class="tree-color {{color}}"></span>

                                    {% endfor %}

                                </div>

                            </div>

                        {% endif %}

                        {% if autumnColor !== "" and autumnColor.length > 0 %}

                            <div class="color-div">

                                    <p class="bold-up">Autumn Colour</p>

                                    <div class="color-spans">

                                        {% for color in autumnColor.split(", ") %}

                                            <span class="tree-color {{color}}"></span>

                                        {% endfor %}

                                    </div>

                            </div>

                        {% endif %}

                        {% if flowerColor !== "" and flowerColor.length > 0 %}

                            <div class="color-div">

                                    <p class="bold-up">Flower Colour</p>

                                    <div class="color-spans">

                                        {% for color in flowerColor.split(", ") %}

                                            <span class="tree-color {{color}}"></span>

                                        {% endfor %}

                                    </div>

                            </div>

                        {% endif %}
                    
                    </div>

                    <div id="tree-icons">

                        {% if origin !== "" and origin.length > 0 %}

                            <div class="icon-div">
                            
                                <img class="tree-icon" src="https://files.leafland.co.nz/images/icons/tree-attributes/{{ origin }}.svg">
                                <span class="tooltip">{{ origin }} origin</span>
                            
                            </div>

                        {% endif %}

                        {% if winterFoliage !== "" and winterFoliage.length > 0 %}

                            <div class="icon-div">
                            
                                <img class="tree-icon" src="https://files.leafland.co.nz/images/icons/tree-attributes/{{ winterFoliage }}.svg">
                                <span class="tooltip">{{ winterFoliage }}</span>
                            
                            </div>

                        {% endif %}

                        {% if types !== "" and types.length > 0 %}

                            {% for item in types.split(", ") %}

                                <div class="icon-div">
                                
                                    <img class="tree-icon" src="https://files.leafland.co.nz/images/icons/tree-attributes/{{ item }}.svg">
                                    <span class="tooltip">{{ item.replace('-', ' ').replace('-', ' ') }}</span>
                                
                                </div>

                            {% endfor %}

                        {% endif %}

                        {% if tolerates !== "" and tolerates.length > 0 %}

                            {% for item in tolerates.split(", ") %}

                                {% if item === 'drought' or item === 'heavy-rainfall' %}

                                    <div class="icon-div">
                                    
                                        <img class="tree-icon" src="https://files.leafland.co.nz/images/icons/tree-attributes/{{ item }}.svg">
                                        <span class="tooltip">Tolerates {{ item.replace('-', ' ') }}</span>
                                    
                                    </div>

                                {% else %}

                                    <div class="icon-div">
                                    
                                        <img class="tree-icon" src="https://files.leafland.co.nz/images/icons/tree-attributes/{{ item }}.svg">
                                        <span class="tooltip">Tolerates {{ item.replace('-', ' ') }} sites</span>
                                    
                                    </div>

                                {% endif %}

                            {% endfor %}

                        {% endif %}

                        {% if soilType !== "" and soilType.length > 0 %}

                            {% for item in soilType.split(", ") %}

                                <div class="icon-div">
                                
                                    <img class="tree-icon" src="https://files.leafland.co.nz/images/icons/tree-attributes/{{ item }}.svg">
                                    <span class="tooltip">{{ item.replace('-', ' ').replace('-', ' ') }}</span>
                                
                                </div>

                            {% endfor %}

                        {% endif %}

                        {% if sunShade !== "" and sunShade.length > 0 %}

                            {% for item in sunShade.split(", ") %}

                                <div class="icon-div">
                                
                                    <img class="tree-icon" src="https://files.leafland.co.nz/images/icons/tree-attributes/{{ item }}.svg">
                                    <span class="tooltip">{{ item.replace('-', ' ').replace('-', ' ') }}</span>
                                
                                </div>

                            {% endfor %}

                        {% endif %}

                        {% if uses !== "" and uses.length > 0 %}

                            {% for item in uses.split(", ") %}

                                {% if item.search('-') !== -1 %}

                                    <div class="icon-div">
                                    
                                        <img class="tree-icon" src="https://files.leafland.co.nz/images/icons/tree-attributes/{{ item }}.svg">
                                        <span class="tooltip">{{ item.replace('-', ' ').replace('-', ' ') }}</span>
                                    
                                    </div>

                                {% else %}

                                    <div class="icon-div">
                                    
                                        <img class="tree-icon" src="https://files.leafland.co.nz/images/icons/tree-attributes/{{ item }}.svg">
                                        <span class="tooltip">{{ item }}</span>
                                    
                                    </div>

                                {% endif %}

                            {% endfor %}

                        {% endif %}

                    </div>

                    <div id="tree-shape">

                        <p class="paragraph-title">10 Year Size</p>

                        <img id="tree-shape-image" src="https://files.leafland.co.nz/{{ treeShape }}">
                        
                        <div id="height-div">
                            <span class="arrow" id="arrow-up">↑</span>
                            <span id="height-span">{{tree.height}}</span>
                            <span class="arrow" id="arrow-down">↓</span>
                        </div>

                        <div id="width-div">
                            <span class="arrow" id="arrow-left">←</span>
                            <span id="width-span">{{tree.width}}</span>
                            <span class="arrow" id="arrow-right">→</span>
                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div id="order-block">

            <h3 id="grade-sizes-heading">Add to order</h3>

            <div id="grade-sizes">

                <div id="grade-select">

                    <div>
                        <label for="grade-size">Grade Size</label>
                        <select name="grade-size" id="grade-size-select"></select>
                    </div>

                    <div>
                        <label for="height">Average height</label>
                        <select name="height" id="height-select"></select>
                    </div>

                    <div>
                        <label for="standard-height">Standard height</label>
                        <select name="standard-height" id="standard-height-select"></select>
                    </div>

                    <div>
                        <label for="quantity">Quantity</label>
                        <input name="quantity" type="number" id="quantity" value="1" min="1" max="9999" inputmode="numeric">


                    </div>

                    <button id="add-product">Add to order</button>

                </div>

                <div id="stock-values"></div>

            </div>

            <p id="coming-on">Grades coming on:</p>

            <div id="stock-information">

                <p>The <span class="accent-color">grade size</span> is the size of the bag/pot the tree is in. This is measured in either litres or pints per bag.</p>

                <p>The <span class="accent-color">average height</span> is the overall height of the tree from the bottom of the trunk to the top of the tree, averaged across the trees we have in this grade.</p>

                <p>The <span class="accent-color">standard height</span> is the height of the clear trunk from the bottom of the trunk to the graft or the first branch (if it is not grafted). If you don't want a standard tree, select 'None' as the standard height.</p>

                <p>Grades that are <span class="accent-color">coming on</span> are not yet ready for sale. You can place a pre-order for a 50% deposit and we will hold the stock until it is ready. Enquire if interested.</p>

            </div>

            <p class="product-disclaimer">Photos are for reference only and do not necessarily reflect the final product delivered. Prices subject to change without notice. Actual stock quantity may differ. Heights are given in good faith but we give no guarantee as to the height of the final product. If you would like a current photo of any of the grades, please get in touch.</p>

        </div>

    </div>



    <h3 id="related-trees-heading">You may also like</h3>

    <div id="related-trees"></div>

    <div id="success-message">
        <p id="success-message-text" class="paragraph-title"></p>
    </div>

</div>
