#login-overlay {
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: var(--primary-background);
  transition: all 0.5s;
  display: grid;
  place-content: center;
}

#login-inner {
  max-width: 50rem;
  padding: 1rem;
}

#login-form-container {
  margin-top: 3rem;
  background: var(--secondary-background);
  border-radius: 8px;
  padding: 2rem;
}

#close-login {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  border-color: var(--primary-text);
}

#login-form {
  visibility: visible;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;
}

#login-form label {
  text-transform: uppercase;
  font-size: 1.5rem;
}

#login-form input[type="email"] {
  cursor: text;
  border-color: var(--primary-text);
}

#login-message {
  visibility: hidden;
  display: none;
}

#return-message {
  text-transform: uppercase;
  font-weight: bold;
  margin: 2rem 0;
}

#log-out {
  visibility: hidden;
  display: none;
  margin-top: 2rem;
}

#log-out,
#log-in {
  border-color: var(--primary-text);
  background: none;
}

@media (hover: hover) and (pointer: fine) {
  #log-out:hover,
  #log-in:hover,
  #close-login:hover {
    background: var(--primary-text);
    color: var(--secondary-background);
  }
}

body.loggedIn #log-out {
  visibility: visible;
  display: block;
}

body.loggedIn #login-message {
  visibility: visible;
  display: block;
}

body.loggedIn #login-form {
  visibility: hidden;
  display: none;
}
