main {
  max-width: 100rem;
  margin-top: 5rem;
}

main h1,
main h2 {
  text-transform: uppercase;
}

.tree-botanical-name {
  font-size: 2.5rem;
  margin: 0;
}

.tree-common-name {
  margin: 0;
  font-size: 1rem;
  background: var(--secondary-background);
  border-radius: 8px;
  padding: 0.8rem;
  display: inline-block;
  margin-top: 1rem;
}

#tree-info-left {
  grid-template-rows: 1fr auto;
  display: grid;
  justify-self: start;
}

#tree-info-right {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5rem;
  width: 100%;
}

#grid-content-right {
  background: var(--secondary-background);
  border-radius: 8px;
}

#success-message {
  opacity: 0;
  transition: all 0.5s ease;
  position: fixed;
  top: 1rem;
  left: 0;
  z-index: -1;
  display: grid;
  width: 100%;
  place-content: center;
  padding: 0 2rem;
}

#success-message p {
  background: var(--secondary-background);
  border-radius: 8px;
  font-weight: bold;
  padding: 2rem;
  border: 2px solid var(--border-color);
}

#grade-select {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

#grade-select select,
#grade-select input {
  width: 100%;
}

#grade-select input {
  max-width: 150px;
}

#grade-select button {
  align-self: end;
}

#grade-select select,
#grade-select input,
#grade-select button {
  margin: 0;
  height: 40px;
}

/* #grade-select div:last-child {
  align-self: end;
}

#grade-select div:last-child label {
  margin-bottom: 0.5rem;
} */

#grade-select div {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#grade-sizes {
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
  grid-gap: 3rem;
  margin-top: 3rem;
}

#grade-sizes h2 {
  margin: 0;
}

#grade-sizes-heading {
  display: inline-block;
  /* border-bottom: 5px solid var(--brand-light); */
}

#stock-values {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
}

#stock-values p {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
  font-weight: bold;
  margin: 0;
}

.stock-value {
  border: 2px solid var(--border-color);
  border-radius: 8px;
  padding: 20px 10px 20px 10px;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  height: 100%;
}

.stock-value p {
  margin: 0;
  display: inline-block;
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.stock-value a {
  white-space: nowrap;
}

.stock-value-title {
  text-transform: uppercase;
  font-weight: bold;
}

main
  img:not(.main-img):not(.tree-icon):not(#clear-icon):not(#tree-shape-image) {
  border-radius: 8px;
}

#grid-content {
  display: grid;
  gap: 5rem 40px;
  grid-template-columns: 1fr;
  margin-top: 3rem;
}

#grid-content-left {
  display: grid;
  grid-template-rows: auto 1fr;
}

#grid-content-left,
#grid-content-right,
#order-block {
  opacity: 0;
}

body.page-loaded #grid-content-left {
  animation: fadeInUp 1s ease forwards;
}

body.page-loaded #grid-content-right {
  animation: fadeInUp 1s ease 200ms forwards;
}

body.page-loaded #order-block {
  animation: fadeInUp 1s ease 400ms forwards;
}

.tree-description {
  margin: 0;
}

.main-img {
  opacity: 0;
  transition: all 0.5s;
}

#main-image {
  width: 100%;
  height: 400px;
  cursor: pointer;
  background: var(--secondary-background);
  border-radius: 8px;
  position: relative;
  display: grid;
}

#main-image > button {
  display: flex;
  flex-direction: column;
  z-index: 1;
  justify-content: space-around;
  border: none;
  padding: 0;
  height: 40px;
  align-self: center;
}

#main-image > button > svg {
  height: 40px;
  width: 40px;
  background: var(--secondary-background);
  border-radius: 8px;
}

#main-image > * {
  grid-area: 1 / -1;
}

#image-left-button {
  margin-left: 1rem;
  justify-self: start;
}

#image-right-button {
  margin-right: 1rem;
  justify-self: end;
}

#main-image-inner {
  width: 100%;
  height: 400px;
  transition: all 0.5s;
}

#main-image-inner img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 8px;
}

.images {
  margin-top: 1rem;
  display: grid;
  gap: 20px 10px;
  grid-template-columns: repeat(auto-fill, 50px);
  grid-template-rows: repeat(auto-fit, 50px);
}

.image {
  background: var(--secondary-background);
  border-radius: 8px;
  width: 50px;
  height: 50px;
}

.images .image img {
  object-fit: cover;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.icon-div {
  display: grid;
  grid-template-columns: 1fr auto;
  position: relative;
}

.tooltip {
  opacity: 0;
  position: absolute;
  top: -40px;
  font-size: 0.8rem;
  transition: opacity 0.3s ease;
  display: inline-block;
  background: var(--primary-background);
  border-radius: 4px;
  padding: 0.3rem 0.6rem;
  min-width: 100px;
  font-weight: bold;
  white-space: nowrap;
}

.tree-icon {
  border: none;
}

#tree-attributes {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

#color-section {
  display: flex;
  margin-top: 2rem;
  gap: 2rem;
  flex-wrap: wrap;
  grid-column-start: 1;
  grid-column-end: 3;
}

.color-div {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.color-div p {
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.tree-color {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--border-color);
  display: inline-block;
}

.color-spans {
  display: flex;
  gap: 0.5rem;
}

.blue {
  background: #2196f3;
}
.grey {
  background: #808080;
}
.red {
  background: #e22525;
}
.orange {
  background: #ff9800;
}
.yellow {
  background: #ffeb3b;
}
.purple {
  background: #9c27b0;
}
.pink {
  background: #ffbdbd;
}
.green {
  background: #8bc34a;
}
.white {
  background: #ffffff;
}
.brown {
  background: #443730;
}

.tree-icons {
  grid-row-start: 2;
}

#tree-attributes .tree-icon {
  width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
}
#tree-attributes .deciduous {
  background-image: url("https://files.leafland.co.nz/images/icons/tree-attributes/deciduous.svg");
}
#tree-attributes .evergreen {
  background-image: url("https://files.leafland.co.nz/images/icons/tree-attributes/evergreen.svg");
}
#tree-attributes .semi-evergreen {
  background-image: url("https://files.leafland.co.nz/images/icons/tree-attributes/semi-evergreen.svg");
}
#tree-attributes .conifer {
  background-image: url("https://files.leafland.co.nz/images/icons/tree-attributes/conifer.svg");
}
#tree-attributes .weeping {
  background-image: url("https://files.leafland.co.nz/images/icons/tree-attributes/weeping.svg");
}
#tree-attributes .edible {
  background-image: url("https://files.leafland.co.nz/images/icons/tree-attributes/fruit-tree.svg");
}
#tree-attributes .exotic {
  background-image: url("https://files.leafland.co.nz/images/icons/tree-attributes/exotic.svg");
}
#tree-attributes .native {
  background-image: url("https://files.leafland.co.nz/images/icons/tree-attributes/native.svg");
}
#tree-attributes .street {
  background-image: url("https://files.leafland.co.nz/images/icons/tree-attributes/street.svg");
}
#tree-attributes .topiary {
  background-image: url("https://files.leafland.co.nz/images/icons/tree-attributes/topiary.svg");
}
#tree-attributes .hedge {
  background-image: url("https://files.leafland.co.nz/images/icons/tree-attributes/hedge.svg");
}
#tree-attributes .avenue {
  background-image: url("https://files.leafland.co.nz/images/icons/tree-attributes/avenue.svg");
}
#tree-attributes .garden {
  background-image: url("https://files.leafland.co.nz/images/icons/tree-attributes/garden.svg");
}
#tree-attributes .attracts-birds {
  background-image: url("https://files.leafland.co.nz/images/icons/tree-attributes/bird.svg");
}
#tree-attributes .attracts-bees {
  background-image: url("https://files.leafland.co.nz/images/icons/tree-attributes/bee.svg");
}
#tree-attributes .paddock {
  background-image: url("https://files.leafland.co.nz/images/icons/tree-attributes/paddock.svg");
}
#tree-attributes .pleaching {
  background-image: url("https://files.leafland.co.nz/images/icons/tree-attributes/pleaching.svg");
}
#tree-attributes .narrow-spaces {
  background-image: url("https://files.leafland.co.nz/images/icons/tree-attributes/narrow.svg");
}

#image-lightbox {
  opacity: 0;
  position: fixed;
  z-index: -1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-background);
  transition: all 0.5s;
  visibility: hidden;
}

body.lightbox-open #image-lightbox {
  opacity: 1;
  z-index: 8;
  visibility: visible;
}

#image-lightbox-inner {
  display: grid;
  place-content: center;
  width: 100%;
  height: 100%;
}

#image-lightbox-div {
  max-height: 95vh;
  max-width: 95vw;
}

#image-lightbox-div img {
  background: var(--secondary-background);
  max-height: 95vh;
  max-width: 95vw;
  border-radius: 8px;
}

#image-lightbox-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

#tree-info {
  display: grid;
  grid-template-rows: auto 1fr;
  justify-items: center;
  grid-gap: 3rem;
  background: var(--secondary-background);
  border-radius: 8px;
  padding: 1rem;
}

#tree-shape {
  display: grid;
  grid-template-rows: auto 150px auto;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
  align-items: center;
  justify-items: center;
  max-width: 200px;
  justify-self: center;
  grid-row-start: 2;
  grid-column-start: 2;
}

#tree-shape p {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 3;
  align-self: baseline;
  margin: 0;
}

#tree-shape-image {
  border: none;
  width: 150px;
  height: 150px;
  grid-column-start: 1;
  grid-row-start: 2;
}

#height-div {
  grid-column-start: 2;
  grid-row-start: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

#width-div {
  grid-column-start: 1;
  grid-row-start: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#width-span,
#height-span {
  font-weight: bold;
}

.arrow {
  font-size: 2rem;
}

#arrow-up {
  align-self: start;
}

#arrow-down {
  align-self: end;
}

#wholesale-price {
  display: none;
}

#retail-price {
  display: block;
}

#wholesale-price,
#retail-price {
  text-transform: uppercase;
}

body.loggedIn #wholesale-price {
  display: block;
}
body.loggedIn #retail-price {
  display: none;
}

#order-block {
  background: var(--secondary-background);
  border-radius: 8px;
  padding: 2rem;
  grid-column-start: 1;
  grid-column-end: 2;
}

.product-disclaimer {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75rem;
  margin-top: 1rem;
}

.product-disclaimer a {
  border: none;
  padding: 0;
  margin: 0;
  font-size: 0.75rem;
}

#related-trees {
  grid-gap: 2rem;
  grid-template-columns: 1fr;
}

#related-trees-heading {
  margin: 5rem 0 3rem 0;
}

.related-tree {
  text-align: center;
  text-transform: uppercase;
  display: grid;
  justify-items: start;
  border-radius: 8px;
  height: 300px;
  opacity: 0;
  visibility: hidden;
}

.related-tree > * {
  grid-area: 1 / -1;
}

.related-tree-loaded {
  animation: fadeInUp 0.5s forwards calc(var(--animation-order) * 100ms);
  visibility: visible;
}

.tree-image {
  width: 100%;
  height: 100%;
}

.tree-image img {
  object-fit: cover;
  width: 100%;
  height: 300px;
  border-radius: 8px;
  filter: brightness(0.5);
  background: var(--secondary-background);
}

.tree-content {
  z-index: 2;
  display: grid;
  grid-gap: 2rem;
  grid-template-rows: 1fr auto;
  padding: 2rem;
}

.tree-content > div {
  place-self: center;
}

.tree-content h2 {
  color: var(--secondary-background);
  margin: 0;
  text-align: left;
  font-size: 1.75rem;
}

.tree-content h3 {
  margin: 0;
  color: var(--brand-color);
  background: var(--secondary-background);
  text-align: left;
  border-radius: 8px;
  padding: 0.3rem 0.6rem;
  float: left;
  margin-top: 0.4rem;
  font-size: 0.9rem;
}

.tree-content a {
  place-self: start;
  margin-bottom: 1rem;
  border: 2px solid var(--secondary-background);
  color: var(--secondary-background);
  background: none;
  transition: all 0.3s;
}

#stock-information {
  margin: 5rem 0;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr;
}

#stock-information p {
  font-size: 1rem;
  font-weight: bold;
}

#coming-on {
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 4rem;
}

#add-product {
  border-color: var(--primary-text);
}

@media (hover: hover) and (pointer: fine) {
  #add-product:hover {
    background: var(--primary-text);
    color: var(--secondary-background);
  }
  #add-product:hover:disabled {
    background: none;
    color: var(--primary-text);
  }
  .wet:hover + .wet-tooltip {
    opacity: 1;
  }

  .dry:hover + .dry-tooltip {
    opacity: 1;
  }

  .windy:hover + .windy-tooltip {
    opacity: 1;
  }

  .clay:hover + .clay-tooltip {
    opacity: 1;
  }

  .tree-content a:hover {
    color: var(--primary-text);
    background: var(--secondary-background);
  }
}

@media (min-width: 650px) {
  #tree-info-right {
    grid-template-columns: repeat(2, 1fr);
  }
  #tree-shape {
    justify-self: end;
  }

  #grid-content-right {
    padding: 2rem;
  }
}

@media (min-width: 800px) {
  #related-trees {
    grid-template-columns: repeat(2, 1fr);
  }
  .tree-common-name {
    font-size: 1.25rem;
  }

  .tree-botanical-name {
    font-size: 3.5rem;
  }
}

@media (min-width: 1000px) {
  #stock-information {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1100px) {
  #grade-sizes {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  #grid-content {
    grid-template-columns: repeat(2, 1fr);
  }
  #order-block {
    grid-column-end: 3;
  }
  .tree-common-name {
    font-size: 1.5rem;
  }
  .tree-botanical-name {
    font-size: 5rem;
  }
}

@media (min-width: 1350px) {
  #related-trees {
    grid-template-columns: repeat(3, 1fr);
  }
}
