main {
  max-width: 100rem;
}

#stock-data {
  overflow: auto;
  min-height: 30rem;
  width: 100%;
  border: 2px solid var(--primary-text);
  border-radius: 8px;
}

#stock-data table {
  /* table-layout: fixed; */
  border-spacing: 0px;
  width: 100%;
}

#stock-data table th {
  position: sticky;
  top: 0;
  background: var(--surface1-light);
  text-align: center;
  padding: 5px;
  border-bottom: 2px solid var(--primary-text);
  text-overflow: ellipsis;
  white-space: nowrap;
}

#stock-data table tr:first-child th:first-child {
  border-top-left-radius: 8px;
}

#stock-data table tr:first-child th:last-child {
  border-top-right-radius: 8px;
}

#stock-data table tr:last-child td:first-child {
  border-bottom-left-radius: 8px;
}

#stock-data table tr:last-child td:last-child {
  border-bottom-right-radius: 8px;
}

/* #stock-data table tr:first-child th:first-child {
  border-left: 2px solid var(--border-color);
}

#stock-data table tr:first-child th {
  border-top: 2px solid var(--border-color);
}

#stock-data table tr td:first-child {
  border-left: 2px solid var(--border-color);
}

#stock-data table tr td:last-child {
  border-right: 2px solid var(--border-color);
}

#stock-data table tr:last-child td {
  border-bottom: 2px solid var(--border-color);
}

#stock-data table th {
  border-right: 2px solid var(--border-color);
} */

tr:nth-child(even):not(tr:first-child) {
  background: var(--secondary-background);
}
tr:nth-child(odd):not(tr:first-child) {
  background: var(--surface1-light);
}

tr td {
  text-align: center;
}

tr td:nth-child(1),
tr td:nth-child(2) {
  text-align: left;
}

#stock-data table th:nth-child(1),
#stock-data table th:nth-child(2) {
  text-align: left;
}

#stock-data table td {
  /* min-width: 100px; */
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 4px 8px;
  font-weight: bold;
  font-size: 0.85rem;
}
/* #stock-data table td:not(td:last-child) {
  border-right: 1px solid var(--border-color);
}

#stock-data table td:not(tr:last-child td) {
  border-bottom: 1px solid var(--border-color);
} */

.message {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
}

.search-section {
  max-width: 99%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  position: relative;
}
.search {
  width: 100%;
  font-size: 1rem;
  margin: 0;
  min-height: 30px;
}
.search::placeholder {
  color: #c3ced5;
  text-transform: uppercase;
}

#pagination #prev {
  float: left;
}
#pagination #next {
  float: right;
}

#content .button {
  margin-top: 1rem;
}

#pagination #next,
#pagination #prev,
#content .button {
  border-color: var(--primary-text);
}

#pagination #next:disabled,
#pagination #prev:disabled {
  opacity: 0.7;
  cursor: default;
}

#result-totals {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-weight: bold;
}

/* .ready-red {
  background-color: #f4c7c3;
}
.ready-yellow {
  background-color: #fce8b2;
}
.ready-green {
  background-color: #00ff00;
} */

@media (hover: hover) and (pointer: fine) {
  #pagination #next:hover:enabled,
  #pagination #prev:hover:enabled,
  #content .button:hover {
    background: var(--primary-text);
    color: var(--secondary-background);
  }
}
