@keyframes fadeItemIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

main {
  margin-top: 5rem;
}

input[type="checkbox"] {
  margin: 0;
  margin-right: 0.5rem;
}

.tree-item {
  text-align: center;
  text-transform: uppercase;
  display: grid;
  justify-items: start;
  border-radius: 8px;
  height: 300px;
  opacity: 0;
  visibility: hidden;
}

.tree-item-loaded {
  animation: fadeInUp 0.5s forwards calc(var(--animation-order) * 100ms);
  visibility: visible;
}

.tree-item > * {
  grid-area: 1 / -1;
}

.tree-image {
  width: 100%;
  height: 100%;
}
.tree-image img {
  object-fit: cover;
  width: 100%;
  height: 300px;
  border-radius: 8px;
  filter: brightness(0.5);
  background: var(--secondary-background);
}

.title-link-box {
  z-index: 2;
  display: grid;
  grid-gap: 2rem;
  grid-template-rows: 1fr auto;
  padding: 2rem;
}

.title-link-box h2 {
  color: var(--secondary-background);
  margin: 0;
  text-align: left;
  font-size: 1.75rem;
}

.title-link-box h3 {
  margin: 0;
  color: var(--brand-color);
  background: var(--secondary-background);
  text-align: left;
  border-radius: 8px;
  padding: 0.5rem;
  float: left;
  margin-top: 0.4rem;
  font-size: 0.9rem;
}

.title-link-box a {
  place-self: start;
  margin-bottom: 1rem;
  border: 2px solid var(--secondary-background);
  color: var(--secondary-background);
  background: none;
  transition: all 0.3s;
}

.title-container {
  place-self: center;
}

main h1 {
  grid-column-start: 1;
  grid-column-end: 3;
  margin: 0;
}

#tree-wrapper {
  margin-top: 3rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr;
  transition: opacity 1s;
  opacity: 1;
}

#button-div {
  display: grid;
  place-content: center;
  margin-top: 5rem;
  grid-template-columns: repeat(2, auto);
  grid-gap: 3rem;
  opacity: 0;
}

#button-div button {
  border-color: var(--primary-text);
}

#button-div button:disabled {
  opacity: 0.7;
  cursor: default;
}

#filter {
  display: none;
  gap: 2rem;
}

/* #select-filter-title {
  display: block;
}

#checkbox-filter-title {
  display: none;
} */

select[multiple] {
  display: block;
  margin-bottom: 3rem;
  padding: 1rem;
  border-radius: 8px;
}

#clear-select-filter {
  display: block;
  margin: 2rem 0;
  border-color: var(--primary-text);
}

#clear-checkbox-filter {
  display: none;
  margin: 2rem 0;
  border-color: var(--primary-text);
}

#clear-checkbox-filter:disabled,
#clear-select-filter:disabled {
  opacity: 0.7;
  cursor: default;
}

label {
  display: inline-block;
  text-transform: none;
}

details > summary:focus {
  outline: none;
}

details > summary::-webkit-details-marker {
  display: none;
}

details > summary {
  margin-bottom: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  font-weight: bold;
  text-transform: uppercase;
  background: var(--secondary-background);
  padding: 1rem;
  border-radius: 8px;
}

#filter svg {
  height: 20px;
  width: 20px;
}

#filter .right-icon {
  display: block;
}

#filter .down-icon {
  display: none;
}

#filter details[open] > summary .right-icon {
  display: none;
}

#filter details[open] > summary .down-icon {
  display: block;
}

details > div {
  margin: 1rem 0;
  padding-left: 0.5rem;
}

@media (min-width: 1000px) {
  #tree-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1500px) {
  #tree-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (hover: hover) and (pointer: fine) {
  select[multiple],
  /* #select-filter-title, */
  #clear-select-filter {
    display: none;
  }
  #filter {
    display: grid;
  }
  #filter-container,
  /* #checkbox-filter-title, */
  #clear-checkbox-filter {
    display: block;
  }
  #finder-content {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 3rem;
  }

  #button-div button:hover:enabled {
    background: var(--primary-text);
    color: var(--secondary-background);
  }

  .title-link-box a:hover {
    color: var(--primary-text);
    background: var(--secondary-background);
  }

  input:hover,
  label:hover {
    cursor: pointer;
  }

  #clear-checkbox-filter:hover:enabled {
    background: var(--primary-text);
    color: var(--secondary-background);
  }

  details > summary:hover {
    cursor: pointer;
  }
}
