---
eleventyExcludeFromCollections: true
layout: layouts/base.liquid
title: Page not found
type: page
permalink: /404.html
---

<div id="content">

    <h1>Page not found</h1>

    <p class="subtitle">Looks like that page can't be found.</p>

</div>
