---
eleventyExcludeFromCollections: true
layout: layouts/base.njk
title: Page not found
type: page
permalink: /404.html
---

<div id="content">

    <h1>Page not found</h1>

    <p class="subtitle">Looks like that page can't be found.</p>

    <a href="/" class="button">Head home</a>
    <a href="/trees" class="button">Find some trees</a>

</div>
