---
layout: layouts/base.liquid
title: About Us
type: page
description: Leafland is the home of quality specimen trees. We stock a wide range of big trees and large grade trees including native trees, fruit trees, hedging trees, and flowering trees. Buy trees online now! We provide New Zealand with quality specimen trees and deliver all over the country.
---

<div id="content">

    <h1>About Us</h1>

    <div id="content-grid">

        <div id="content-grid-left">
        
            <h3>Who We Are</h3>

            <p>Leafland is a family run wholesale tree nursery based in Palmerston North, New Zealand. Leafland started in April 2001 after we purchased the tree side of Sunshine Environmentals. We have over 30 full time staff. Our mission is to provide quality specimen trees throughout New Zealand with outstanding service and professional advice.</p>

            <p>We seek to be the best grower of large grade trees in New Zealand. We specialise in exotic, edible, and native trees and sell over 700 different tree species, varieties, and cultivars. Our property spans over 35 acres and two different locations (1 Roberts Line and 710 Napier Road), accommodating over 100,000 individual trees.</p>

            <p>Leafland trees are unique in that they are grown on our property in a typically windy Palmerston North. We are also subject to cold winters and this environment helps make a hardier plant, compared to one grown in a sheltered environment. Typical Leafland customers include councils, landscape architects, property developers, tree surgeons, golf courses, and schools.</p>

            <p>We do supply trees to the public and appreciate your custom. As we stock a large range of trees, we ask that you do your own research before visiting us.</p>

            <p>To get in touch with us, check out our <a href="/contact-us/">contact page</a>.</p>

        </div>

        <div id="content-grid-right">

            <h3>See Our Nurseries</h3>

            <video controls controlsList="nodownload" playsinline preload="none" poster="https://ik.imagekit.io/leafland/tr:w-700/aerial-view-of-leafland-nursery-full.jpg">

                <source src="https://ik.imagekit.io/leafland/leafland-nursery-overview-2020-web.mp4" type="video/mp4">

            </video>

        </div>

    </div>

</div>
