---
layout: layouts/base.njk
title: About Us
type: page
---

<div id="content">

    <h1>About Us</h1>

    <div id="content-grid">

        <div id="content-grid-left">
        
            <h2>Who we are</h2>

            <p>Leafland is a family run wholesale tree nursery based in Palmerston North, New Zealand. Leafland started in April 2001 after we purchased the tree side of Sunshine Environmentals. We have over 30 full time staff. Our mission is to provide quality specimen trees throughout New Zealand with outstanding service and professional advice.</p>

            <p>We seek to be the best grower of large grade trees in New Zealand. We specialise in exotic, edible, and native trees and sell over 700 different tree species, varieties, and cultivars. Our property spans over 35 acres and two different locations (1 Roberts Line and 710 Napier Road), accommodating over 100,000 individual trees.</p>

            <p>Leafland trees are unique in that they are grown on our property in a typically windy Palmerston North. We are also subject to cold winters and this environment helps make a hardier plant, compared to one grown in a sheltered environment. Typical Leafland customers include councils, landscape architects, property developers, tree surgeons, golf courses, and schools.</p>

            <p>We do supply trees to the public and appreciate your custom. As we stock a large range of trees, we ask that you do your own research before visiting us.</p>

            <p>To get in touch with us, check out our <a href="/contact-us">contact page</a>.</p>

        </div>

        <div id="content-grid-right">

            <h2>See our nurseries</h2>

            <video controls controlsList="nodownload" playsinline preload="auto" poster="https://ik.imagekit.io/leafland/images/home/aerial-view-of-leafland-nursery-full.jpg?tr=w-750,q-75,pr-true,f-auto,ar-16-9">

                <source src="https://files.leafland.co.nz/videos/leafland-nursery-overview-2020-web.mp4" type="video/mp4">

            </video>

        </div>

    </div>

</div>
