---
layout: layouts/base.njk
title: Catalogue
type: page
description: Leafland's catalogue is an informative and inspiring collection of the trees we sell.
---

<div id="content">

    <h1>Leafland's 2021 Catalogue</h1>

    <div id="content-inner">
            
        <p>Click on the image below to download a pdf of our 2021 catalogue.</p>

        <a href="https://files.leafland.co.nz/documents/leafland-2021-catalogue.pdf" target="_blank"><img class="publication-image" src="https://ik.imagekit.io/leafland/images/publications/leafland-2021-catalogue.jpg?tr=w-750,q-75,pr-true,f-auto"></a>

    </div>

</div>
