---
layout: layouts/base.liquid
title: Catalogue
type: page
description: Leafland is the home of quality specimen trees. We stock a wide range of big trees and large grade trees including native trees, fruit trees, hedging trees, and flowering trees. Buy trees online now! We provide New Zealand with quality specimen trees and deliver all over the country.
---

<div id="content">

    <h1>Leafland's 2022 Tree Catalogue</h1>

    <div id="content-inner">
            
        <p>Our tree catalogue is a great resource for finding the perfect tree for your next project! Full of information and pictures of the trees we stock, you'll find what you're after in no time.</p>

        <a href="https://leafland.imgix.net/documents/leafland-2022-tree-catalogue.pdf" target="_blank" rel="noopener noreferrer" class="button">Download 2022 Tree Catalogue</a>

    </div>

</div>
