---
layout: layouts/base.njk
title: Contact Us
type: page
---

<div id="content">

    <h1>Contact Us</h1>

    <div id="content-grid">

        <div id="content-grid-left">

            <h2>Our contact info</h2>

            <p>Open from Monday to Friday, 8am to 5pm. Closed on weekends and all public holidays.</p>

            <p>Email us at: <a href="mailto:sales@leafland.co.nz">sales@leafland.co.nz</a></p>

            <p>Call us on: <a href="tel:0800532352">0800 532 352</a></p>

            <p>Find us at: 1 Roberts Line and 710 Napier Road, Palmerston North</p>

            <p>If you would like more information about our nurseries, check out our <a href="/about-us">about page</a>.</p>

        </div>

        <div id="content-grid-right">

            <h2>Find us here</h2>

            <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d20460.95368046664!2d175.671955567745!3d-40.33038852412925!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sleafland!5e0!3m2!1sen!2snz!4v1618448930226!5m2!1sen!2snz" width="100%" height="450" allowfullscreen="" loading="lazy"></iframe>

        </div>

    </div>

</div>
