---
layout: layouts/base.liquid
title: Credit Application
type: page
description: Leafland is the home of quality specimen trees. We stock a wide range of big trees and large grade trees including native trees, fruit trees, hedging trees, and flowering trees. Buy trees online now! We provide New Zealand with quality specimen trees and deliver all over the country.
---

<div id="content">

  <h1>Credit Application</h1>

  <div id="content-inner">

    <p>For wholesale customers wanting to set up an account, please download and fill out our credit application form.</p>

    <a
      href="https://files.leafland.co.nz/leafland-credit-application-form.pdf"
      target="_blank"
      rel="noopener noreferrer"
      class="button">Download credit application form</a>

  </div>

</div>