---
layout: layouts/base.liquid
title: Credit Application
type: page
description: Leafland's credit application form for wholesale and trade customers.
---

<div id="content">

    <h1>Credit Application</h1>

    <div id="content-inner">

        <p>For those wanting to become an account/wholesale customer, please click on the image below to download our credit application form.</p>

        <a href="https://files.leafland.co.nz/documents/leafland-credit-application-form.pdf" target="_blank"><img class="publication-image" src="https://images.leafland.co.nz/images/leafland-credit-application-form.jpg?tr=w-750,q-75,pr-true,f-auto"></a>

    </div>

</div>
