---
layout: layouts/base.njk
title: Credit Application
type: page
description: Leafland's credit application form for wholesale and trade customers.
---

<div id="content">

    <h1>Credit Application</h1>

    <p>For those wanting to become an account/wholesale customer, please download and fill out our <a href="https://files.leafland.co.nz/documents/leafland-credit-application-form.pdf" target="_blank">credit application form</a>.</p>

</div>
