---
layout: layouts/base.liquid
title: Credit Application
type: page
description: Leafland is the home of quality specimen trees. We stock a wide range of big trees and large grade trees including native trees, fruit trees, hedging trees, and flowering trees. Buy trees online now! We provide New Zealand with quality specimen trees and deliver all over the country.
---

<div id="content">

    <h1>Credit Application</h1>

    <div id="content-inner">

        <p>For those wanting to become an account/wholesale customer, please click on the image below to download our credit application form.</p>

        <a href="https://files.leafland.co.nz/documents/leafland-credit-application-form.pdf" target="_blank"><img class="publication-image" src="https://images.leafland.co.nz/images/leafland-credit-application-form.jpg?tr=w-750,q-75,pr-true,f-auto" width="750" height="750" alt="leafland credit application form"></a>

    </div>

</div>
