---
eleventyExcludeFromCollections: true
layout: layouts/base.njk
title: Freight Charges
type: freight-charges
---

<div id="content">

    <h1>Freight Charges</h1>

    <p>All prices exclude GST. Prices are per tree, except for Manawatu, where prices are per load. There is a minimum freight charge to each region. Deliveries further north than Silverdale, Auckland will incur a surcharge on top of the Auckland rate determined on a per-order basis. Low-quantity orders may have to be sent on Toll, in which case, the freight will be quoted after receiving a cost estimate from Toll. These freight prices are a general guide and the final freight price may differ.</p>

    <div class="search-section">

        <input type="text" class="search" placeholder="Search locations..." disabled/>

    </div>

    <div id="freight-data"></div>

    <div id="result-totals"></div>

    <div id="pagination">

        <button id="prev">Prev</button>
        <button id="next">Next</button>

    </div>

</div>
