---
layout: layouts/base.liquid
title: Grade Size Information
type: information-table
description: Leafland is the home of quality specimen trees. We stock a wide range of big trees and large grade trees including native trees, fruit trees, hedging trees, and flowering trees. Buy trees online now! We provide New Zealand with quality specimen trees and deliver all over the country.
---

<div id="content">

    <h1>Grade Size Information</h1>

    <h3>Approximate pot/bag dimensions and weight</h3>

    <div class="information-table">
        <table>
            <tr>
                <th>Grade</th>
                <th>Diameter (cm)</th>
                <th>Height (cm)</th>
                <th>Weight (kg)</th>
            </tr>
            <tr>
                <td>10L</td>
                <td>26</td>
                <td>26</td>
                <td>5</td>
            </tr>
            <tr>
                <td>15L</td>
                <td>33</td>
                <td>28</td>
                <td>8</td>
            </tr>
            <tr>
                <td>17L</td>
                <td>35</td>
                <td>30</td>
                <td>10</td>
            </tr>
            <tr>
                <td>25L</td>
                <td>38</td>
                <td>33</td>
                <td>15</td>
            </tr>
            <tr>
                <td>35L</td>
                <td>45</td>
                <td>37</td>
                <td>20</td>
            </tr>
            <tr>
                <td>45L</td>
                <td>50</td>
                <td>34</td>
                <td>25</td>
            </tr>
            <tr>
                <td>50L</td>
                <td>50</td>
                <td>41</td>
                <td>27</td>
            </tr>
            <tr>
                <td>60L</td>
                <td>55</td>
                <td>38</td>
                <td>30</td>
            </tr>
            <tr>
                <td>80L</td>
                <td>60</td>
                <td>44</td>
                <td>50</td>
            </tr>
            <tr>
                <td>90L</td>
                <td>60</td>
                <td>48</td>
                <td>55</td>
            </tr>
            <tr>
                <td>100L</td>
                <td>60</td>
                <td>51</td>
                <td>65</td>
            </tr>
            <tr>
                <td>135L</td>
                <td>70</td>
                <td>51</td>
                <td>80</td>
            </tr>
            <tr>
                <td>160L</td>
                <td>80</td>
                <td>51</td>
                <td>100</td>
            </tr>
            <tr>
                <td>200L</td>
                <td>80</td>
                <td>55</td>
                <td>150</td>
            </tr>
            <tr>
                <td>400L</td>
                <td>98</td>
                <td>73</td>
                <td>325</td>
            </tr>
            <tr>
                <td>1000L</td>
                <td>150</td>
                <td>80</td>
                <td>900</td>
            </tr>
            <tr>
                <td>2000L</td>
                <td>200</td>
                <td>90</td>
                <td>1800</td>
            </tr>
        </table>
    </div>

    <h3>Approximate PB to L conversion</h3>

    <div class="information-table">
        <table>
            <tr>
                <th>PB</th>
                <th>L</th>
            </tr>
            <tr>
                <td>PB3/4</td>
                <td>1L</td>
            </tr>
            <tr>
                <td>PB2</td>
                <td>1.5L</td>
            </tr>
            <tr>
                <td>PB3</td>
                <td>2L</td>
            </tr>
            <tr>
                <td>PB5</td>
                <td>3L</td>
            </tr>
            <tr>
                <td>PB6.5</td>
                <td>5L</td>
            </tr>
            <tr>
                <td>PB12</td>
                <td>8L</td>
            </tr>
            <tr>
                <td>PB18</td>
                <td>10L</td>
            </tr>
            <tr>
                <td>PB28</td>
                <td>15L/17L</td>
            </tr>
            <tr>
                <td>PB40</td>
                <td>25L</td>
            </tr>
            <tr>
                <td>PB60</td>
                <td>35L</td>
            </tr>
            <tr>
                <td>PB95</td>
                <td>45L</td>
            </tr>
            <tr>
                <td>PB105</td>
                <td>60L</td>
            </tr>
            <tr>
                <td>PB160</td>
                <td>80L</td>
            </tr>
            <tr>
                <td>PB175</td>
                <td>100L</td>
            </tr>
            <tr>
                <td>PB280</td>
                <td>160L</td>
            </tr>
            <tr>
                <td>PB350</td>
                <td>200L</td>
            </tr>
            <tr>
                <td>PB700</td>
                <td>400L</td>
            </tr>
            <tr>
                <td>PB1760</td>
                <td>1000L</td>
            </tr>
        </table>
    </div>

</div>