---
layout: layouts/base.liquid
title: Leafland
type: index
description: Leafland is the home of quality specimen trees. We stock a wide range of big trees and large grade trees including native trees, fruit trees, hedging trees, and flowering trees. Buy trees online now! We provide New Zealand with quality specimen trees and deliver all over the country.
---

<div id="content">

  <div id="hero">

    <div id="surface-content">

        <div id="hero-text">
          <p class="subtitle">The home of</p>
          <h1>Quality specimen trees</h1>
        </div>

        <div id="link-block">
          <a href="/trees/" class="button">Find a tree</a>
          <a href="/tree-planting-guide/" class="secondary-button button">Learn to plant a tree</a>
        </div>

    </div>

    <div id="hero-images">

      <img class="hero-image" id="image-2" src="https://leafland.imgix.net/images/home/prunus-yedoensis-awanui-massey-university.jpg?auto=format&w=2000,q-75,pr-true,f-auto" width="2000" height="2000" srcset="https://leafland.imgix.net/images/home/prunus-yedoensis-awanui-massey-university.jpg?auto=format&w=600&q=75 600w, https://leafland.imgix.net/images/home/prunus-yedoensis-awanui-massey-university.jpg?auto=format&w=900&q=75 900w, https://leafland.imgix.net/images/home/prunus-yedoensis-awanui-massey-university.jpg?auto=format&w=1200&q=75 1200w, https://leafland.imgix.net/images/home/prunus-yedoensis-awanui-massey-university.jpg?auto=format&w=1500&q=75 1500w" sizes="100vw">


    </div>

  </div>

  <div class="split-section">
    
      <div class="split-section-text">

        <h3>Specialising in large grade trees.</h3>
        
        <p>We have been growing large grade trees up to 7m tall since 2001. Leafland is the first place to go for quality specimen trees.</p>
      </div>

      <img src="https://leafland.imgix.net/images/home/prunus-yedoensis-awanui-massey-university.jpg?auto=format&w=750&q=75" width="750" height="750" srcset="https://leafland.imgix.net/images/home/prunus-yedoensis-awanui-massey-university.jpg?auto=format&w=300&q=75 300w, https://leafland.imgix.net/images/home/prunus-yedoensis-awanui-massey-university.jpg?auto=format&w=500&q=75 500w" sizes="750px" loading="lazy">

  </div>

  <div class="banner-section">

    <div class="banner-section-inner">

      <div class="banner-section-text">
        <h3>Need help finding a tree?</h3>
        <p>Our tree finder is the best tool to find the perfect tree for your location!</p>
      </div>

      <a href="/trees/" class="button">Find a tree</a>
      
    </div>

  </div>

  <div class="split-section">

    <div class="split-section-text">
      <h3>Over 30 acres of New Zealand's best trees.</h3>
      <p>Check out this video to see the scope of our two tree nurseries in Palmerston North, Manawatu.</p>
    </div>
    
    <video controls controlsList="nodownload" playsinline preload="none" poster="https://leafland.imgix.net/images/home/aerial-view-of-leafland-nursery-full.jpg?auto=format&w=750&q=75,ar-16-9">
      <source src="https://files.leafland.co.nz/videos/leafland-nursery-overview-2020-web.mp4" type="video/mp4">
    </video>

  </div>

  <div class="banner-section">

    <div class="banner-section-inner">

      <div class="banner-section-text">
        <h3>Not sure how to plant a tree?</h3>
        <p>Our tree planting guide will give you all the tips you need to plant your new trees successfully!</p>
      </div>

      <a href="/tree-planting-guide/" class="button">Learn to plant a tree</a>

    </div>

  </div>

  <div class="split-section">

    <div class="split-section-text">
      <h3>Delivering all over New Zealand.</h3>
      <p>Councils, landscapers, and the general public all around New Zealand buy quality specimen trees from Leafland.</p>
    </div>

    <img src="https://leafland.imgix.net/images/home/leafland-truck-south-island.jpg?auto=format&w=750&q=75" width="750" height="750" srcset="https://leafland.imgix.net/images/home/leafland-truck-south-island.jpg?auto=format&w=300&q=75 300w, https://leafland.imgix.net/images/home/leafland-truck-south-island.jpg?auto=format&w=500&q=75 500w" sizes="750px" loading="lazy">

  </div>

</div>
