---
layout: layouts/base.njk
title: Leafland
type: index
description: Leafland is the home of quality specimen trees. We provide New Zealand with quality specimen trees and deliver all over the country. Order now from our website and get planting!
---

<div id="content">

  <div id="hero">

    <div id="surface-content">

        <div id="hero-text">
          <p class="subtitle">The home of</p>
          <h1>Quality specimen trees</h1>
        </div>

        <div id="link-block">
          <a href="/trees/" class="button">Find a tree</a>
          <a href="/tree-planting-guide/" class="secondary-button button">Learn to plant a tree</a>
        </div>

    </div>

    <div id="hero-images">

      <img class="hero-image" id="image-1" src="https://images.leafland.co.nz/images/home/aerial-view-of-leafland-nursery-full.jpg?tr=w-2000,q-75,pr-true,f-auto">
      <img class="hero-image" id="image-2" src="https://images.leafland.co.nz/images/home/prunus-yedoensis-awanui-massey-university.jpg?tr=w-2000,q-75,pr-true,f-auto">
      <img class="hero-image" id="image-3" src="https://images.leafland.co.nz/images/home/leafland-truck-south-island.jpg?tr=w-2000,q-75,pr-true,f-auto">

    </div>

  </div>

  <div class="split-section">
    
      <div class="split-section-text">

        <h3>Specialising in large grade trees.</h3>
        
        <p>We have been growing large grade trees up to 7m tall since 2001. Leafland is the first place to go for quality specimen trees.</p>
      </div>

      <img src="https://images.leafland.co.nz/images/home/prunus-yedoensis-awanui-massey-university.jpg?tr=w-750,q-75,pr-true,f-auto">

  </div>

  <div class="banner-section">

    <div class="banner-section-inner">

      <div class="banner-section-text">
        <h3>Need help finding a tree?</h3>
        <p>Our tree finder is the best tool to find the perfect tree for your location!</p>
      </div>

      <a href="/trees/" class="button">Find a tree</a>
      
    </div>

  </div>

  <div class="split-section">

    <div class="split-section-text">
      <h3>Over 30 acres of New Zealand's best trees.</h3>
      <p>Check out this video to see the scope of our two tree nurseries in Palmerston North, Manawatu.</p>
    </div>
    
    <video controls controlsList="nodownload" playsinline preload="auto" poster="https://images.leafland.co.nz/images/home/aerial-view-of-leafland-nursery-full.jpg?tr=w-750,q-75,pr-true,f-auto,ar-16-9">
      <source src="https://files.leafland.co.nz/videos/leafland-nursery-overview-2020-web.mp4" type="video/mp4">
    </video>

  </div>

  <div class="banner-section">

    <div class="banner-section-inner">

      <div class="banner-section-text">
        <h3>Not sure how to plant a tree?</h3>
        <p>Our tree planting guide will give you all the tips you need to plant your new trees successfully!</p>
      </div>

      <a href="/tree-planting-guide/" class="button">Learn to plant a tree</a>

    </div>

  </div>

  <div class="split-section">

    <div class="split-section-text">
      <h3>Delivering all over New Zealand.</h3>
      <p>Councils, landscapers, and the general public all around New Zealand buy quality specimen trees from Leafland.</p>
    </div>

    <img src="https://images.leafland.co.nz/images/home/leafland-truck-south-island.jpg?tr=w-750,q-75,pr-true,f-auto">

  </div>

</div>
