---
layout: layouts/base.liquid
title: Job Vacancies
type: page
description: Leafland is the home of quality specimen trees. We stock a wide range of big trees and large grade trees including native trees, fruit trees, hedging trees, and flowering trees. Buy trees online now! We provide New Zealand with quality specimen trees and deliver all over the country.
---

<div id="content">

    <h1>Job Vacancies</h1>

    <div id="content-inner">

        <h3>Plant Nursery Worker</h3>

        <p>Leafland are currently looking for a Plant Nursery Worker to undertake potting, weeding, watering, spraying, dispatching of trees and shrubs, tractor driving, and general nursery work. You need to be physically fit, able to undertake heavy lifting, well presented, have a good work ethic, and have transport to get to and from work. May be required to pass a security check and drug test. Garden nursery experience and/or a knowledge of trees and shrubs is required. Monday to Friday. Please send a CV to ben@leafland.co.nz if you are interested.</p>

        <h3>Truck Driver</h3>

        <p>Leafland are currently looking for a Truck Driver with a minimum of a class 2 Driver licence to undertake delivery of trees and plants, mainly throughout the North Island. The role may also involved undertaking general tree/plant nursery work and mechanical repairs if able to do so. If you are physically fit, able to undertake heavy lifting, well presented, have a good work ethic, customer service skills, a mature attitude, and have transport to get to and from work, then please apply today. May be required to pass a security check and drug test. Please send a CV to ben@leafland.co.nz if you are interested.</p>

    </div>

</div>
