---
layout: layouts/base.liquid
title: Pro-Pots
type: page
description: Leafland is the home of quality specimen trees. We stock a wide range of big trees and large grade trees including native trees, fruit trees, hedging trees, and flowering trees. Buy trees online now! We provide New Zealand with quality specimen trees and deliver all over the country.
---

<div id="content">

    <h1>Pro-Pots</h1>

    <div id="content-grid">

        <div id="content-grid-left">

            <h3>Why Pro-Pots?</h3>

            <p>Leafland is aware of the need to look more closely at container growing methods used for advanced-grade trees in New Zealand. We understand how important it is that a tree has a good healthy root system which will quickly establish to ensure the tree won't fail.</p>

            <p>Our growing method had to be the most practical, sustainable, and cost-effective way to grow advanced-grade trees that will also meet the customers' expectations and remain price competitive. The search resulted in our development and use of Pro-Pots. These pots produce an air pruned root system, which prevents curling root systems. They are easy to use as no assembly is required. Leafland grows trees in 25L, 35L, 45L, 60L, and 100L Pro-Pots. At dispatch, we remove the trees from the pots and put the root ball into a biodegradable hessian easy-lift bag for planting. These hessian transport bags can be planted into the ground and will decompose within a few months. The pots will be washed and recycled, making this system a far superior and sustainable way to grow advanced-grade trees.</p>

            <p><b>We only grow trees in Pro-Pots by contract, so please contact us if you are interested.</b></p>

        </div>

        <div id="content-grid-right">

            <h3>Discover Pro-Pots</h3>

            <video controls controlsList="nodownload" playsinline preload="none" poster="https://leafland.co.nz/cdn-cgi/image/format=auto,quality=75,width=750/https://leafland.sgp1.cdn.digitaloceanspaces.com/images/pro-pots/line-of-pro-pots-in-nursery.jpg">

                <source src="https://leafland.sgp1.cdn.digitaloceanspaces.com/videos/propots-overview-video.mp4" type="video/mp4">
            </video>

        </div>

    </div>

</div>
