---
layout: layouts/base.njk
title: Publications
type: page
---

<div id="content">

    <h1>Publications</h1>

    <div id="content-grid">

        <div id="content-grid-left">

            <h3>Leafland's 2021 Catalogue</h3>
            
            <p>Click on the image below to download a pdf of our 2021 catalogue.</p>

            <a href="https://files.leafland.co.nz/documents/leafland-2021-catalogue.pdf" target="_blank"><img class="publication-image" src="https://ik.imagekit.io/leafland/images/publications/leafland-2021-catalogue.jpg?tr=w-750,q-75,pr-true,f-auto"></a>

            <h3>Leafland's Street Tree Book</h3>

            <p>For street tree inspiration, check our street tree book.</p>
            
            <p>Click on the image below to download a pdf of our Street Tree Book.</p>

            <a href="https://files.leafland.co.nz/documents/leafland-street-tree-book-2019.pdf" target="_blank"><img class="publication-image" src="https://ik.imagekit.io/leafland/images/publications/leaflands-street-tree-book.jpg?tr=w-750,q-75,pr-true,f-auto"></a>

        </div>

        <div id="content-grid-right">

            <h3>Trees for Bees' Planting Handbook</h3>

            <p>Trees for Bees have a great resource for planting trees for bees on farms. <a href="https://treesforbeesnz.org/handbook" target="_blank">Find out more about their planting handbook</a>.</p>

            <p>Click on the image below to download a pdf of Trees for Bees' Planting Handbook.</p>

            <a href="https://files.leafland.co.nz/documents/trees-for-bees-planting-handbook.pdf" target="_blank"><img class="publication-image" src="https://ik.imagekit.io/leafland/images/publications/tree-for-bees-planting-handbook.jpg?tr=w-750,q-75,pr-true,f-auto"></a>

        </div>

    </div>

</div>
