---
eleventyExcludeFromCollections: true
layout: layouts/base.njk
title: Retail Stock List
type: retail
---

<div id="content">

    <h1>Retail Stock List</h1>

    <p>All prices exclude GST.</p>

    <a href="/freight-charges/" class="button">Freight Charges</a>

    <div class="search-section">

        <input type="text" class="search" placeholder="Search trees..." disabled/>

    </div>

    <div id="stock-data"></div>

    <div id="result-totals"></div>

    <div id="pagination">

        <button id="prev">Prev</button>
        <button id="next">Next</button>

    </div>

</div>
