---
eleventyExcludeFromCollections: true
permalink: /robots.txt
---

User-agent: *
Disallow: /login/
Disallow: /404/
Disallow: /retail-stock-list/
Disallow: /wholesale-stock-list/
Disallow: /thanks/
Disallow: /submit/
Disallow: /freight-charges/

Sitemap: https://leafland.co.nz/sitemap.xml
