---
pagination:
    addAllPagesToCollections: true
    data: top-trees
    size: 1
    alias: topTrees
permalink: "/top-trees/{{ topTrees.url }}/"
layout: layouts/top-trees.liquid
type: top-trees
eleventyComputed:
    title: "{{ topTrees.title }}"
    description: "{{ topTrees.description }}"
    trees: "{{ topTrees.trees }}"
---