---
layout: layouts/base.liquid
title: Trees of the Week
type: trees-of-the-week
description: Leafland is the home of quality specimen trees. We stock a wide range of big trees and large grade trees including native trees, fruit trees, hedging trees, and flowering trees. Buy trees online now! We provide New Zealand with quality specimen trees and deliver all over the country.
---

<div id="content">

    <div class="title-container">
        <p>Updated: 8th November 2022</p>
        <h1>Trees of the Week</h1>
    </div>

    <div id="tree-wrapper">

        <div class="tree-item">

            <div class="title-container">

                    <p>Red-flowering Gum</p>
                    
                    <h2><i>Corymbia</i> <i>ficifolia</i></h2>
                    
                </div>

                <p>Sturdy, single-trunked tree with a round-headed, compact crown. Large, thick, green leaves. Flowers in mid-summer with variations of glowing red, orange, and pink. Flowers attract nectar-seeking birds. Tolerant of high rainfall, droughts, and coastal winds. <i>Corymbia</i> <i>ficifolia</i> is native to Western Australia. <a href='https://en.wikipedia.org/wiki/Corymbia_ficifolia' target='_blank' rel='noopener noreferrer'>Learn more about <i>Corymbia</i> <i>ficifolia</i></a>.</p>

                <div class="stock-div">

                    <table class="product-list-table">
                        <thead>
                            <tr>
                                <th>Grade</th>
                                <th class="retail-price">$Retail</th>
                                <th class="wholesale-price">$Wholesale</th>
                                <th>Height (m)</th>
                                <th>Standard Height (m)</th>
                                <th>Ready</th>
                                <th>In Production</th>
                            </tr>
                        </thead>
                        <tbody id="product-list-table-inner">
                            <tr>
                                <td>35L</td>
                                <td class="retail-price">$140+GST</td>
                                <td class="wholesale-price">$112+GST</td>
                                <td>1.5m - 1.8m</td>
                                <td>-</td>
                                <td>30</td>
                                <td>0</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
                <a href="/trees/corymbia-ficifolia/" class="button">Order Now</a>

                <div class="image-div">

                        <div class="image-group">
                            <img src="https://img.imageboss.me/leafland/width/750/quality:75/corymbia-ficifolia/grades/corymbia-ficifolia-35L-grade.jpeg" width="750" height="750">
                            <span class="image-group-text">35L Grade</span>
                        </div>

                        <div class="image-group">
                            <img src="https://img.imageboss.me/leafland/width/750/quality:75/corymbia-ficifolia/corymbia-ficifolia.jpg" width="750" height="750">
                        </div>

                        <div class="image-group">
                            <img src="https://img.imageboss.me/leafland/width/750/quality:75/corymbia-ficifolia/corymbia-ficifolia-flowering.jpg" width="750" height="750">
                        </div>

                </div>

        </div>

        <div class="tree-item">

            <div class="title-container">

                <p>Callery Pear</p>
                
                <h2><i>Pyrus</i> <i>calleryana</i> 'Aristocrat'</h2>
                
            </div>

            <p>Pyramidal-growing tree with an open form and spreading branches that can be trained to grow horizontal. Profusion of white flowers in early-spring. Glossy-green leaves turn red and yellow in autumn. Tolerant of poor drainage and pollution. Excellent street tree.</p>

            <div class="stock-div">

                <table class="product-list-table">
                    <thead>
                        <tr>
                            <th>Grade</th>
                            <th class="retail-price">$Retail</th>
                            <th class="wholesale-price">$Wholesale</th>
                            <th>Height (m)</th>
                            <th>Standard Height (m)</th>
                            <th>Ready</th>
                            <th>In Production</th>
                        </tr>
                    </thead>
                    <tbody id="product-list-table-inner">
                        <tr>
                            <td>200L</td>
                            <td class="retail-price">$800+GST</td>
                            <td class="wholesale-price">$640+GST</td>
                            <td>4m</td>
                            <td>-</td>
                            <td>21</td>
                            <td>0</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <a href="/trees/pyrus-calleryana-aristocrat/" class="button">Order Now</a>

            <div class="image-div">

                    <div class="image-group">
                        <img src="https://img.imageboss.me/leafland/width/750/quality:75/pyrus-calleryana-aristocrat/grades/pyrus-calleryana-aristocrat-200L-grade.jpg" width="750" height="750">
                        <span class="image-group-text">200L Grade</span>
                    </div>

                    <div class="image-group">
                        <img src="https://img.imageboss.me/leafland/width/750/quality:75/pyrus-calleryana-aristocrat/pyrus-calleryana-aristocrat-flowering-street.jpg" width="750" height="750">
                    </div>

                    <div class="image-group">
                        <img src="https://img.imageboss.me/leafland/width/750/quality:75/pyrus-calleryana-aristocrat/pyrus-calleryana-aristocrat-autumn-leaves.jpg" width="750" height="750">
                    </div>

            </div>

        </div>

        <div class="tree-item">

            <div class="title-container">

                <p>Turkey Oak</p>
                
                <h2><i>Quercus</i> <i>cerris</i></h2>
                
            </div>

            <p>Fast-growing oak that is coastal-hardy. Makes a wide-spreading tree of noble proportions. Rich-green, oblong, lobed leaves turn yellow in autumn. Excellent for both shelter and as a specimen tree. Produces large crops of acorns.</p>

            <div class="stock-div">

                <table class="product-list-table">
                    <thead>
                        <tr>
                            <th>Grade</th>
                            <th class="retail-price">$Retail</th>
                            <th class="wholesale-price">$Wholesale</th>
                            <th>Height (m)</th>
                            <th>Standard Height (m)</th>
                            <th>Ready</th>
                            <th>In Production</th>
                        </tr>
                    </thead>
                    <tbody id="product-list-table-inner">
                        <tr>
                            <td>160L</td>
                            <td class="retail-price">$500+GST</td>
                            <td class="wholesale-price">$400+GST</td>
                            <td>4m</td>
                            <td>-</td>
                            <td>18</td>
                            <td>0</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <a href="/trees/quercus-cerris/" class="button">Order Now</a>

            <div class="image-div">

                    <div class="image-group">
                        <img src="https://img.imageboss.me/leafland/width/750/quality:75/quercus-cerris/grades/quercus-cerris-160L-grade.jpg" width="750" height="750">
                        <span class="image-group-text">160L Grade</span>
                    </div>

                    <div class="image-group">
                        <img src="https://img.imageboss.me/leafland/width/750/quality:75/quercus-cerris/quercus-cerris-farm.jpg" width="750" height="750">
                    </div>

                    <div class="image-group">
                        <img src="https://img.imageboss.me/leafland/width/750/quality:75/quercus-cerris/quercus-cerris-foliage.jpeg" width="750" height="750">
                    </div>

            </div>

        </div>

        <div class="tree-item">

            <div class="title-container">

                <p>European Beech</p>
                
                <h2><i>Fagus</i> <i>sylvatica</i> 'Purpurea'</h2>
                
            </div>

            <p>Forms a tall, dense, pyramidal tree with lower branches sweeping to the ground. New spring copper-red leaves have a silky sheen. Summer leaves are deep-purple. The autumn leaves are yellow then brown through winter and shed prior to the new leaves emerging. <i>Fagus</i> <i>sylvatica</i> is native to an area from southern Sweden to northern Sicily, west to France, southern England, northern Portugal, central Spain, and east to northwest Turkey. <a href='https://en.wikipedia.org/wiki/Fagus_sylvatica' target='_blank' rel='noopener noreferrer'>Learn more about <i>Fagus</i> <i>sylvatica</i></a>. <i>Fagus</i> <i>sylvatica</i> 'Purpurea' has been cultivated for hundreds of years, and the oldest recorded discovery is from a work dated 1680 where <i>Fagus</i> <i>sylvatica</i> 'Purpurea' was discovered in Buchs, Zürich, Switzerland.</p>

            <div class="stock-div">

                <table class="product-list-table">
                    <thead>
                        <tr>
                            <th>Grade</th>
                            <th class="retail-price">$Retail</th>
                            <th class="wholesale-price">$Wholesale</th>
                            <th>Height (m)</th>
                            <th>Standard Height (m)</th>
                            <th>Ready</th>
                            <th>In Production</th>
                        </tr>
                    </thead>
                    <tbody id="product-list-table-inner">
                        <tr>
                            <td>60L</td>
                            <td class="retail-price">$225+GST</td>
                            <td class="wholesale-price">$180+GST</td>
                            <td>2.2m</td>
                            <td>-</td>
                            <td>20</td>
                            <td>0</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <a href="/trees/fagus-sylvatica-purpurea/" class="button">Order Now</a>

            <div class="image-div">

                    <div class="image-group">
                        <img src="https://img.imageboss.me/leafland/width/750/quality:75/fagus-sylvatica-purpurea/grades/fagus-sylvatica-purpurea-60L-grade.jpg" width="750" height="750">
                        <span class="image-group-text">60L Grade</span>
                    </div>

                    <div class="image-group">
                        <img src="https://img.imageboss.me/leafland/width/750/quality:75/fagus-sylvatica-purpurea/fagus-sylvatica-purpurea.jpeg" width="750" height="750">
                    </div>

                    <div class="image-group">
                        <img src="https://img.imageboss.me/leafland/width/750/quality:75/fagus-sylvatica-purpurea/fagus-sylvatica-purpurea-hedge.jpg" width="750" height="750">
                    </div>

            </div>

        </div>

        <div class="tree-item">

            <div class="title-container">

                <p>Bottlebrush</p>
                
                <h2><i>Callistemon</i> 'John Mashlan'</h2>
                
            </div>

            <p>A compact, upright-growing bottlebrush. Bears a profusion of candy-floss pink brushes through spring and summer. Drought-tolerant once established.</p>

            <div class="stock-div">

                <table class="product-list-table">
                    <thead>
                        <tr>
                            <th>Grade</th>
                            <th class="retail-price">$Retail</th>
                            <th class="wholesale-price">$Wholesale</th>
                            <th>Height (m)</th>
                            <th>Standard Height (m)</th>
                            <th>Ready</th>
                            <th>In Production</th>
                        </tr>
                    </thead>
                    <tbody id="product-list-table-inner">
                        <tr>
                            <td>25L</td>
                            <td class="retail-price">$96+GST</td>
                            <td class="wholesale-price">$77+GST</td>
                            <td>1.5m</td>
                            <td>-</td>
                            <td>35</td>
                            <td>0</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <a href="/trees/callistemon-john-mashlan/" class="button">Order Now</a>

            <div class="image-div">

                    <div class="image-group">
                        <img src="https://img.imageboss.me/leafland/width/750/quality:75/callistemon-john-mashlan/grades/callistemon-john-mashlan-25L-grade.jpeg" width="750" height="750">
                        <span class="image-group-text">25L Grade</span>
                    </div>

                    <div class="image-group">
                        <img src="https://img.imageboss.me/leafland/width/750/quality:75/callistemon-john-mashlan/callistemon-john-mashlan.jpg" width="750" height="750">
                    </div>

                    <div class="image-group">
                        <img src="https://img.imageboss.me/leafland/width/750/quality:75/callistemon-john-mashlan/callistemon-john-mashlan-flowers.jpg" width="750" height="750">
                    </div>

            </div>

        </div>

        <div class="tree-item">

            <div class="title-container">

                <p>Bottlebrush</p>
                
                <h2><i>Callistemon</i> <i>citrinus</i> 'Western Glory'</h2>
                
            </div>

            <p>Has green, slender, leathery leaves. Large heads of red-pink flowers during late-spring into summer. Flowers attract nectar-seeking bees. Coastal and drought hardy. <i>Callistemon citrinus</i> is native to Australia. <a href='https://en.wikipedia.org/wiki/Melaleuca_citrina' target='_blank' rel='noopener noreferrer'>Learn more about <i>Callistemon citrinus</i></a>. <i>Callistemon</i> <i>citrinus</i> 'Western Glory' was selected from a batch of <a href='/trees/callistemon-citrinus'><i>Callistemon citrinus</i></a> seedlings about 1980 by George Lullfitz in Wanneroo, Western Australia.</p>

            <div class="stock-div">

                <table class="product-list-table">
                    <thead>
                        <tr>
                            <th>Grade</th>
                            <th class="retail-price">$Retail</th>
                            <th class="wholesale-price">$Wholesale</th>
                            <th>Height (m)</th>
                            <th>Standard Height (m)</th>
                            <th>Ready</th>
                            <th>In Production</th>
                        </tr>
                    </thead>
                    <tbody id="product-list-table-inner">
                        <tr>
                            <td>25L</td>
                            <td class="retail-price">$96+GST</td>
                            <td class="wholesale-price">$77+GST</td>
                            <td>1.2m</td>
                            <td>-</td>
                            <td>30</td>
                            <td>0</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <a href="/trees/callistemon-citrinus-western-glory/" class="button">Order Now</a>

            <div class="image-div">

                    <div class="image-group">
                        <img src="https://img.imageboss.me/leafland/width/750/quality:75/callistemon-citrinus-western-glory/grades/callistemon-citrinus-western-glory-25L-grade.jpeg" width="750" height="750">
                        <span class="image-group-text">25L Grade</span>
                    </div>

                    <div class="image-group">
                        <img src="https://img.imageboss.me/leafland/width/750/quality:75/callistemon-citrinus-western-glory/callistemon-citrinus-western-glory-pathway.jpg" width="750" height="750">
                    </div>

                    <div class="image-group">
                        <img src="https://img.imageboss.me/leafland/width/750/quality:75/callistemon-citrinus-western-glory/callistemon-citrinus-western-glory-spring-flowering.jpg" width="750" height="750">
                    </div>

            </div>

        </div>

        <div class="tree-item">

            <div class="title-container">

                <p>Mexican Spruce</p>
                
                <h2><i>Picea</i> <i>engelmannii</i> subsp. <i>mexicana</i></h2>
                
            </div>

            <p>A fast-grower with a conical form. Blue-grey needles. Small, pendant, light-brown cones.</p>

            <div class="stock-div">

                <table class="product-list-table">
                    <thead>
                        <tr>
                            <th>Grade</th>
                            <th class="retail-price">$Retail</th>
                            <th class="wholesale-price">$Wholesale</th>
                            <th>Height (m)</th>
                            <th>Standard Height (m)</th>
                            <th>Ready</th>
                            <th>In Production</th>
                        </tr>
                    </thead>
                    <tbody id="product-list-table-inner">
                        <tr>
                            <td>25L</td>
                            <td class="retail-price">$96+GST</td>
                            <td class="wholesale-price">$77+GST</td>
                            <td>1.5m</td>
                            <td>-</td>
                            <td>20</td>
                            <td>0</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <a href="/trees/picea-engelmannii-subsp-mexicana/" class="button">Order Now</a>

            <div class="image-div">

                    <div class="image-group">
                        <img src="https://img.imageboss.me/leafland/width/750/quality:75/picea-engelmannii-subsp-mexicana/grades/picea-engelmannii-subsp-mexicana-25L-grade.jpeg" width="750" height="750">
                        <span class="image-group-text">25L Grade</span>
                    </div>

                    <div class="image-group">
                        <img src="https://img.imageboss.me/leafland/width/750/quality:75/picea-engelmannii-subsp-mexicana/picea-engelmannii-subsp-mexicana.jpg" width="750" height="750">
                    </div>

                    <div class="image-group">
                        <img src="https://img.imageboss.me/leafland/width/750/quality:75/picea-engelmannii-subsp-mexicana/picea-engelmannii-subsp-mexicana-needles.jpg" width="750" height="750">
                    </div>

            </div>

        </div>
    
    </div>

</div>
