---
layout: layouts/base.liquid
title: Tree Finder
type: tree-finder
description: Use Leafland's tree finder to find the perfect tree for your site! Filter by various features to narrow down the search to find the perfect quality specimen tree.
---

<div id="content">

    <div id="finder-content">

        <h1>Tree Finder</h1>

        <button id="clear-select-filter" disabled="true">Clear all</button>

        <select multiple="true" title="Filter results">

            <optgroup label="Uses">
                <option value="attracts-birds">Attracts Birds</option>
                <option value="attracts-bees">Attracts Bees</option>
                <option value="driveways-and-avenues">Driveways and Avenues</option>
                <option value="hedging-and-screening">Hedging and Screening</option>
                <option value="narrow-sites">Narrow Sites</option>
                <option value="paddocks">Paddocks</option>
                <option value="pleaching">Pleaching</option>
                <option value="small-garden">Small Garden</option>
                <option value="shade">Shade</option>
                <option value="street">Street</option>
                <option value="topiary">Topiary</option>
            </optgroup>

            <optgroup label="Tolerates">
                <option value="coastal">Coastal Sites</option>
                <option value="drought">Drought</option>
                <option value="heavy-frosts">Heavy Frosts</option>
                <option value="heavy-rainfall">Heavy Rainfall</option>
                <option value="light-frosts">Light Frosts</option>
                <option value="wet">Wet Sites</option>
                <option value="windy">Windy Sites</option>
            </optgroup>

            <optgroup label="Types">
                <option value="conifer">Conifer</option>
                <option value="edible">Edible</option>
                <option value="ornamental-bark">Ornamental Bark</option>
                <option value="toxic-to-animals">Toxic To Animals</option>
                <option value="upright">Upright</option>
                <option value="weeping">Weeping</option>
            </optgroup>

            <optgroup label="Winter Foliage">
                <option value="deciduous">Deciduous</option>
                <option value="evergreen">Evergreen</option>
                <option value="semi-evergreen">Semi-Evergreen</option>
            </optgroup>

            <optgroup label="Origin">
                <option value="exotic">Exotic</option>
                <option value="native">Native</option>
            </optgroup>

            <optgroup label="Soil Type">
                <option value="clay-soils">Clay Soils</option>
                <option value="dry-soils">Dry Soils</option>
                <option value="peat-soils">Peat Soils</option>
                <option value="poor-draining-soils">Poor Draining Soils</option>
                <option value="pumice-soils">Pumice Soils</option>
                <option value="rocky-soils">Rocky Soils</option>
                <option value="sandy-soils">Sandy Soils</option>
            </optgroup>

            <optgroup label="Sun and Shade">
                <option value="full-sun">Full Sun</option>
                <option value="full-shade">Full Shade</option>
                <option value="part-shade">Part Shade</option>
            </optgroup>

            <optgroup label="Height">
                <option value="0.5m-h">0.5m</option>
                <option value="1m-h">1m</option>
                <option value="2m-h">2m</option>
                <option value="3m-h">3m</option>
                <option value="4m-h">4m</option>
                <option value="5m-h">5m</option>
                <option value="6m-h">6m</option>
                <option value="7m-h">7m</option>
                <option value="8m-h">8m</option>
                <option value="9m-h">9m</option>
                <option value="10m-h">10m</option>
            </optgroup>

            <optgroup label="Width">
                <option value="0.5m-w">0.5m</option>
                <option value="1m-w">1m</option>
                <option value="2m-w">2m</option>
                <option value="3m-w">3m</option>
                <option value="4m-w">4m</option>
                <option value="5m-w">5m</option>
                <option value="6m-w">6m</option>
                <option value="7m-w">7m</option>
                <option value="8m-w">8m</option>
            </optgroup>

            <optgroup label="Fruiting Season">
                <option value="summer-fs">Summer</option>
                <option value="autumn-fs">Autumn</option>
                <option value="winter-fs">Winter</option>
                <option value="spring-fs">Spring</option>
            </optgroup>

            <optgroup label="Flowering Season">
                <option value="summer-fls">Summer</option>
                <option value="autumn-fls">Autumn</option>
                <option value="winter-fls">Winter</option>
                <option value="spring-fls">Spring</option>
            </optgroup>

            <optgroup label="Flower Colour">
                <option value="blue-fc">Blue</option>
                <option value="grey-fc">Grey</option>
                <option value="red-fc">Red</option>
                <option value="orange-fc">Orange</option>
                <option value="yellow-fc">Yellow</option>
                <option value="purple-fc">Purple</option>
                <option value="pink-fc">Pink</option>
                <option value="green-fc">Green</option>
                <option value="white-fc">White</option>
            </optgroup>

            <optgroup label="Autumn Colour">
                <option value="red-ac">Red</option>
                <option value="orange-ac">Orange</option>
                <option value="yellow-ac">Yellow</option>
                <option value="purple-ac">Purple</option>
            </optgroup>

            <optgroup label="Foliage Colour">
                <option value="blue-flc">Blue</option>
                <option value="grey-flc">Grey</option>
                <option value="red-flc">Red</option>
                <option value="orange-flc">Orange</option>
                <option value="yellow-flc">Yellow</option>
                <option value="purple-flc">Purple</option>
                <option value="pink-flc">Pink</option>
                <option value="green-flc">Green</option>
                <option value="white-flc">White</option>
            </optgroup>

        </select>

        <button id="clear-checkbox-filter" disabled="true">Clear all</button>

        <div id="grid-content-left">
            
            <div id="filter">

                <details class="checkbox-group">

                    <summary>
                    
                        <span>Uses</span>

                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="right-icon"><g data-name="Layer 2"><g data-name="arrow-ios-forward"><rect width="24" height="24" transform="rotate(-90 12 12)" opacity="0"/><path d="M10 19a1 1 0 0 1-.64-.23 1 1 0 0 1-.13-1.41L13.71 12 9.39 6.63a1 1 0 0 1 .15-1.41 1 1 0 0 1 1.46.15l4.83 6a1 1 0 0 1 0 1.27l-5 6A1 1 0 0 1 10 19z"/></g></g></svg>

                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="down-icon"><g data-name="Layer 2"><g data-name="arrow-ios-downward"><rect width="24" height="24" opacity="0"/><path d="M12 16a1 1 0 0 1-.64-.23l-6-5a1 1 0 1 1 1.28-1.54L12 13.71l5.36-4.32a1 1 0 0 1 1.41.15 1 1 0 0 1-.14 1.46l-6 4.83A1 1 0 0 1 12 16z"/></g></g></svg>

                    </summary>

                    <div class="options-group">

                        <div>
                            <input type="checkbox" id="attracts-birds" value="attracts-birds">
                            <img loading="lazy" class="filter-icon" src="https://images.leafland.co.nz/images/icons/tree-attributes/attracts-birds.svg">
                            <label for="attracts-birds">Attracts Birds</label>
                        </div>

                        <div>
                            <input type="checkbox" id="attracts-bees" value="attracts-bees">
                            <img loading="lazy" class="filter-icon" src="https://images.leafland.co.nz/images/icons/tree-attributes/attracts-bees.svg">
                            <label for="attracts-bees">Attracts Bees</label>
                        </div>

                        <div>
                            <input type="checkbox" id="driveways-and-avenues" value="driveways-and-avenues">
                            <img loading="lazy" class="filter-icon" src="https://images.leafland.co.nz/images/icons/tree-attributes/driveways-and-avenues.svg">
                            <label for="driveways-and-avenues">Driveways and Avenues</label>
                        </div>

                        <div>
                            <input type="checkbox" id="hedging-and-screening" value="hedging-and-screening">
                            <img loading="lazy" class="filter-icon" src="https://images.leafland.co.nz/images/icons/tree-attributes/hedging-and-screening.svg">
                            <label for="hedging-and-screening">Hedging and Screening</label>
                        </div>

                        <div>
                            <input type="checkbox" id="narrow-sites" value="narrow-sites">
                            <img loading="lazy" class="filter-icon" src="https://images.leafland.co.nz/images/icons/tree-attributes/narrow-sites.svg">
                            <label for="narrow-sites">Narrow Sites</label>
                        </div>

                        <div>
                            <input type="checkbox" id="paddocks" value="paddocks">
                            <img loading="lazy" class="filter-icon" src="https://images.leafland.co.nz/images/icons/tree-attributes/paddocks.svg">
                            <label for="paddocks">Paddocks</label>
                        </div>

                        <div>
                            <input type="checkbox" id="pleaching" value="pleaching">
                            <img loading="lazy" class="filter-icon" src="https://images.leafland.co.nz/images/icons/tree-attributes/pleaching.svg">
                            <label for="pleaching">Pleaching</label>
                        </div>

                        <div>
                            <input type="checkbox" id="small-garden" value="small-garden">
                            <img loading="lazy" class="filter-icon" src="https://images.leafland.co.nz/images/icons/tree-attributes/small-garden.svg">
                            <label for="small-garden">Small Garden</label>
                        </div>

                        <div>
                            <input type="checkbox" id="shade" value="shade">
                            <img loading="lazy" class="filter-icon" src="https://images.leafland.co.nz/images/icons/tree-attributes/shade.svg">
                            <label for="shade">Shade</label>
                        </div>

                        <div>
                            <input type="checkbox" id="street" value="street">
                            <img loading="lazy" class="filter-icon" src="https://images.leafland.co.nz/images/icons/tree-attributes/street.svg">
                            <label for="street">Street</label>
                        </div>

                        <div>
                            <input type="checkbox" id="topiary" value="topiary">
                            <img loading="lazy" class="filter-icon" src="https://images.leafland.co.nz/images/icons/tree-attributes/topiary.svg">
                            <label for="topiary">Topiary</label>
                        </div>

                    </div>

                </details>

                <details class="checkbox-group">

                    <summary>
                    
                        <span>Tolerates</span>

                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="right-icon"><g data-name="Layer 2"><g data-name="arrow-ios-forward"><rect width="24" height="24" transform="rotate(-90 12 12)" opacity="0"/><path d="M10 19a1 1 0 0 1-.64-.23 1 1 0 0 1-.13-1.41L13.71 12 9.39 6.63a1 1 0 0 1 .15-1.41 1 1 0 0 1 1.46.15l4.83 6a1 1 0 0 1 0 1.27l-5 6A1 1 0 0 1 10 19z"/></g></g></svg>

                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="down-icon"><g data-name="Layer 2"><g data-name="arrow-ios-downward"><rect width="24" height="24" opacity="0"/><path d="M12 16a1 1 0 0 1-.64-.23l-6-5a1 1 0 1 1 1.28-1.54L12 13.71l5.36-4.32a1 1 0 0 1 1.41.15 1 1 0 0 1-.14 1.46l-6 4.83A1 1 0 0 1 12 16z"/></g></g></svg>
                    
                    </summary>

                    <div class="options-group">

                        <div>
                            <input type="checkbox" id="coastal" value="coastal">
                            <img loading="lazy" class="filter-icon" src="https://images.leafland.co.nz/images/icons/tree-attributes/coastal.svg">
                            <label for="coastal">Coastal Sites</label>
                        </div>

                        <div>
                            <input type="checkbox" id="drought" value="drought">
                            <img loading="lazy" class="filter-icon" src="https://images.leafland.co.nz/images/icons/tree-attributes/drought.svg">
                            <label for="drought">Drought</label>
                        </div>

                        <div>
                            <input type="checkbox" id="heavy-frosts" value="heavy-frosts">
                            <img loading="lazy" class="filter-icon" src="https://images.leafland.co.nz/images/icons/tree-attributes/heavy-frosts.svg">
                            <label for="heavy-frosts">Heavy Frosts</label>
                        </div>

                        <div>
                            <input type="checkbox" id="heavy-rainfall" value="heavy-rainfall">
                            <img loading="lazy" class="filter-icon" src="https://images.leafland.co.nz/images/icons/tree-attributes/heavy-rainfall.svg">
                            <label for="heavy-rainfall">Heavy Rainfall</label>
                        </div>

                        <div>
                            <input type="checkbox" id="light-frosts" value="light-frosts">
                            <img loading="lazy" class="filter-icon" src="https://images.leafland.co.nz/images/icons/tree-attributes/light-frosts.svg">
                            <label for="light-frosts">Light Frosts</label>
                        </div>

                        <div>
                            <input type="checkbox" id="windy" value="windy">
                            <img loading="lazy" class="filter-icon" src="https://images.leafland.co.nz/images/icons/tree-attributes/windy.svg">
                            <label for="windy">Windy Sites</label>
                        </div>

                    </div>

                </details>

                <details class="checkbox-group">

                    <summary>
                    
                        <span>Types</span>

                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="right-icon"><g data-name="Layer 2"><g data-name="arrow-ios-forward"><rect width="24" height="24" transform="rotate(-90 12 12)" opacity="0"/><path d="M10 19a1 1 0 0 1-.64-.23 1 1 0 0 1-.13-1.41L13.71 12 9.39 6.63a1 1 0 0 1 .15-1.41 1 1 0 0 1 1.46.15l4.83 6a1 1 0 0 1 0 1.27l-5 6A1 1 0 0 1 10 19z"/></g></g></svg>

                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="down-icon"><g data-name="Layer 2"><g data-name="arrow-ios-downward"><rect width="24" height="24" opacity="0"/><path d="M12 16a1 1 0 0 1-.64-.23l-6-5a1 1 0 1 1 1.28-1.54L12 13.71l5.36-4.32a1 1 0 0 1 1.41.15 1 1 0 0 1-.14 1.46l-6 4.83A1 1 0 0 1 12 16z"/></g></g></svg>
                    
                    </summary>

                    <div class="options-group">

                        <div>
                            <input type="checkbox" id="conifer" value="conifer">
                            <img loading="lazy" class="filter-icon" src="https://images.leafland.co.nz/images/icons/tree-attributes/conifer.svg">
                            <label for="conifer">Conifer</label>
                        </div>

                        <div>
                            <input type="checkbox" id="edible" value="edible">
                            <img loading="lazy" class="filter-icon" src="https://images.leafland.co.nz/images/icons/tree-attributes/edible.svg">
                            <label for="edible">Edible</label>
                        </div>

                        <div>
                            <input type="checkbox" id="ornamental-bark" value="ornamental-bark">
                            <img loading="lazy" class="filter-icon" src="https://images.leafland.co.nz/images/icons/tree-attributes/ornamental-bark.svg">
                            <label for="ornamental-bark">Ornamental Bark</label>
                        </div>

                        <div>
                            <input type="checkbox" id="toxic-to-animals" value="toxic-to-animals">
                            <img loading="lazy" class="filter-icon" src="https://images.leafland.co.nz/images/icons/tree-attributes/toxic-to-animals.svg">
                            <label for="toxic-to-animals">Toxic To Animals</label>
                        </div>

                        <div>
                            <input type="checkbox" id="upright" value="upright">
                            <img loading="lazy" class="filter-icon" src="https://images.leafland.co.nz/images/icons/tree-attributes/upright.svg">
                            <label for="upright">Upright</label>
                        </div>

                        <div>
                            <input type="checkbox" id="weeping" value="weeping">
                            <img loading="lazy" class="filter-icon" src="https://images.leafland.co.nz/images/icons/tree-attributes/weeping.svg">
                            <label for="weeping">Weeping</label>
                        </div>

                    </div>

                </details>

                <details class="checkbox-group">

                    <summary>
                    
                        <span>Winter Foliage</span>

                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="right-icon"><g data-name="Layer 2"><g data-name="arrow-ios-forward"><rect width="24" height="24" transform="rotate(-90 12 12)" opacity="0"/><path d="M10 19a1 1 0 0 1-.64-.23 1 1 0 0 1-.13-1.41L13.71 12 9.39 6.63a1 1 0 0 1 .15-1.41 1 1 0 0 1 1.46.15l4.83 6a1 1 0 0 1 0 1.27l-5 6A1 1 0 0 1 10 19z"/></g></g></svg>

                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="down-icon"><g data-name="Layer 2"><g data-name="arrow-ios-downward"><rect width="24" height="24" opacity="0"/><path d="M12 16a1 1 0 0 1-.64-.23l-6-5a1 1 0 1 1 1.28-1.54L12 13.71l5.36-4.32a1 1 0 0 1 1.41.15 1 1 0 0 1-.14 1.46l-6 4.83A1 1 0 0 1 12 16z"/></g></g></svg>
                    
                    </summary>

                    <div class="options-group">

                        <div>
                            <input type="checkbox" id="deciduous" value="deciduous">
                            <img loading="lazy" class="filter-icon" src="https://images.leafland.co.nz/images/icons/tree-attributes/deciduous.svg">
                            <label for="deciduous">Deciduous</label>
                        </div>

                        <div>
                            <input type="checkbox" id="evergreen" value="evergreen">
                            <img loading="lazy" class="filter-icon" src="https://images.leafland.co.nz/images/icons/tree-attributes/evergreen.svg">
                            <label for="evergreen">Evergreen</label>
                        </div>

                        <div>
                            <input type="checkbox" id="semi-evergreen" value="semi-evergreen">
                            <img loading="lazy" class="filter-icon" src="https://images.leafland.co.nz/images/icons/tree-attributes/semi-evergreen.svg">
                            <label for="semi-evergreen">Semi-Evergreen</label>
                        </div>

                    </div>

                </details>

                <details class="checkbox-group">
                
                    <summary>
                    
                        <span>Origin</span>

                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="right-icon"><g data-name="Layer 2"><g data-name="arrow-ios-forward"><rect width="24" height="24" transform="rotate(-90 12 12)" opacity="0"/><path d="M10 19a1 1 0 0 1-.64-.23 1 1 0 0 1-.13-1.41L13.71 12 9.39 6.63a1 1 0 0 1 .15-1.41 1 1 0 0 1 1.46.15l4.83 6a1 1 0 0 1 0 1.27l-5 6A1 1 0 0 1 10 19z"/></g></g></svg>

                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="down-icon"><g data-name="Layer 2"><g data-name="arrow-ios-downward"><rect width="24" height="24" opacity="0"/><path d="M12 16a1 1 0 0 1-.64-.23l-6-5a1 1 0 1 1 1.28-1.54L12 13.71l5.36-4.32a1 1 0 0 1 1.41.15 1 1 0 0 1-.14 1.46l-6 4.83A1 1 0 0 1 12 16z"/></g></g></svg>
                    
                    </summary>

                    <div class="options-group">

                        <div>
                            <input type="checkbox" id="exotic" value="exotic">
                            <img loading="lazy" class="filter-icon" src="https://images.leafland.co.nz/images/icons/tree-attributes/exotic.svg">
                            <label for="exotic">Exotic</label>
                        </div>

                        <div>
                            <input type="checkbox" id="native" value="native">
                            <img loading="lazy" class="filter-icon" src="https://images.leafland.co.nz/images/icons/tree-attributes/native.svg">
                            <label for="native">Native</label>
                        </div>

                    </div>

                </details>

                <details class="checkbox-group">
                
                    <summary>
                    
                        <span>Soil Type</span>

                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="right-icon"><g data-name="Layer 2"><g data-name="arrow-ios-forward"><rect width="24" height="24" transform="rotate(-90 12 12)" opacity="0"/><path d="M10 19a1 1 0 0 1-.64-.23 1 1 0 0 1-.13-1.41L13.71 12 9.39 6.63a1 1 0 0 1 .15-1.41 1 1 0 0 1 1.46.15l4.83 6a1 1 0 0 1 0 1.27l-5 6A1 1 0 0 1 10 19z"/></g></g></svg>

                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="down-icon"><g data-name="Layer 2"><g data-name="arrow-ios-downward"><rect width="24" height="24" opacity="0"/><path d="M12 16a1 1 0 0 1-.64-.23l-6-5a1 1 0 1 1 1.28-1.54L12 13.71l5.36-4.32a1 1 0 0 1 1.41.15 1 1 0 0 1-.14 1.46l-6 4.83A1 1 0 0 1 12 16z"/></g></g></svg>
                    
                    </summary>

                    <div class="options-group">

                        <div>
                            <input type="checkbox" id="clay-soils" value="clay-soils">
                            <img loading="lazy" class="filter-icon" src="https://images.leafland.co.nz/images/icons/tree-attributes/clay-soils.svg">
                            <label for="clay-soils">Clay Soils</label>
                        </div>

                        <div>
                            <input type="checkbox" id="dry-soils" value="dry-soils">
                            <img loading="lazy" class="filter-icon" src="https://images.leafland.co.nz/images/icons/tree-attributes/dry-soils.svg">
                            <label for="dry-soils">Dry Soils</label>
                        </div>

                        <div>
                            <input type="checkbox" id="peat-soils" value="peat-soils">
                            <img loading="lazy" class="filter-icon" src="https://images.leafland.co.nz/images/icons/tree-attributes/peat-soils.svg">
                            <label for="peat-soils">Peat Soils</label>
                        </div>

                        <div>
                            <input type="checkbox" id="poor-draining-soils" value="poor-draining-soils">
                            <img loading="lazy" class="filter-icon" src="https://images.leafland.co.nz/images/icons/tree-attributes/poor-draining-soils.svg">
                            <label for="poor-draining-soils">Poor Draining Soils</label>
                        </div>

                        <div>
                            <input type="checkbox" id="pumice-soils" value="pumice-soils">
                            <img loading="lazy" class="filter-icon" src="https://images.leafland.co.nz/images/icons/tree-attributes/pumice-soils.svg">
                            <label for="pumice-soils">Pumice Soils</label>
                        </div>

                        <div>
                            <input type="checkbox" id="rocky-soils" value="rocky-soils">
                            <img loading="lazy" class="filter-icon" src="https://images.leafland.co.nz/images/icons/tree-attributes/rocky-soils.svg">
                            <label for="rocky-soils">Rocky Soils</label>
                        </div>

                        <div>
                            <input type="checkbox" id="sandy-soils" value="sandy-soils">
                            <img loading="lazy" class="filter-icon" src="https://images.leafland.co.nz/images/icons/tree-attributes/sandy-soils.svg">
                            <label for="sandy-soils">Sandy Soils</label>
                        </div>

                    </div>

                </details>

                <details class="checkbox-group">
                
                    <summary>
                    
                        <span>Sun and Shade</span>

                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="right-icon"><g data-name="Layer 2"><g data-name="arrow-ios-forward"><rect width="24" height="24" transform="rotate(-90 12 12)" opacity="0"/><path d="M10 19a1 1 0 0 1-.64-.23 1 1 0 0 1-.13-1.41L13.71 12 9.39 6.63a1 1 0 0 1 .15-1.41 1 1 0 0 1 1.46.15l4.83 6a1 1 0 0 1 0 1.27l-5 6A1 1 0 0 1 10 19z"/></g></g></svg>

                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="down-icon"><g data-name="Layer 2"><g data-name="arrow-ios-downward"><rect width="24" height="24" opacity="0"/><path d="M12 16a1 1 0 0 1-.64-.23l-6-5a1 1 0 1 1 1.28-1.54L12 13.71l5.36-4.32a1 1 0 0 1 1.41.15 1 1 0 0 1-.14 1.46l-6 4.83A1 1 0 0 1 12 16z"/></g></g></svg>
                    
                    </summary>

                    <div class="options-group">

                        <div>
                            <input type="checkbox" id="full-sun" value="full-sun">
                            <img loading="lazy" class="filter-icon" src="https://images.leafland.co.nz/images/icons/tree-attributes/full-sun.svg">
                            <label for="full-sun">Full Sun</label>
                        </div>

                        <div>
                            <input type="checkbox" id="full-shade" value="full-shade">
                            <img loading="lazy" class="filter-icon" src="https://images.leafland.co.nz/images/icons/tree-attributes/full-shade.svg">
                            <label for="full-shade">Full Shade</label>
                        </div>

                        <div>
                            <input type="checkbox" id="part-shade" value="part-shade">
                            <img loading="lazy" class="filter-icon" src="https://images.leafland.co.nz/images/icons/tree-attributes/part-shade.svg">
                            <label for="part-shade">Part Shade</label>
                        </div>

                    </div>

                </details>

                <details class="checkbox-group">

                    <summary>
                    
                        <span>Height</span>

                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="right-icon"><g data-name="Layer 2"><g data-name="arrow-ios-forward"><rect width="24" height="24" transform="rotate(-90 12 12)" opacity="0"/><path d="M10 19a1 1 0 0 1-.64-.23 1 1 0 0 1-.13-1.41L13.71 12 9.39 6.63a1 1 0 0 1 .15-1.41 1 1 0 0 1 1.46.15l4.83 6a1 1 0 0 1 0 1.27l-5 6A1 1 0 0 1 10 19z"/></g></g></svg>

                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="down-icon"><g data-name="Layer 2"><g data-name="arrow-ios-downward"><rect width="24" height="24" opacity="0"/><path d="M12 16a1 1 0 0 1-.64-.23l-6-5a1 1 0 1 1 1.28-1.54L12 13.71l5.36-4.32a1 1 0 0 1 1.41.15 1 1 0 0 1-.14 1.46l-6 4.83A1 1 0 0 1 12 16z"/></g></g></svg>
                    
                    </summary>

                    <div class="options-group">

                        <div>
                            <input type="checkbox" id="0.5m-h" value="0.5m-h">
                            <label for="0.5m-h">0.5m</label>
                        </div>

                        <div>
                            <input type="checkbox" id="1m-h" value="1m-h">
                            <label for="1m-h">1m</label>
                        </div>

                        <div>
                            <input type="checkbox" id="2m-h" value="2m-h">
                            <label for="2m-h">2m</label>
                        </div>

                        <div>
                            <input type="checkbox" id="3m-h" value="3m-h">
                            <label for="3m-h">3m</label>
                        </div>

                        <div>
                            <input type="checkbox" id="4m-h" value="4m-h">
                            <label for="4m-h">4m</label>
                        </div>

                        <div>
                            <input type="checkbox" id="5m-h" value="5m-h">
                            <label for="5m-h">5m</label>
                        </div>

                        <div>
                            <input type="checkbox" id="6m-h" value="6m-h">
                            <label for="6m-h">6m</label>
                        </div>

                        <div>
                            <input type="checkbox" id="7m-h" value="7m-h">
                            <label for="7m-h">7m</label>
                        </div>

                        <div>
                            <input type="checkbox" id="8m-h" value="8m-h">
                            <label for="8m-h">8m</label>
                        </div>

                        <div>
                            <input type="checkbox" id="9m-h" value="9m-h">
                            <label for="9m-h">9m</label>
                        </div>

                        <div>
                            <input type="checkbox" id="10m-h" value="10m-h">
                            <label for="10m-h">10m</label>
                        </div>

                    </div>

                </details>

                <details class="checkbox-group">

                    <summary>
                    
                        <span>Width</span>

                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="right-icon"><g data-name="Layer 2"><g data-name="arrow-ios-forward"><rect width="24" height="24" transform="rotate(-90 12 12)" opacity="0"/><path d="M10 19a1 1 0 0 1-.64-.23 1 1 0 0 1-.13-1.41L13.71 12 9.39 6.63a1 1 0 0 1 .15-1.41 1 1 0 0 1 1.46.15l4.83 6a1 1 0 0 1 0 1.27l-5 6A1 1 0 0 1 10 19z"/></g></g></svg>

                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="down-icon"><g data-name="Layer 2"><g data-name="arrow-ios-downward"><rect width="24" height="24" opacity="0"/><path d="M12 16a1 1 0 0 1-.64-.23l-6-5a1 1 0 1 1 1.28-1.54L12 13.71l5.36-4.32a1 1 0 0 1 1.41.15 1 1 0 0 1-.14 1.46l-6 4.83A1 1 0 0 1 12 16z"/></g></g></svg>
                    
                    </summary>

                    <div class="options-group">

                        <div>
                            <input type="checkbox" id="0.5m-w" value="0.5m-w">
                            <label for="0.5m-w">0.5m</label>
                        </div>

                        <div>
                            <input type="checkbox" id="1m-w" value="1m-w">
                            <label for="1m-w">1m</label>
                        </div>

                        <div>
                            <input type="checkbox" id="2m-w" value="2m-w">
                            <label for="2m-w">2m</label>
                        </div>

                        <div>
                            <input type="checkbox" id="3m-w" value="3m-w">
                            <label for="3m-w">3m</label>
                        </div>

                        <div>
                            <input type="checkbox" id="4m-w" value="4m-w">
                            <label for="4m-w">4m</label>
                        </div>

                        <div>
                            <input type="checkbox" id="5m-w" value="5m-w">
                            <label for="5m-w">5m</label>
                        </div>

                        <div>
                            <input type="checkbox" id="6m-w" value="6m-w">
                            <label for="6m-w">6m</label>
                        </div>

                        <div>
                            <input type="checkbox" id="7m-w" value="7m-w">
                            <label for="7m-w">7m</label>
                        </div>

                        <div>
                            <input type="checkbox" id="8m-w" value="8m-w">
                            <label for="8m-w">8m</label>
                        </div>

                    </div>

                </details>

                <details class="checkbox-group">

                    <summary>
                    
                        <span>Fruiting Season</span>

                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="right-icon"><g data-name="Layer 2"><g data-name="arrow-ios-forward"><rect width="24" height="24" transform="rotate(-90 12 12)" opacity="0"/><path d="M10 19a1 1 0 0 1-.64-.23 1 1 0 0 1-.13-1.41L13.71 12 9.39 6.63a1 1 0 0 1 .15-1.41 1 1 0 0 1 1.46.15l4.83 6a1 1 0 0 1 0 1.27l-5 6A1 1 0 0 1 10 19z"/></g></g></svg>

                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="down-icon"><g data-name="Layer 2"><g data-name="arrow-ios-downward"><rect width="24" height="24" opacity="0"/><path d="M12 16a1 1 0 0 1-.64-.23l-6-5a1 1 0 1 1 1.28-1.54L12 13.71l5.36-4.32a1 1 0 0 1 1.41.15 1 1 0 0 1-.14 1.46l-6 4.83A1 1 0 0 1 12 16z"/></g></g></svg>
                    
                    </summary>

                    <div class="options-group">

                        <div>
                            <input type="checkbox" id="summer-fs" value="summer-fs">
                            <label for="summer-fs">Summer</label>
                        </div>

                        <div>
                            <input type="checkbox" id="autumn-fs" value="autumn-fs">
                            <label for="autumn-fs">Autumn</label>
                        </div>

                        <div>
                            <input type="checkbox" id="winter-fs" value="winter-fs">
                            <label for="winter-fs">Winter</label>
                        </div>

                        <div>
                            <input type="checkbox" id="spring-fs" value="spring-fs">
                            <label for="spring-fs">Spring</label>
                        </div>

                    </div>

                </details>

                <details class="checkbox-group">

                    <summary>
                    
                        <span>Flowering Season</span>

                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="right-icon"><g data-name="Layer 2"><g data-name="arrow-ios-forward"><rect width="24" height="24" transform="rotate(-90 12 12)" opacity="0"/><path d="M10 19a1 1 0 0 1-.64-.23 1 1 0 0 1-.13-1.41L13.71 12 9.39 6.63a1 1 0 0 1 .15-1.41 1 1 0 0 1 1.46.15l4.83 6a1 1 0 0 1 0 1.27l-5 6A1 1 0 0 1 10 19z"/></g></g></svg>

                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="down-icon"><g data-name="Layer 2"><g data-name="arrow-ios-downward"><rect width="24" height="24" opacity="0"/><path d="M12 16a1 1 0 0 1-.64-.23l-6-5a1 1 0 1 1 1.28-1.54L12 13.71l5.36-4.32a1 1 0 0 1 1.41.15 1 1 0 0 1-.14 1.46l-6 4.83A1 1 0 0 1 12 16z"/></g></g></svg>
                    
                    </summary>

                    <div class="options-group">

                        <div>
                            <input type="checkbox" id="summer-fls" value="summer-fls">
                            <label for="summer-fls">Summer</label>
                        </div>

                        <div>
                            <input type="checkbox" id="autumn-fls" value="autumn-fls">
                            <label for="autumn-fls">Autumn</label>
                        </div>

                        <div>
                            <input type="checkbox" id="winter-fls" value="winter-fls">
                            <label for="winter-fls">Winter</label>
                        </div>

                        <div>
                            <input type="checkbox" id="spring-fls" value="spring-fls">
                            <label for="spring-fls">Spring</label>
                        </div>

                    </div>

                </details>

                <details class="checkbox-group">

                    <summary>
                    
                        <span>Flower Colour</span>

                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="right-icon"><g data-name="Layer 2"><g data-name="arrow-ios-forward"><rect width="24" height="24" transform="rotate(-90 12 12)" opacity="0"/><path d="M10 19a1 1 0 0 1-.64-.23 1 1 0 0 1-.13-1.41L13.71 12 9.39 6.63a1 1 0 0 1 .15-1.41 1 1 0 0 1 1.46.15l4.83 6a1 1 0 0 1 0 1.27l-5 6A1 1 0 0 1 10 19z"/></g></g></svg>

                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="down-icon"><g data-name="Layer 2"><g data-name="arrow-ios-downward"><rect width="24" height="24" opacity="0"/><path d="M12 16a1 1 0 0 1-.64-.23l-6-5a1 1 0 1 1 1.28-1.54L12 13.71l5.36-4.32a1 1 0 0 1 1.41.15 1 1 0 0 1-.14 1.46l-6 4.83A1 1 0 0 1 12 16z"/></g></g></svg>
                    
                    </summary>

                    <div class="options-group">

                        <div>
                            <input type="checkbox" id="blue-fc" value="blue-fc">
                            <span class="tree-color blue"></span>
                            <label for="blue-fc">Blue</label>
                        </div>

                        <div>
                            <input type="checkbox" id="grey-fc" value="grey-fc">
                            <span class="tree-color grey"></span>
                            <label for="grey-fc">Grey</label>
                        </div>

                        <div>
                            <input type="checkbox" id="red-fc" value="red-fc">
                            <span class="tree-color red"></span>
                            <label for="red-fc">Red</label>
                        </div>

                        <div>
                            <input type="checkbox" id="orange-fc" value="orange-fc">
                            <span class="tree-color orange"></span>
                            <label for="orange-fc">Orange</label>
                        </div>

                        <div>
                            <input type="checkbox" id="yellow-fc" value="yellow-fc">
                            <span class="tree-color yellow"></span>
                            <label for="yellow-fc">Yellow</label>
                        </div>

                        <div>
                            <input type="checkbox" id="purple-fc" value="purple-fc">
                            <span class="tree-color purple"></span>
                            <label for="purple-fc">Purple</label>
                        </div>

                        <div>
                            <input type="checkbox" id="pink-fc" value="pink-fc">
                            <span class="tree-color pink"></span>
                            <label for="pink-fc">Pink</label>
                        </div>

                        <div>
                            <input type="checkbox" id="green-fc" value="green-fc">
                            <span class="tree-color green"></span>
                            <label for="green-fc">Green</label>
                        </div>

                        <div>
                            <input type="checkbox" id="white-fc" value="white-fc">
                            <span class="tree-color white"></span>
                            <label for="white-fc">White</label>
                        </div>

                    </div>

                </details>

                <details class="checkbox-group">

                    <summary>
                    
                        <span>Autumn Colour</span>

                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="right-icon"><g data-name="Layer 2"><g data-name="arrow-ios-forward"><rect width="24" height="24" transform="rotate(-90 12 12)" opacity="0"/><path d="M10 19a1 1 0 0 1-.64-.23 1 1 0 0 1-.13-1.41L13.71 12 9.39 6.63a1 1 0 0 1 .15-1.41 1 1 0 0 1 1.46.15l4.83 6a1 1 0 0 1 0 1.27l-5 6A1 1 0 0 1 10 19z"/></g></g></svg>

                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="down-icon"><g data-name="Layer 2"><g data-name="arrow-ios-downward"><rect width="24" height="24" opacity="0"/><path d="M12 16a1 1 0 0 1-.64-.23l-6-5a1 1 0 1 1 1.28-1.54L12 13.71l5.36-4.32a1 1 0 0 1 1.41.15 1 1 0 0 1-.14 1.46l-6 4.83A1 1 0 0 1 12 16z"/></g></g></svg>
                    
                    </summary>

                    <div class="options-group">

                        <div>
                            <input type="checkbox" id="red-ac" value="red-ac">
                            <span class="tree-color red"></span>
                            <label for="red-ac">Red</label>
                        </div>

                        <div>
                            <input type="checkbox" id="orange-ac" value="orange-ac">
                            <span class="tree-color orange"></span>
                            <label for="orange-ac">Orange</label>
                        </div>

                        <div>
                            <input type="checkbox" id="yellow-ac" value="yellow-ac">
                            <span class="tree-color yellow"></span>
                            <label for="yellow-ac">Yellow</label>
                        </div>

                        <div>
                            <input type="checkbox" id="purple-ac" value="purple-ac">
                            <span class="tree-color purple"></span>
                            <label for="purple-ac">Purple</label>
                        </div>

                    </div>

                </details>

                <details class="checkbox-group">

                    <summary>
                    
                        <span>Foliage Colour</span>

                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="right-icon"><g data-name="Layer 2"><g data-name="arrow-ios-forward"><rect width="24" height="24" transform="rotate(-90 12 12)" opacity="0"/><path d="M10 19a1 1 0 0 1-.64-.23 1 1 0 0 1-.13-1.41L13.71 12 9.39 6.63a1 1 0 0 1 .15-1.41 1 1 0 0 1 1.46.15l4.83 6a1 1 0 0 1 0 1.27l-5 6A1 1 0 0 1 10 19z"/></g></g></svg>

                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="down-icon"><g data-name="Layer 2"><g data-name="arrow-ios-downward"><rect width="24" height="24" opacity="0"/><path d="M12 16a1 1 0 0 1-.64-.23l-6-5a1 1 0 1 1 1.28-1.54L12 13.71l5.36-4.32a1 1 0 0 1 1.41.15 1 1 0 0 1-.14 1.46l-6 4.83A1 1 0 0 1 12 16z"/></g></g></svg>
                    
                    </summary>

                    <div class="options-group">

                        <div>
                            <input type="checkbox" id="blue-flc" value="blue-flc">
                            <span class="tree-color blue"></span>
                            <label for="blue-flc">Blue</label>
                        </div>

                        <div>
                            <input type="checkbox" id="grey-flc" value="grey-flc">
                            <span class="tree-color grey"></span>
                            <label for="grey-flc">Grey</label>
                        </div>

                        <div>
                            <input type="checkbox" id="red-flc" value="red-flc">
                            <span class="tree-color red"></span>
                            <label for="red-flc">Red</label>
                        </div>

                        <div>
                            <input type="checkbox" id="orange-flc" value="orange-flc">
                            <span class="tree-color orange"></span>
                            <label for="orange-flc">Orange</label>
                        </div>

                        <div>
                            <input type="checkbox" id="yellow-flc" value="yellow-flc">
                            <span class="tree-color yellow"></span>
                            <label for="yellow-flc">Yellow</label>
                        </div>

                        <div>
                            <input type="checkbox" id="purple-flc" value="purple-flc">
                            <span class="tree-color purple"></span>
                            <label for="purple-flc">Purple</label>
                        </div>

                        <div>
                            <input type="checkbox" id="pink-flc" value="pink-flc">
                            <span class="tree-color pink"></span>
                            <label for="pink-flc">Pink</label>
                        </div>

                        <div>
                            <input type="checkbox" id="green-flc" value="green-flc">
                            <span class="tree-color green"></span>
                            <label for="green-flc">Green</label>
                        </div>

                        <div>
                            <input type="checkbox" id="white-flc" value="white-flc">
                            <span class="tree-color white"></span>
                            <label for="white-flc">White</label>
                        </div>

                    </div>

                </details>

            </div>

        </div>

        <div id="grid-content-right">

            <div id="tree-wrapper"></div>

            <div id="button-div">
                <button id='load-more'>Load more</button>
                <button id='return-to-top'>Return to top</button>
            </div>
        </div>

    </div>

</div>
