---
layout: layouts/base.liquid
title: Tree Planting Guide
type: page
---

<div id="content">

<h1>Tree Planting Guide</h1>

    <div id="content-inner">

        <p>It is crucial to plant a tree correctly, to ensure that it will grow well for years to come. In the past, we have seen too many trees planted incorrectly. Most of them were planted too deep.

        <p>Planting too deep will cause trees to slowly shut down and die because of the lack of warmth and air. The phloem and cambium layers of the trunk (which are the layers of cells that transport the food supply up the tree) will slowly die, and starve the whole tree of nutrients. Ultimately, this will kill the tree.

        <p><b>Over 80% of tree planting failures are due to the tree being planted too deep.</b></p>

        <img src="https://leafland.imgix.net/images/tree-planting-guide/tree-planting-guide-diagram.jpg?auto=format&w=750&q=75" width="750" height="750" alt="leafland tree planting guide">

        <h3>Planting</h3>

        <p>Dig the hole up to about 25% wider than the root ball. Make sure the hole is no deeper than the root ball.

        <p>Gently tease the outer roots away from the root ball. Then place the tree in the hole and firm up the soil around the root ball. If in heavy wet soils, mound up the site so water doesn't pond around the trunk.

        <p>In an avenue or street tree situation, bury a short section of slotted pipe such as NOVAFLO™ in the ground beside the root ball. Leave the top protruding above the surface for easy watering of the tree. The pipe can also be used for feeding the tree with fertiliser.

        <p><b>Ensure that the tree is planted with the top of the root ball at, or slightly above, ground level. The trunk flare (see diagram) should be partially visible when the tree has been planted.</b></p>

        <h3>Staking</h3>

        <p>Use two stakes for smaller trees and three stakes for larger trees, positioned beyond the root ball. For three stakes, position them in a triangle. Put the point of the triangle on the side of the prevailing wind. This will help keep the tree upright when the worst winds hit.

        <p>When staking, angle the stakes outward to increase the tension and help prevent the stakes from moving. Stakes should be solid wood or metal batons.

        <p>For tying, use something soft and non-abrasive to hold the tree (tyre tubing works well). Ties should be positioned about halfway up the tree, leaving the top to sway in the wind which will strengthen the trunk.

        <p><b>Staking is crucial for at least the first year, as it prevents the root ball from moving to allow new roots to establish.</b></p>

        <h3>Watering</h3>

        <p>After planting, water in with a good bucket of water.

        <p>If planting trees in summer, we recommend giving the trees 3 to 5 litres every day. The amount of water required depends on the variety and size of the tree. Also, the environmental conditions will affect how much water the tree needs.

        <p>In winter, a deciduous tree hardly requires any water, so don't drown it!

        <p><b>Make sure the water penetrates through the soil to reach the roots. Just sprinkling water on top of the soil will not water the tree. The soil needs to be soaked through.</b></p>

        <h3>Mulching</h3>

        <p>An effective way to retain moisture in the soil is to use mulch. This is especially important if planting from late-spring to early-autumn. Mulch also helps suppress weeds.

        <p>Cover the root zone with about 10cm of bark or mulch (not lawn clippings). Make sure to keep the mulch about 10cm away from the trunk.

        <p><b>If the mulch is piled around the trunk, the moisture can cause collar rot in the trunk and kill the tree.</b></p>

    </div>

</div>
