---
pagination:
    addAllPagesToCollections: true
    data: trees
    size: 1
    alias: tree
permalink: "trees/{{ tree.url | safe }}/"
layout: layouts/product.njk
type: product
eleventyComputed:
    botanicalName: "{{ tree.botanicalName | safe }}"
    commonName: "{{ tree.commonName | safe }}"
    metaDescription: "{{ tree.description }}"
    description: "{{ tree.description | safe }}"
    image: "https://ik.imagekit.io/leafland/images/trees/{{tree.url | safe}}.jpg?tr:w-1000,q-75,f-auto"
    url: "{{tree.url | safe }}"
    treeShape: "{{tree.treeShape}}"
    foliageColor: "{{tree.foliageColor}}"
    autumnColor: "{{tree.autumnColor}}"
    flowerColor: "{{tree.flowerColor}}"
---