---
layout: layouts/base.liquid
title: Tree Finder
type: tree-finder
description: Leafland is the home of quality specimen trees. We stock a wide range of big trees and large grade trees including native trees, fruit trees, hedging trees, and flowering trees. Buy trees online now! We provide New Zealand with quality specimen trees and deliver all over the country.
---

<div id="content">

    <div id="finder-content">

        <h1>Tree Finder</h1>

        <button id="open-filter">Filter Trees</button>

        <div id="clear-filter-buttons"></div>

        <div id="grid-content">

            <div id="tree-wrapper"></div>

            <div id="button-div">
                <button id='load-more'>Load more</button>
                <button id='return-to-top'>Return to top</button>
            </div>
        </div>

    </div>

</div>
