---
layout: layouts/base.liquid
title: Trees of the Week
type: trees-of-the-week
description: Leafland is the home of quality specimen trees. We stock a wide range of big trees and large grade trees including native trees, fruit trees, hedging trees, and flowering trees. Buy trees online now! We provide New Zealand with quality specimen trees and deliver all over the country.
---

<div id="content">

    <div class="title-container">
        <p>Updated: 26th October 2022</p>
        <h1>Trees of the Week</h1>
    </div>

    <div id="tree-wrapper">

        <div class="tree-item">

            <div class="title-container">

                <p>Callery Pear</p>
                
                <h2><i>Pyrus</i> <i>calleryana</i> 'Bradford'</h2>
                
            </div>

            <p>Pyramidal-growing tree with densely-packed branches. A profusion of white, early-spring blossoms is a stunning feature. Glossy green leaves turn red, orange, and maroon in autumn. Excellent street tree.</p>

            <div class="stock-div">

                <table class="product-list-table">
                    <thead>
                        <tr>
                            <th>Grade</th>
                            <th class="retail-price">$Retail</th>
                            <th class="wholesale-price">$Wholesale</th>
                            <th>Height (m)</th>
                            <th>Standard Height (m)</th>
                            <th>Ready</th>
                            <th>In Production</th>
                        </tr>
                    </thead>
                    <tbody id="product-list-table-inner">
                        <tr>
                            <td>45L</td>
                            <td class="retail-price">$190+GST</td>
                            <td class="wholesale-price">$152+GST</td>
                            <td>2.7m</td>
                            <td>-</td>
                            <td>40</td>
                            <td>212</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <a href="/trees/pyrus-calleryana-bradford/" class="button">Order Now</a>

            <div class="image-div">

                    <div class="image-group">
                        <img src="https://leafland.co.nz/cdn-cgi/image/format=auto,metadata=none,quality=75,width=750/https://files.leafland.co.nz/pyrus-calleryana-bradford/grades/pyrus-calleryana-bradford-45L-grade.jpg" width="750" height="750">
                        <span class="image-group-text">45L Grade</span>
                    </div>

                    <div class="image-group">
                        <img src="https://leafland.co.nz/cdn-cgi/image/format=auto,metadata=none,quality=75,width=750/https://files.leafland.co.nz/pyrus-calleryana-bradford/pyrus-calleryana-bradford.jpg" width="750" height="750">
                    </div>

                    <div class="image-group">
                        <img src="https://leafland.co.nz/cdn-cgi/image/format=auto,metadata=none,quality=75,width=750/https://files.leafland.co.nz/pyrus-calleryana-bradford/pyrus-calleryana-bradford-flowering-avenue.jpg" width="750" height="750">
                    </div>

            </div>

        </div>

        <div class="tree-item">

            <div class="title-container">

                <p>Japanese Maple</p>
                
                <h2><i>Acer</i> <i>palmatum</i> var. <i>dissectum</i> 'Tamukeyama'</h2>
                
            </div>

            <p>Crimson-red, finely-cut spring leaves. Purple-red leaves through summer, turning scarlet in autumn. A strong, mound-forming grower. Prefers moist, well-drained soils. May suffer leaf scorch from excess sun, wind, and drought. Cold hardy and great for bonsai. <i>Acer palmatum</i> is native to Japan, Korea, China, eastern Mongolia, and southeast Russia. <a href='https://en.wikipedia.org/wiki/Acer_palmatum' target='_blank' rel='noopener noreferrer'>Learn more about <i>Acer palmatum</i></a>. <i>Acer</i> <i>palmatum</i> var. <i>dissectum</i> 'Tamukeyama' was developed in Japan and introduced into Europe in 1710 and then later into the United States.</p>

            <div class="stock-div">

                <table class="product-list-table">
                    <thead>
                        <tr>
                            <th>Grade</th>
                            <th class="retail-price">$Retail</th>
                            <th class="wholesale-price">$Wholesale</th>
                            <th>Height (m)</th>
                            <th>Standard Height (m)</th>
                            <th>Ready</th>
                            <th>In Production</th>
                        </tr>
                    </thead>
                    <tbody id="product-list-table-inner">
                        <tr>
                            <td>45L</td>
                            <td class="retail-price">$169+GST</td>
                            <td class="wholesale-price">$135+GST</td>
                            <td>1.2m</td>
                            <td>1m</td>
                            <td>50</td>
                            <td>0</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <a href="/trees/acer-palmatum-var-dissectum-tamukeyama/" class="button">Order Now</a>

            <div class="image-div">

                    <div class="image-group">
                        <img src="https://leafland.co.nz/cdn-cgi/image/format=auto,metadata=none,quality=75,width=750/https://files.leafland.co.nz/acer-palmatum-var-dissectum-tamukeyama/grades/acer-palmatum-var-dissectum-tamukeyama-45L-grade.jpg" width="750" height="750">
                        <span class="image-group-text">45L Grade</span>
                    </div>

                    <div class="image-group">
                        <img src="https://leafland.co.nz/cdn-cgi/image/format=auto,metadata=none,quality=75,width=750/https://files.leafland.co.nz/acer-palmatum-var-dissectum-tamukeyama/acer-palmatum-var-dissectum-tamukeyama-spring-foliage.jpeg" width="750" height="750">
                    </div>

                    <div class="image-group">
                        <img src="https://leafland.co.nz/cdn-cgi/image/format=auto,metadata=none,quality=75,width=750/https://files.leafland.co.nz/acer-palmatum-var-dissectum-tamukeyama/acer-palmatum-var-dissectum-tamukeyama.jpg" width="750" height="750">
                    </div>

            </div>

        </div>

        <div class="tree-item">

            <div class="title-container">

                <p>Japanese Maple</p>
                
                <h2><i>Acer</i> <i>palmatum</i> 'Red Emperor'</h2>
                
            </div>

            <p>Finely-serrated leaves are bright-red in spring before maturing to purple in summer. Brilliant red autumn foliage. Upright, spreading grower. Ideal for the smaller garden. Prefers moist, well-drained soils. May suffer leaf scorch from excess sun, wind, and drought. Cold hardy and great for bonsai. <i>Acer palmatum</i> is native to Japan, Korea, China, eastern Mongolia, and southeast Russia. <a href='https://en.wikipedia.org/wiki/Acer_palmatum' target='_blank' rel='noopener noreferrer'>Learn more about <i>Acer palmatum</i></a>. <i>Acer</i> <i>palmatum</i> 'Red Emperor' was introduced by Dick Wolff of Red Maple Nursery in Pennsylvania, United States in 1976.</p>

            <div class="stock-div">

                <table class="product-list-table">
                    <thead>
                        <tr>
                            <th>Grade</th>
                            <th class="retail-price">$Retail</th>
                            <th class="wholesale-price">$Wholesale</th>
                            <th>Height (m)</th>
                            <th>Standard Height (m)</th>
                            <th>Ready</th>
                            <th>In Production</th>
                        </tr>
                    </thead>
                    <tbody id="product-list-table-inner">
                        <tr>
                            <td>45L</td>
                            <td class="retail-price">$169+GST</td>
                            <td class="wholesale-price">$135+GST</td>
                            <td>2.2m</td>
                            <td>-</td>
                            <td>30</td>
                            <td>0</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <a href="/trees/acer-palmatum-red-emperor/" class="button">Order Now</a>

            <div class="image-div">

                    <div class="image-group">
                        <img src="https://leafland.co.nz/cdn-cgi/image/format=auto,metadata=none,quality=75,width=750/https://files.leafland.co.nz/acer-palmatum-red-emperor/grades/acer-palmatum-red-emperor-45L-grade.jpg" width="750" height="750">
                        <span class="image-group-text">45L Grade</span>
                    </div>

                    <div class="image-group">
                        <img src="https://leafland.co.nz/cdn-cgi/image/format=auto,metadata=none,quality=75,width=750/https://files.leafland.co.nz/acer-palmatum-red-emperor/acer-palmatum-red-emperor-garden.jpg" width="750" height="750">
                    </div>

                    <div class="image-group">
                        <img src="https://leafland.co.nz/cdn-cgi/image/format=auto,metadata=none,quality=75,width=750/https://files.leafland.co.nz/acer-palmatum-red-emperor/acer-palmatum-red-emperor-new-foliage.jpeg" width="750" height="750">
                    </div>

            </div>

        </div>

        <div class="tree-item">

            <div class="title-container">

                <p>Japanese Maple</p>
                
                <h2><i>Acer</i> <i>palmatum</i> 'Osakazuki'</h2>
                
            </div>

            <p>New leaves emerge green-orange before changing to green in summer. Autumn leaves are crimson-red. Prefers moist, well-drained soils. May suffer leaf scorch from excess sun, wind, and drought. However, is more leaf scorch resistant than most Japanese maples, and is more tolerate of wind and drought. Cold hardy and great for bonsai. <i>Acer palmatum</i> is native to Japan, Korea, China, eastern Mongolia, and southeast Russia. <a href='https://en.wikipedia.org/wiki/Acer_palmatum' target='_blank' rel='noopener noreferrer'>Learn more about <i>Acer palmatum</i></a>. <i>Acer</i> <i>palmatum</i> 'Osakazuki' was developed in Japan in 1882.</p>

            <div class="stock-div">

                <table class="product-list-table">
                    <thead>
                        <tr>
                            <th>Grade</th>
                            <th class="retail-price">$Retail</th>
                            <th class="wholesale-price">$Wholesale</th>
                            <th>Height (m)</th>
                            <th>Standard Height (m)</th>
                            <th>Ready</th>
                            <th>In Production</th>
                        </tr>
                    </thead>
                    <tbody id="product-list-table-inner">
                        <tr>
                            <td>45L</td>
                            <td class="retail-price">$169+GST</td>
                            <td class="wholesale-price">$135+GST</td>
                            <td>2m</td>
                            <td>-</td>
                            <td>55</td>
                            <td>0</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <a href="/trees/acer-palmatum-osakazuki/" class="button">Order Now</a>

            <div class="image-div">

                    <div class="image-group">
                        <img src="https://leafland.co.nz/cdn-cgi/image/format=auto,metadata=none,quality=75,width=750/https://files.leafland.co.nz/acer-palmatum-osakazuki/grades/acer-palmatum-osakazuki-45L-grade.jpg" width="750" height="750">
                        <span class="image-group-text">45L Grade</span>
                    </div>

                    <div class="image-group">
                        <img src="https://leafland.co.nz/cdn-cgi/image/format=auto,metadata=none,quality=75,width=750/https://files.leafland.co.nz/acer-palmatum-osakazuki/acer-palmatum-osakazuki.jpg" width="750" height="750">
                    </div>

                    <div class="image-group">
                        <img src="https://leafland.co.nz/cdn-cgi/image/format=auto,metadata=none,quality=75,width=750/https://files.leafland.co.nz/acer-palmatum-osakazuki/acer-palmatum-osakazuki-autumn-colours.jpg" width="750" height="750">
                    </div>

            </div>

        </div>

        <div class="tree-item">

            <div class="title-container">

                <p>Japanese Maple</p>
                
                <h2><i>Acer</i> <i>palmatum</i> 'Scolopendrifolium'</h2>
                
            </div>

            <p>Has bright-green leaves that are distinctively long and drooping. A tall and elegant grower. Autumn leaves are apricot and orange coloured. Prefers moist, well-drained soils. May suffer leaf scorch from excess sun, wind, and drought. Cold hardy and great for bonsai. <i>Acer palmatum</i> is native to Japan, Korea, China, eastern Mongolia, and southeast Russia. <a href='https://en.wikipedia.org/wiki/Acer_palmatum' target='_blank' rel='noopener noreferrer'>Learn more about <i>Acer palmatum</i></a>.</p>

            <div class="stock-div">

                <table class="product-list-table">
                    <thead>
                        <tr>
                            <th>Grade</th>
                            <th class="retail-price">$Retail</th>
                            <th class="wholesale-price">$Wholesale</th>
                            <th>Height (m)</th>
                            <th>Standard Height (m)</th>
                            <th>Ready</th>
                            <th>In Production</th>
                        </tr>
                    </thead>
                    <tbody id="product-list-table-inner">
                        <tr>
                            <td>60L</td>
                            <td class="retail-price">$225+GST</td>
                            <td class="wholesale-price">$180+GST</td>
                            <td>2m</td>
                            <td>-</td>
                            <td>50</td>
                            <td>0</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <a href="/trees/acer-palmatum-scolopendrifolium/" class="button">Order Now</a>

            <div class="image-div">

                    <div class="image-group">
                        <img src="https://leafland.co.nz/cdn-cgi/image/format=auto,metadata=none,quality=75,width=750/https://files.leafland.co.nz/acer-palmatum-scolopendrifolium/grades/acer-palmatum-scolopendrifolium-60L-grade.jpg" width="750" height="750">
                        <span class="image-group-text">60L Grade</span>
                    </div>

                    <div class="image-group">
                        <img src="https://leafland.co.nz/cdn-cgi/image/format=auto,metadata=none,quality=75,width=750/https://files.leafland.co.nz/acer-palmatum-scolopendrifolium/acer-palmatum-scolopendrifolium.jpg" width="750" height="750">
                    </div>

                    <div class="image-group">
                        <img src="https://leafland.co.nz/cdn-cgi/image/format=auto,metadata=none,quality=75,width=750/https://files.leafland.co.nz/acer-palmatum-scolopendrifolium/acer-palmatum-scolopendrifolium-autumn-tree.jpg" width="750" height="750">
                    </div>

            </div>

        </div>

        <div class="tree-item">

            <div class="title-container">

                <p>Swamp Cypress</p>
                
                <h2><i>Taxodium</i> <i>distichum</i></h2>
                
            </div>

            <p>Pyramidal tree with soft-green, feathery spring leaves. The leaves turn russet and gold in autumn and persist well into winter. Will grow in up to 0.6m depth of water, but will thrive in all marshy ground and ordinary garden soil as well.</p>

            <div class="stock-div">

                <table class="product-list-table">
                    <thead>
                        <tr>
                            <th>Grade</th>
                            <th class="retail-price">$Retail</th>
                            <th class="wholesale-price">$Wholesale</th>
                            <th>Height (m)</th>
                            <th>Standard Height (m)</th>
                            <th>Ready</th>
                            <th>In Production</th>
                        </tr>
                    </thead>
                    <tbody id="product-list-table-inner">
                        <tr>
                            <td>45L</td>
                            <td class="retail-price">$169+GST</td>
                            <td class="wholesale-price">$135+GST</td>
                            <td>2m</td>
                            <td>-</td>
                            <td>30</td>
                            <td>0</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <a href="/trees/taxodium-distichum/" class="button">Order Now</a>

            <div class="image-div">

                    <div class="image-group">
                        <img src="https://leafland.co.nz/cdn-cgi/image/format=auto,metadata=none,quality=75,width=750/https://files.leafland.co.nz/taxodium-distichum/grades/taxodium-distichum-45L-grade.jpg" width="750" height="750">
                        <span class="image-group-text">45L Grade</span>
                    </div>

                    <div class="image-group">
                        <img src="https://leafland.co.nz/cdn-cgi/image/format=auto,metadata=none,quality=75,width=750/https://files.leafland.co.nz/taxodium-distichum/taxodium-distichum.jpg" width="750" height="750">
                    </div>

            </div>

        </div>

        <div class="tree-item">

            <div class="title-container">

                <p>Italian Alder</p>
                
                <h2><i>Alnus</i> <i>cordata</i></h2>
                
            </div>

            <p>Shining, heart-shaped, green leaves. A quick-growing, upright form. Will grow in moist, swampy soils and will also tolerate dry, infertile soils. Useful for erosion control and windbreaks. Great as a street or shade tree. Yellow-green catkins are a source of pollen for bees in early to mid-spring. Fixes nitrogen in the soil, so good for improving soil conditions for other plants. <i>Alnus cordata</i> is native to the southern Apennine Mountains in Italy (Campania, Basilicata and Calabria, mainly on western mountain sides) and the north-eastern mountains of Corsica. <a href='https://en.wikipedia.org/wiki/Alnus_cordata' target='_blank' rel='noopener noreferrer'>Learn more about <i>Alnus cordata</i></a>.</p>

            <div class="stock-div">

                <table class="product-list-table">
                    <thead>
                        <tr>
                            <th>Grade</th>
                            <th class="retail-price">$Retail</th>
                            <th class="wholesale-price">$Wholesale</th>
                            <th>Height (m)</th>
                            <th>Standard Height (m)</th>
                            <th>Ready</th>
                            <th>In Production</th>
                        </tr>
                    </thead>
                    <tbody id="product-list-table-inner">
                        <tr>
                            <td>80L</td>
                            <td class="retail-price">$338+GST</td>
                            <td class="wholesale-price">$270+GST</td>
                            <td>3.6m</td>
                            <td>-</td>
                            <td>15</td>
                            <td>8</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <a href="/trees/alnus-cordata/" class="button">Order Now</a>

            <div class="image-div">

                    <div class="image-group">
                        <img src="https://leafland.co.nz/cdn-cgi/image/format=auto,metadata=none,quality=75,width=750/https://files.leafland.co.nz/alnus-cordata/grades/alnus-cordata-80L-grade.jpg" width="750" height="750">
                        <span class="image-group-text">80L Grade</span>
                    </div>

                    <div class="image-group">
                        <img src="https://leafland.co.nz/cdn-cgi/image/format=auto,metadata=none,quality=75,width=750/https://files.leafland.co.nz/alnus-cordata/alnus-cordata-by-house.jpg" width="750" height="750">
                    </div>

                    <div class="image-group">
                        <img src="https://leafland.co.nz/cdn-cgi/image/format=auto,metadata=none,quality=75,width=750/https://files.leafland.co.nz/alnus-cordata/alnus-cordata-hedge.jpg" width="750" height="750">
                    </div>

            </div>

        </div>
    
    </div>

</div>
