---
pagination:
    addAllPagesToCollections: true
    data: trees
    size: 1
    alias: tree
permalink: "trees/{{ tree.url | safe }}/"
layout: layouts/product.njk
type: product
eleventyComputed:
    botanicalName: "{{ tree.botanicalName | safe }}"
    commonName: "{{ tree.commonName | safe }}"
    description: "{{ tree.description | safe }}"
    image: "https://ik.imagekit.io/leafland/images/trees/{{tree.url | safe}}.jpg?tr:w-1000,q-75,f-auto"
    url: "{{tree.url | safe }}"
    treeShape: "{{tree.treeShape}}"
    foliageColor: "{{tree.foliageColor}}"
    autumnColor: "{{tree.autumnColor}}"
    flowerColor: "{{tree.flowerColor}}"
    tolerates: "{{tree.tolerates}}"
    soilType: "{{tree.soilType}}"
    sunShade: "{{tree.sunShade}}"
    uses: "{{tree.uses}}"
    types: "{{tree.types}}"
    winterFoliage: "{{tree.winterFoliage}}"
    origin: "{{tree.origin}}"
    height: "{{tree.height}}"
    width: "{{tree.width}}"
    floweringSeason: "{{tree.floweringSeason}}"
    fruitingSeason: "{{tree.fruitingSeason}}"
---