---
layout: layouts/base.liquid
title: Trees of the Week
type: trees-of-the-week
description: Leafland is the home of quality specimen trees. We stock a wide range of big trees and large grade trees including native trees, fruit trees, hedging trees, and flowering trees. Buy trees online now! We provide New Zealand with quality specimen trees and deliver all over the country.
---

<div id="content">

    <div class="title-container">
        <p>Updated: 1st November 2022</p>
        <h1>Trees of the Week</h1>
    </div>

    <div id="tree-wrapper">

        <div class="tree-item">

            <div class="title-container">

                <p>Evergreen Alder</p>
                
                <h2><i>Alnus</i> <i>jorullensis</i></h2>
                
            </div>

            <p>Fast-growing. Has long, green, toothed leaves. Can be easily pruned to any shape. Excellent as a dense screen. Yellow-green catkins are a source of pollen for bees in early to mid-spring. Fixes nitrogen in the soil, so good for improving soil conditions for other plants. <i>Alnus jorullensis</i> is native to eastern and southern Mexico, Guatemala, and Honduras. <a href='https://en.wikipedia.org/wiki/Alnus_jorullensis' target='_blank' rel='noopener noreferrer'>Learn more about <i>Alnus jorullensis</i></a>.</p>

            <div class="stock-div">

                <table class="product-list-table">
                    <thead>
                        <tr>
                            <th>Grade</th>
                            <th class="retail-price">$Retail</th>
                            <th class="wholesale-price">$Wholesale</th>
                            <th>Height (m)</th>
                            <th>Standard Height (m)</th>
                            <th>Ready</th>
                            <th>In Production</th>
                        </tr>
                    </thead>
                    <tbody id="product-list-table-inner">
                        <tr>
                            <td>45L</td>
                            <td class="retail-price">$200+GST</td>
                            <td class="wholesale-price">$160+GST</td>
                            <td>2.5m</td>
                            <td>-</td>
                            <td>0 <span class="special-text">(NOW SOLD OUT)</span></td>
                            <td>0</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <a href="/trees/alnus-jorullensis/" class="button">Order Now</a>

            <div class="image-div">

                    <div class="image-group">
                        <img src="https://leafland.co.nz/cdn-cgi/image/format=auto,metadata=none,quality=75,width=750/https://files.leafland.co.nz/alnus-jorullensis/grades/alnus-jorullensis-45L-grade.jpeg" width="750" height="750">
                        <span class="image-group-text">45L Grade</span>
                    </div>

                    <div class="image-group">
                        <img src="https://leafland.co.nz/cdn-cgi/image/format=auto,metadata=none,quality=75,width=750/https://files.leafland.co.nz/alnus-jorullensis/alnus-jorullensis-hedge.jpg" width="750" height="750">
                    </div>

                    <div class="image-group">
                        <img src="https://leafland.co.nz/cdn-cgi/image/format=auto,metadata=none,quality=75,width=750/https://files.leafland.co.nz/alnus-jorullensis/alnus-jorullensis-foliage.jpg" width="750" height="750">
                    </div>

            </div>

        </div>

        <div class="tree-item">

            <div class="title-container">

                <p>Himalayan Cedar</p>
                
                <h2><i>Cedrus</i> <i>deodara</i></h2>
                
            </div>

            <p>An upright-growing conifer with a strong, pyramidal form. The evenly-spaced branches are gracefully-pendulous at their tips giving a soft appearance, but shaped this way to shake off snow. The light-blue to grey-green needles are generously-frosted. <i>Cedrus</i> <i>deodara</i> is native to the Himalayas. <a href='https://en.wikipedia.org/wiki/Cedrus_deodara' target='_blank' rel='noopener noreferrer'>Learn more about <i>Cedrus</i> <i>deodara</i></a>.</p>

            <div class="stock-div">

                <table class="product-list-table">
                    <thead>
                        <tr>
                            <th>Grade</th>
                            <th class="retail-price">$Retail</th>
                            <th class="wholesale-price">$Wholesale</th>
                            <th>Height (m)</th>
                            <th>Standard Height (m)</th>
                            <th>Ready</th>
                            <th>In Production</th>
                        </tr>
                    </thead>
                    <tbody id="product-list-table-inner">
                        <tr>
                            <td>80L</td>
                            <td class="retail-price">$338+GST</td>
                            <td class="wholesale-price">$270+GST</td>
                            <td>2.5m</td>
                            <td>-</td>
                            <td>8</td>
                            <td>0</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <a href="/trees/cedrus-deodara/" class="button">Order Now</a>

            <div class="image-div">

                    <div class="image-group">
                        <img src="https://leafland.co.nz/cdn-cgi/image/format=auto,metadata=none,quality=75,width=750/https://files.leafland.co.nz/cedrus-deodara/grades/cedrus-deodara-80L-grade.jpg" width="750" height="750">
                        <span class="image-group-text">80L Grade</span>
                    </div>

                    <div class="image-group">
                        <img src="https://leafland.co.nz/cdn-cgi/image/format=auto,metadata=none,quality=75,width=750/https://files.leafland.co.nz/cedrus-deodara/cedrus-deodara-garden.jpg" width="750" height="750">
                    </div>

                    <div class="image-group">
                        <img src="https://leafland.co.nz/cdn-cgi/image/format=auto,metadata=none,quality=75,width=750/https://files.leafland.co.nz/cedrus-deodara/cedrus-deodara-park.jpg" width="750" height="750">
                    </div>

            </div>

        </div>

        <div class="tree-item">

            <div class="title-container">

                <p>Prairie Crabapple</p>
                
                <h2><i>Malus</i> <i>ioensis</i> 'Plena'</h2>
                
            </div>

            <p>Vase-shaped tree. In late-spring, a profusion of large, pink-white, semi-double flowers appear from pink buds. Lovely yellow, orange, and red autumn leaves. Hardly produces any fruit. Excellent street tree.</p>

            <div class="stock-div">

                <table class="product-list-table">
                    <thead>
                        <tr>
                            <th>Grade</th>
                            <th class="retail-price">$Retail</th>
                            <th class="wholesale-price">$Wholesale</th>
                            <th>Height (m)</th>
                            <th>Standard Height (m)</th>
                            <th>Ready</th>
                            <th>In Production</th>
                        </tr>
                    </thead>
                    <tbody id="product-list-table-inner">
                        <tr>
                            <td>35L</td>
                            <td class="retail-price">$125+GST</td>
                            <td class="wholesale-price">$100+GST</td>
                            <td>2m</td>
                            <td>-</td>
                            <td>176</td>
                            <td>46</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <a href="/trees/malus-ioensis-plena/" class="button">Order Now</a>

            <div class="image-div">

                    <div class="image-group">
                        <img src="https://leafland.co.nz/cdn-cgi/image/format=auto,metadata=none,quality=75,width=750/https://files.leafland.co.nz/malus-ioensis-plena/grades/malus-ioensis-plena-35L-grade.jpeg" width="750" height="750">
                        <span class="image-group-text">35L Grade</span>
                    </div>

                    <div class="image-group">
                        <img src="https://leafland.co.nz/cdn-cgi/image/format=auto,metadata=none,quality=75,width=750/https://files.leafland.co.nz/malus-ioensis-plena/malus-ioensis-plena-flower.jpg" width="750" height="750">
                    </div>

                    <div class="image-group">
                        <img src="https://leafland.co.nz/cdn-cgi/image/format=auto,metadata=none,quality=75,width=750/https://files.leafland.co.nz/malus-ioensis-plena/malus-ioensis-plena-flowering.jpg" width="750" height="750">
                    </div>

            </div>

        </div>

        <div class="tree-item">

            <div class="title-container">

                <p>Puka</p>
                
                <h2><i>Meryta</i> <i>sinclairii</i></h2>
                
            </div>

            <p>A striking tree with a tropical appearance, having large, paddle-shaped leaves of glossy light-green. Prefers a sunny position which is frost-free. Tolerates coastal exposure. When grown on the coast, grows a lot more bushy and lower. Excellent for containers.</p>

            <div class="stock-div">

                <table class="product-list-table">
                    <thead>
                        <tr>
                            <th>Grade</th>
                            <th class="retail-price">$Retail</th>
                            <th class="wholesale-price">$Wholesale</th>
                            <th>Height (m)</th>
                            <th>Standard Height (m)</th>
                            <th>Ready</th>
                            <th>In Production</th>
                        </tr>
                    </thead>
                    <tbody id="product-list-table-inner">
                        <tr>
                            <td>80L</td>
                            <td class="retail-price">$338+GST</td>
                            <td class="wholesale-price">$270+GST</td>
                            <td>1.7m</td>
                            <td>-</td>
                            <td>8</td>
                            <td>0</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <a href="/trees/meryta-sinclairii/" class="button">Order Now</a>

            <div class="image-div">

                    <div class="image-group">
                        <img src="https://leafland.co.nz/cdn-cgi/image/format=auto,metadata=none,quality=75,width=750/https://files.leafland.co.nz/meryta-sinclairii/grades/meryta-sinclairii-80L-grade.jpeg" width="750" height="750">
                        <span class="image-group-text">80L Grade</span>
                    </div>

                    <div class="image-group">
                        <img src="https://leafland.co.nz/cdn-cgi/image/format=auto,metadata=none,quality=75,width=750/https://files.leafland.co.nz/meryta-sinclairii/meryta-sinclairii.jpg" width="750" height="750">
                    </div>

                    <div class="image-group">
                        <img src="https://leafland.co.nz/cdn-cgi/image/format=auto,metadata=none,quality=75,width=750/https://files.leafland.co.nz/meryta-sinclairii/meryta-sinclairii-foliage.jpg" width="750" height="750">
                    </div>

            </div>

        </div>

        <div class="tree-item">

            <div class="title-container">

                <p>Parlatore's Podocarp</p>
                
                <h2><i>Podocarpus</i> <i>parlatorei</i></h2>
                
            </div>

            <p>A fast growing conifer, native of South America. Makes an excellent hedge or screen, as responds well to trimming. Light-green new leaves mature shiny deep-green.</p>

            <div class="stock-div">

                <table class="product-list-table">
                    <thead>
                        <tr>
                            <th>Grade</th>
                            <th class="retail-price">$Retail</th>
                            <th class="wholesale-price">$Wholesale</th>
                            <th>Height (m)</th>
                            <th>Standard Height (m)</th>
                            <th>Ready</th>
                            <th>In Production</th>
                        </tr>
                    </thead>
                    <tbody id="product-list-table-inner">
                        <tr>
                            <td>80L</td>
                            <td class="retail-price">$400+GST</td>
                            <td class="wholesale-price">$320+GST</td>
                            <td>2.4m</td>
                            <td>1.7m</td>
                            <td>13</td>
                            <td>0</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <a href="/trees/podocarpus-parlatorei/" class="button">Order Now</a>

            <div class="image-div">

                    <div class="image-group">
                        <img src="https://leafland.co.nz/cdn-cgi/image/format=auto,metadata=none,quality=75,width=750/https://files.leafland.co.nz/podocarpus-parlatorei/grades/podocarpus-parlatorei-80L-grade.jpeg" width="750" height="750">
                        <span class="image-group-text">80L Grade</span>
                    </div>

                    <div class="image-group">
                        <img src="https://leafland.co.nz/cdn-cgi/image/format=auto,metadata=none,quality=75,width=750/https://files.leafland.co.nz/podocarpus-parlatorei/podocarpus-parlatorei-mature-tree.jpg" width="750" height="750">
                    </div>

                    <div class="image-group">
                        <img src="https://leafland.co.nz/cdn-cgi/image/format=auto,metadata=none,quality=75,width=750/https://files.leafland.co.nz/podocarpus-parlatorei/podocarpus-parlatorei-foliage.jpg" width="750" height="750">
                    </div>

            </div>

        </div>

        <div class="tree-item">

            <div class="title-container">

                <p>Hawthorn</p>
                
                <h2><i>Crataegus</i> x <i>media</i> 'Paul's Scarlet'</h2>
                
            </div>

            <p>Upright tree with a compact, rounded head. Impressive heads of double crimson-red flowers smother the tree in late-spring. Produces red fruits in autumn that birds love. Excellent street tree. Doesn't develop any appreciable autumn colour. Branches have thorns. A very tough tree that will grow in almost all conditions. <a href='https://en.wikipedia.org/wiki/Crataegus_%C3%97_media' target='_blank' rel='noopener noreferrer'><i>Crataegus</i> x <i>media</i></a> is a hybrid between <a href='https://en.wikipedia.org/wiki/Crataegus_monogyna' target='_blank' rel='noopener noreferrer'><i>Crataegus monogyna</i></a> and <a href='https://en.wikipedia.org/wiki/Crataegus_laevigata' target='_blank' rel='noopener noreferrer'><i>Crataegus laevigata</i></a>. <i>Crataegus</i> x <i>media</i> is native to Estonia, Latvia, Lithuania, Belgium, France, Great Britain, Hungary, Ireland, and Poland. <a href='https://en.wikipedia.org/wiki/Crataegus_%C3%97_media' target='_blank' rel='noopener noreferrer'>Learn more about <i>Crataegus</i> x <i>media</i></a>. <i>Crataegus</i> x <i>media</i> 'Paul's Scarlet' originated in 1858 as a sport growing on a <a href='/trees/crataegus-x-media-rosea-flore-pleno'><i>Crataegus</i> x <i>media</i> 'Rosea Flore Pleno'</a> in the garden of Christopher Boyd near Waltham Cross, England. <i>Crataegus</i> x <i>media</i> 'Paul's Scarlet' was propagated by William Paul and unveiled at the International Horticultural Exhibition of 1866.</p>

            <div class="stock-div">

                <table class="product-list-table">
                    <thead>
                        <tr>
                            <th>Grade</th>
                            <th class="retail-price">$Retail</th>
                            <th class="wholesale-price">$Wholesale</th>
                            <th>Height (m)</th>
                            <th>Standard Height (m)</th>
                            <th>Ready</th>
                            <th>In Production</th>
                        </tr>
                    </thead>
                    <tbody id="product-list-table-inner">
                        <tr>
                            <td>35L</td>
                            <td class="retail-price">$125+GST</td>
                            <td class="wholesale-price">$100+GST</td>
                            <td>2.5m</td>
                            <td>-</td>
                            <td>50</td>
                            <td>0</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <a href="/trees/crataegus-x-media-pauls-scarlet/" class="button">Order Now</a>

            <div class="image-div">

                    <div class="image-group">
                        <img src="https://leafland.co.nz/cdn-cgi/image/format=auto,metadata=none,quality=75,width=750/https://files.leafland.co.nz/crataegus-x-media-pauls-scarlet/grades/crataegus-x-media-pauls-scarlet-35L-grade.jpeg" width="750" height="750">
                        <span class="image-group-text">35L Grade</span>
                    </div>

                    <div class="image-group">
                        <img src="https://leafland.co.nz/cdn-cgi/image/format=auto,metadata=none,quality=75,width=750/https://files.leafland.co.nz/crataegus-x-media-pauls-scarlet/crataegus-x-media-pauls-scarlet.jpg" width="750" height="750">
                    </div>

                    <div class="image-group">
                        <img src="https://leafland.co.nz/cdn-cgi/image/format=auto,metadata=none,quality=75,width=750/https://files.leafland.co.nz/crataegus-x-media-pauls-scarlet/crataegus-x-media-pauls-scarlet-flowers.jpg" width="750" height="750">
                    </div>

            </div>

        </div>
    
    </div>

</div>
