---
eleventyExcludeFromCollections: true
layout: layouts/base.liquid
title: Wholesale Stock List
type: stock-list
description: Leafland is the home of quality specimen trees. We stock a wide range of big trees and large grade trees including native trees, fruit trees, hedging trees, and flowering trees. Buy trees online now! We provide New Zealand with quality specimen trees and deliver all over the country.
---

<div id="content">

    <h1>Wholesale Stock List</h1>

    <p>All prices exclude GST.</p>
    
    <div class="search-section">

        <input type="text" class="search" placeholder="Search trees..." disabled/>

    </div>

    <div id='filter-section'>

        <div>

            <input type="checkbox" id="hide-out-of-stock" name="hide-out-of-stock">
            <label for="hide-out-of-stock">Hide out of stock</label>

        </div>

        <div>

            <input type="checkbox" id="filter-deciduous" name="filter-deciduous">
            <label for="filter-deciduous">Deciduous</label>

        </div>

        <div>

            <input type="checkbox" id="filter-evergreen" name="filter-evergreen">
            <label for="filter-evergreen">Evergreen</label>

        </div>

        <div>

            <input type="checkbox" id="filter-semi-evergreen" name="filter-semi-evergreen">
            <label for="filter-semi-evergreen">Semi-evergreen</label>

        </div>

        <div>

            <input type="checkbox" id="filter-edible" name="filter-edible">
            <label for="filter-edible">Edible</label>

        </div>

        <div>

            <input type="checkbox" id="filter-native" name="filter-native">
            <label for="filter-native">Native</label>

        </div>

    </div>
    
    <div id="stock-data"></div>

    <div id="result-totals"></div>

    <div id="pagination">

        <button id="prev">Prev</button>
        <button id="next">Next</button>

    </div>

</div>
